<!DOCTYPE html>
<html>
<head>
  <title>Keppler language</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "keppler_language/application", media: "all" %>
  <%= javascript_include_tag "keppler_language/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
