.front
	.front-container
		.front-logo-horizontal
			.front-logo-vertical
				= image_tag "frontend/keppler-front.png", class: "front-logo img-responsive"
				.row.front-social
					.col-lg-3.col-md-3.col-sm-3.col-xs-3
						%center
							=	link_to "https://twitter.com/Inyxtech", target:"_blank" do
								= icon 'twitter'
					.col-lg-3.col-md-3.col-sm-3.col-xs-3
						%center
							=	link_to "https://www.facebook.com/Inyxtech", target:"_blank" do
								= icon 'facebook'
					.col-lg-3.col-md-3.col-sm-3.col-xs-3
						%center
							=	link_to "https://instagram.com/inyxtech/", target:"_blank" do
								= icon 'instagram'
					.col-lg-3.col-md-3.col-sm-3.col-xs-3
						%center
							=	link_to "https://github.com/inyxtech/Keppler-CMS", target:"_blank" do
								= icon 'github'
			.front-footer.navbar-fixed-bottom
				%center
					%span Powered by
					= link_to "https://inyxtech.com", target:"_blank" do
						= image_tag "frontend/inyxtech-front.png"