= javascript_include_tag '/assets/keppler_contact_us/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js'

= simple_form_for [:admin, :frontend, @function] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_frontend_functions_path, "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{action_name.underscore}")
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .row
                    .col-xs-12
                      = f.input :name
                    .col-xs-12
                      = f.input :description
                    .col-xs-12
                      = f.input :position, as: :hidden
                    .col-xs-12
                      = f.input :deleted_at, as: :hidden

    .row
      .col-lg-12
        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= t("keppler_capsules.form.parameters")
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .row
                    .col-xs-12
                      = f.simple_fields_for :parameters do |parameter|
                        - if parameter.object.name && @function.id
                          = render 'parameter_fields_edit', f: parameter
                        - else
                          = render 'parameter_fields', f: parameter
                      .links
                        = link_to_add_association "<button class='btn btn-default'> + Añadir atributo </button>".html_safe, f, :parameters
                    .col-xs-12
                      .pull-right
                        = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
