- objects.each do |<%= MODULE_NAME %>|
  %tr{ id: "row-#{<%= MODULE_NAME %>.id}" }
    %td.item-check{ style: 'width: 10%' }
      - if can?(<%= MODULE_NAME.camelcase %>).destroy_multiple?
        .checkbox
          %label{ for: "checkbox-#{<%= MODULE_NAME %>.id}" }
            %input{ type:"checkbox", id: "checkbox-#{<%= MODULE_NAME %>.id}", 'checklist-model' => 'check', 'checklist-value' => "#{<%= MODULE_NAME %>.id}", '@click' => "listDelete(#{<%= MODULE_NAME %>.id})"}
            %span.cr
              %i.cr-icon.glyphicon.glyphicon-ok
  <%- ATTRIBUTES.each_with_index do |attribute, index| -%>
    <%- if index < 6 -%>
      <%- unless attribute.last.to_s.eql?('text') || attribute.first.eql?('position') || attribute.last.eql?('timestamp') -%>
        <%- if SINGULAR_ATTACHMENTS.include?(attribute.first) -%>
    %td
      = link_to admin_<%= MODULE_NAME %>_path(<%= MODULE_NAME %>, search: @query), class: 'show-row' do
        %span
          = image_tag <%= MODULE_NAME %>.<%= attribute.first %>.url unless <%= MODULE_NAME %>.<%= attribute.first %>.url.blank?
        <%- elsif PLURAL_ATTACHMENTS.include?(attribute.first) -%>
    %td
      = link_to admin_<%= MODULE_NAME %>_path(<%= MODULE_NAME %>, search: @query), class: 'show-row' do
        %span
          - <%= MODULE_NAME %>.<%= attribute.first %>.each do |attach|
            = image_tag attach.url unless attach  .url.blank?
        <%- else -%>
    %td
      = link_to admin_<%= MODULE_NAME %>_path(<%= MODULE_NAME %>, search: @query), class: 'show-row' do
        %span
          = <%= MODULE_NAME %>.<%= attribute.first %>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  <%- end -%>
    %td.dropdown{ style: 'width: 15px;padding-right:15px;' }
      %a.action-btn.pull-right{:id => "menu-#{<%= MODULE_NAME %>.id}", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{"aria-labelledby" => "menu-#{<%= MODULE_NAME %>.id}" }
        - if can?(<%= MODULE_NAME.camelcase %>).index?
          %li
            = link_to admin_<%= MODULE_NAME %>_path(<%= MODULE_NAME %>), title: t('keppler.actions.show') do
              %i.icon-eye
              = t('keppler.actions.show')
        - if can?(<%= MODULE_NAME.camelcase %>).update?
          %li
            = link_to edit_admin_<%= MODULE_NAME %>_path(<%= MODULE_NAME %>), title: t('keppler.actions.edit') do
              %i.icon-pencil
              = t('keppler.actions.edit')
        - if can?(<%= MODULE_NAME.camelcase %>).clone?
          %li
            = link_to admin_<%= MODULE_NAME %>_clone_path(<%= MODULE_NAME %>), title: t('keppler.actions.clone') do
              %i.icon-docs
              = t('keppler.actions.clone')
        - if can?(<%= MODULE_NAME.camelcase %>).destroy?
          %li
            = link_to admin_<%= MODULE_NAME %>_path(<%= MODULE_NAME %>), title: t('keppler.actions.delete'), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
              %i.icon-trash
              = t('keppler.actions.delete')

    %td{ style: 'width: 5%;'}
      %a.drop{:href=>"#"}
        %i.icon-cursor-move
