.container
  .row
    .col-md-2
      = link_to admin_<%= plural_table_name %>_path, 'data-position' => 'bottom', 'data-tooltip' => t('keppler.actions.back') do
        .arrow-back.btn.btn-default
          %i.icon-arrow-left
          = t('keppler.actions.back')

  .show-section
    .row
      <%- if ATTRIBUTES_NAMES.select{|attribute| SINGULAR_ATTACHMENTS.include?(attribute.first)}.size <= 0 -%>
      .col-md-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{KEPPLER_NAME}")
            .box-tools.pull-right
              - if can?(<%= MODULE_NAME.camelcase %>).update?
                = link_to edit_admin_<%= MODULE_NAME %>_path(@<%= MODULE_NAME %>), class: 'btn btn-box-tool', title: t('keppler.actions.edit') do
                  %i.icon-pencil
              - if can?(<%= MODULE_NAME.camelcase %>).destroy?
                = link_to admin_<%= MODULE_NAME %>_path(@<%= MODULE_NAME %>), class: 'btn btn-box-tool', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
                  %i.icon-trash
          .box-body.box-body-no-padding
            %table.table.table-striped
              %tbody
                - @<%= MODULE_NAME %>.as_json(except: %i[id position created_at updated_at deleted_at]).each do |attribute, value|
                  %tr.list-row
                    %th.display-label= t("activerecord.attributes.#{attribute}")
                    %td.display-value.fs-body-1.tc-black-2
                      - if SINGULAR_ATTACHMENTS.include?(attribute)
                        = image_tag value.url unless value.url.blank?
                      - else
                        = value.blank? ? '-----------' : value
      <%- else -%>
      <%- @attrs = ATTRIBUTES.select{|attr| SINGULAR_ATTACHMENTS.include?(attr.first)} %>
      .col-sm-5
        - @<%= MODULE_NAME %>.as_json(only: %w[<%= @attrs.map(&:first).join(' ') %>]).each do |attribute, value|
          .box.slice-box
            .box-header.with-border
              %h3.box-title= attribute.capitalize
              .box-tools.pull-right
                %a.btn.btn-box-tool{ 'data-widget' => 'collapse', type: 'button' }
                  %i.icon-minus
            .box-body.box-body-no-padding
              = image_tag value.url, class: 'img-show' unless value.url.blank?
      .col-sm-7
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{KEPPLER_NAME}")
            .box-tools.pull-right
              = link_to edit_admin_<%= MODULE_NAME %>_path(@<%= MODULE_NAME %>), class: 'btn btn-box-tool', title: t('keppler.actions.edit') do
                %i.icon-pencil
              = link_to admin_<%= MODULE_NAME %>_path(@<%= MODULE_NAME %>), class: 'btn btn-box-tool', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
                %i.icon-trash
              %a.btn.btn-box-tool{ 'data-widget' => 'collapse', type: 'button' }
                %i.icon-minus
          .box-body.box-body-no-padding
            %table.table.table-striped
              %tbody
                - @<%= MODULE_NAME %>.as_json(except: %i[id position created_at updated_at deleted_at]).each do |attribute, value|
                  %tr.list-row
                    %th.display-label= t("activerecord.attributes.#{attribute}")
                    %td.display-value.fs-body-1.tc-black-2.text-overflow= value.blank? ? '-----------' : value
      <%- end -%>
