- @posts_recents.each do |post|
	= link_to blog_show_post_path(post.permalink) do
		.post-card{style: "background: url(#{post.image}); background-size: cover; background-position: center top;"}
			.title.color-blanco.texto-4= post.title
			%p.color-blanco.texto-2
				= post.user.name
				,
				= post.created_at.strftime("%d %b. %Y")
-# .blog-widget
-# 	.blog-widget--header
-# 		%h3.widget-title
-# 			Recientes
-# 	.blog-widget--body
-# 		%ul.widget-list#recents
-# 			- @posts_recents.each do |post|
-# 				%li
-# 					%i.fa.fa-sign-out
-# 					= link_to post.title, blog_show_post_path(post.permalink)
-#

:scss
	.post-card {
		width: 100%;
		height: 280px;
		margin-bottom: 10px;
		padding: 10px;
	}

	a, a:hover {
		text-decoration: none !important;
	}
