.tab-content
  %h6.actions
    - if can?(MetaTag).update?
      = link_to edit_admin_meta_tag_path(@meta_tag), title: t("keppler.actions.edit"), class: 'pull-left' do
        %i.icon-pencil
        %span= t('keppler.actions.edit')
    - if can?(MetaTag).destroy?
      = link_to admin_meta_tag_path(@meta_tag), class: 'new-menu', title: 'Delete', method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
        %i.icon-trash
        %span= t('keppler.actions.delete')
    %a#close-index-show.pull-right
      %i.icon-close
  %p.control-sidebar-heading
    %i.icon-graph
    = controller_name.singularize.humanize
  %ul.timeline
    - @meta_tag.attributes.each do |attribute, value|
      %li.list-row
        .timeline-item
          %h6.timeline-header.no-border
            %small
              %strong.display-value= t("activerecord.attributes.#{attribute}")
              %p.display-label= value
:coffee
  $('#close-index-show').click ->
    $('#index-show').css 'right', -$('#index-show').outerWidth()
