- objects.each do |meta_tag|
  %tr{ id: "row-#{meta_tag.id}" }
    %td.item-check
      - if can?(MetaTag).destroy_multiple?
        .checkbox
          %label{ for: "checkbox-#{meta_tag.id}" }
            %input{ type: 'checkbox', id: "checkbox-#{meta_tag.id}", 'checklist-model' => 'check', 'checklist-value' => meta_tag.id, 'ng-click' => "selectByCheck(#{objects.size})", '@click' => "listDelete(#{meta_tag.id})" }
            %span.cr
              %i.cr-icon.glyphicon.glyphicon-ok
    %td.hidden-xs.hidden-sm
    %td.hidden-xs.hidden-sm
      = link_to admin_meta_tag_path(meta_tag), title: t('keppler.actions.show') do
        %span= meta_tag.title
    %td.text-overflow{ style: 'max-width: 200px' }
      = link_to admin_meta_tag_path(meta_tag), title: t('keppler.actions.show') do
        %span= meta_tag.url
    %td.dropdown{ style: 'padding-right: 30px;' }
      %a.dropdown-toggle.pull-right{ id: "menu-#{meta_tag.id}", 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown' }
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{ 'aria-labelledby' => "menu-#{meta_tag.id}" }
        - if can?(MetaTag).show?
          %li
            = link_to admin_meta_tag_path(meta_tag), title: t('keppler.actions.show') do
              %i.icon-eye
              = t('keppler.actions.show')
        - if can?(MetaTag).update?
          %li
            = link_to edit_admin_meta_tag_path(meta_tag), title: t('keppler.actions.edit') do
              %i.icon-pencil
              = t('keppler.actions.edit')
        - if can?(MetaTag).clone?
          %li
            = link_to admin_meta_tag_clone_path(meta_tag), title: t('keppler.actions.clone') do
              %i.icon-docs
              = t('keppler.actions.clone')
        - if can?(MetaTag).destroy?
          %li
            = link_to admin_meta_tag_path(meta_tag), title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
              %i.icon-trash
              = t('keppler.actions.delete')
