-# %tr{ id: "row-#{meta_tag.id}" }
-# 	- if can? :destroy_multiple, MetaTag
-# 		%td.item-check{style:"width: 10%"}
-# 			= link_to "", admin_meta_tag_path(meta_tag), remote: true, class: "show-row"
-# 			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{meta_tag.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{meta_tag.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
-# 			%label{ for: "checkbox-#{meta_tag.id}" }

-# 		%td{style:"width: 30%"}
-# 			= link_to "", admin_meta_tag_path(meta_tag, search: @query), remote: true, class: "show-row"
-# 			%span
-# 				= meta_tag.title
-# 		%td{style:"width: 30%"}
-# 			= link_to "", admin_meta_tag_path(meta_tag, search: @query), remote: true, class: "show-row"
-# 			%span
-# 				= meta_tag.url
-# 	%td{style:"width: 5%"}
-# 		= link_to admin_meta_tag_path(meta_tag), class: "btn-floating waves-effect btn-flat" do
-# 			-# -# = material_icon.md_24.more_horiz.css_class("md-dark")
%tr{ id: "row-#{meta_tag.id}" }
  - if can? :destroy_multiple, MetaTag
    %td.item-check{style:"width: 10%"}
      = link_to "", admin_meta_tag_path(meta_tag), remote: true, class: "show-row"
      .pretty.p-default.p-curve.p-thick.p-smooth
        %input{ type:"checkbox", class: "filled-in", id: "checkbox-#{meta_tag.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{meta_tag.id}", "@click" => "listDelete(#{meta_tag.id})"}
        .state.p-danger-o
          %label{ for: "checkbox-#{meta_tag.id}" }
    %td
      = link_to "", admin_meta_tag_path(meta_tag, search: @query), remote: true, class: "show-row"
      %span
        = meta_tag.title
    %td
      = link_to "", admin_meta_tag_path(meta_tag, search: @query), remote: true, class: "show-row"
      %span
        = meta_tag.url
    %td{:style => "float: right;width: 20%;"}
      %a.coll{"data-toggle"=>"collapse", "aria-expanded"=>"false", "aria-controls"=>"menu-#{meta_tag.id}", :href => "#menu-#{meta_tag.id}"}
        -# %span.caret
        %i.material-icons menu
      .custom-collapse.collapse{id: "menu-#{meta_tag.id}"}
        .panel-body
          - if can? :show, MetaTag

            = link_to admin_meta_tag_path(meta_tag), class: 'new-menu', title: 'Show' do
              %i.material-icons remove_red_eye
          - if can? :update, MetaTag

            = link_to edit_admin_meta_tag_path(meta_tag), class: 'new-menu', title: 'Edit' do
              %i.material-icons create
          -# - if can? :clone, MetaTag

          -#   = link_to admin_meta_tag_clone_path(meta_tag), class: 'new-menu', title: 'Clone' do
          -#     %i.material-icons clone
          - if can? :delete, MetaTag

            = link_to admin_meta_tag_path(meta_tag), class: 'new-menu', title: 'Delete', method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
              %i.material-icons delete
