#index-container{ :controller => "meta_tags" }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1
            = t("keppler.modules.#{controller_path.underscore}")
          .toolbar
            .mailbox-controls
              = link_to reload_admin_meta_tags_path, class: "btn btn-default btn-sm", remote: true do
                %i.icon-reload
              / Check all button
              .btn-group
                %button.btn.btn-default.btn-sm.checkbox-toggle{:type => "button", "@click" => "selectAll()"}
                  .pretty.p-default.p-curve.p-thick.p-smooth
                    %input{ type:"checkbox", class: "filled-in", id: "checkbox-all", ":disabled"=>"checkItems ? disabled : ''"}
                    .state.p-danger-o
                      %label{ for: "checkbox-all" }
                %a.btn.btn-default.btn-sm{:type => "button", "data-confirm" => "¿Estás seguro?", "data-method" => "delete", "v-bind:href" => "link", :rel => "nofollow", "v-show" => "checks" }
                  %i.icon-trash
          %ol.breadcrumb
            %li
              %a{:href => "#"}
                %i.icon-directions
                = t("keppler.modules.#{action_name.underscore}")

        -# = entries(@total, @objects)

        .box.slice-box
          .box-body.no-padding

            %table.table.table-striped
              %thead
                - if @objects.size.zero?
                  %tr
                    %th{:style => 'text-align: center;'}
                      %h6= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.meta_tags"))
                - else
                  %tr
                    %td
                    %th= t('activerecord.attributes.title')
                    %th= t('activerecord.attributes.url')
                    %th
                      .pull-right Actions
              %tbody#objects-container{ "data-update-url" => "#{admin_sorting_meta_tags_path}" }
                = render 'admin/layouts/listing_preloader'
                = render 'listing', objects: @meta_tags
        %center#paginator-module
          = paginate @objects, window: 1
  .listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
    = render "description"
  %aside#index-show.control-sidebar

  .mixed-btn
    = link_to new_admin_meta_tag_path, class: "btn-float" do
      %i.material-icons add
