<!DOCTYPE html>
<html>
<head>
  <title>Keppler capsules</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "keppler_capsules/application", media: "all" %>
  <%= javascript_include_tag "keppler_capsules/application" %>
</head>
<body>

  <%= yield %>

</body>
</html>
