- objects.each do |partial|
  %tr{ id: "row-#{partial.id}" }
    %td.item-check{ style: 'width: 10%' }
      - if can?(KepplerFrontend::Partial).destroy_multiple?
        .checkbox
          %label{ for: "checkbox-#{partial.id}" }
            %input{ type: 'checkbox', id: "checkbox-#{partial.id}", 'checklist-model' => 'check', 'checklist-value' => "#{partial.id}", '@click' => "listDelete(#{partial.id})"}
            %span.cr
              %i.cr-icon.glyphicon.glyphicon-ok
    %td.hidden-xs
      = link_to admin_frontend_partial_path(partial), class: 'new-menu', title: t('keppler.actions.show') do
        %span
          = partial.name
    %td{ style: 'width: 15px;padding-right:15px;' }
      %a.action-btn.pull-right{:id => "menu-#{partial.id}", 'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown' }
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{ 'aria-labelledby': "menu-#{partial.id}" }
        - if can?(KepplerFrontend::Partial).index?
          %li
            = link_to admin_frontend_partial_path(partial), class: 'new-menu', title: t('keppler.actions.show') do
              %i.icon-screen-desktop
              = t('keppler.actions.editor')
        - if can?(KepplerFrontend::Partial).update?
          %li
            = link_to edit_admin_frontend_partial_path(partial), class: 'new-menu', title: t('keppler.actions.edit') do
              %i.icon-pencil
              = t('keppler.actions.edit')
        - if can?(KepplerFrontend::Partial).clone?
          %li
            = link_to admin_frontend_partial_clone_path(partial), class: 'new-menu', title: t('keppler.actions.clone') do
              %i.icon-docs
              = t('keppler.actions.clone')
        - if can?(KepplerFrontend::Partial).destroy?
          %li
            = link_to admin_frontend_partial_path(partial), class: 'new-menu', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
              %i.icon-trash
              = t('keppler.actions.delete')
