#index-container{ :controller => "partials" }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1{ style: 'display: inline-block' }
            = t("keppler.modules.partials")
          = entries(@total, @objects)
        %section.content-actions
          .toolbar
            .toolbar-item
              = link_to reload_admin_frontend_partials_path, class: "tool-btn", remote: true do
                %i.icon-reload
            - if can?(KepplerFrontend::Partial).download?
              .toolbar-item
                = link_to admin_frontend_partial_download_path(KepplerFrontend::Partial, :format => :xls), class: "tool-btn", title: t('keppler.actions.download_records') do
                  %i.icon-cloud-download
            - if can?(KepplerFrontend::Partial).upload?
              .toolbar-item
                = link_to "", class: "tool-btn", title: t('keppler.actions.upload_records'), id: "partial" do
                  %i.icon-cloud-upload
            .toolbar-item
              %a.tool-btn{"data-confirm" => "¿Estás seguro?", "data-method" => "delete", "v-bind:href" => "link", :rel => "nofollow", ":class" => "{disabled: !checks}" }
                %i.icon-trash
          .hide
            = form_tag admin_frontend_partial_upload_path(@objects), id: "upload_form_partials", multipart: true, method: :post do
              = file_field_tag :file, id: "upload_file_partial"
          - if can?(KepplerFrontend::Partial).create?
            .add
              = link_to new_admin_frontend_partial_path, class: "btn-add" do
                +
                = t('keppler.actions.add')

        .box.slice-box
          .box-body.no-padding

            %table.table
              %thead
                - if @objects.size.zero?
                  %tr
                    %th.not-records.center
                      %h6= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.partials"))
                - else
                  %tr
                    %th
                      - if can?(KepplerFrontend::Partial).destroy_multiple?
                        .item-check
                          .checkbox
                            %label{ for: 'checkbox-all' }
                              %input{ type: 'checkbox', id: 'checkbox-all', '@click' => 'selectAll()' }
                              %span.cr
                                %i.cr-icon.glyphicon.glyphicon-ok
                    %th.hidden-xs
                      = sort_link(@q, :name) do
                        = t('activerecord.attributes.name')
                    %th
              %tbody.objects-container
                = render 'admin/layouts/listing_preloader'
                = render 'listing', objects: @objects
        %center#paginator-module
          = paginate @objects, window: 1
  %aside.control-sidebar
    = render "description"

:javascript
  $(document).ready(function(){
    $('#partial').click(function() {
      $('#upload_file_partial').click()
      $('#upload_file_partial').change(function() {
        $('.waiting').css('display', 'block')
        $('#upload_form_partial').submit()
      })
    });

    renderImg();
  });
