.container
  .nav-tabs-custom
    %ul.nav.nav-tabs
      %li.active
        %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_1"}
          = "#{@partial.underscore_name}.html.erb"
          .kf-signal.html_signal
      %li
        %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_2"}
          = "#{@partial.underscore_name}.scss"
          .kf-signal.scss_signal
      %li
        %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_3"}
          = "#{@partial.underscore_name}.js"
          .kf-signal.js_signal
      %li.pull-right
        %a#btn-theme-editor{href: "#", title: t('keppler.actions.user_interfaces') }
          %i.fa.fa-paint-brush
      %li.pull-right
        %a#btn-assets-editor{href: "#", title: t('keppler.actions.assets')}
          %i.fa.fa-folder
      %li.pull-right
        %a{href: "#", onclick: "controls.save(#{@partial.id})", title: t('keppler.actions.save')}
          %i.fa.fa-save
      %li.pull-right
        = link_to admin_frontend_partials_path do
          %i.fa.fa-list
          %span.hidden-xs
            = t('keppler.actions.partial_list')
    .tab-content
      #tab_1.tab-pane.active
        %div.html.code-container
          %textarea#code-html{name: "code"}
            = @partial.html_code
      #tab_2.tab-pane
        %div.css.code-container
          %textarea#code-css{:name => "code"}
            = @partial.scss_code
      #tab_3.tab-pane
        %div.js.code-container
          %textarea#code-js{:name => "code"}
            = @partial.js_code
-# = render "keppler_frontend/admin/views/editor_assets"
-# = render "keppler_frontend/admin/views/editor_themes"

:javascript
  codeHTML.codeMirrorHtml();
  codeCSS.codeMirrorCSS();
  codeJs.codeMirrorJs();

  var tab = `#{@partial.underscore_name}.html.erb`;
  var id = `#{@partial.id}`;
  var ready = { css: false, js: false, action: false }

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    tab = $(this)[0].innerText
    if ( tab===`#{@partial.underscore_name}.scss` && ready.css === false ){
      codeCSS.codeMirrorCSS();
      ready.css = true;
    } else if( tab===`#{@partial.underscore_name}.js` && ready.js === false ) {
      codeJs.codeMirrorJs();
      ready.js = true;
    }
  })

  $(document).keypress("s", function(e) {
    if(e.ctrlKey && e.key=='s') {
      e.preventDefault();
      if ( tab === `#{@partial.underscore_name}.html.erb`) {
        codeHTML.save(id);
      } else if (tab === `#{@partial.underscore_name}.scss`) {
        codeCSS.save(id);
      } else if (tab === `#{@partial.underscore_name}.js`) {
        codeJs.save(id);
      }
    }
  });
