-# = simple_form_for [:admin, :frontend, @partial] do |f|
-#   .container
-#     .row
-#       .col-lg-2
-#         = link_to admin_frontend_partials_path, "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
-#           .arrow-back.btn.btn-default
-#             %i.fa.fa-angle-left
-#             = t('keppler.actions.back')
.container
  .nav-tabs-custom
    %ul.nav.nav-tabs
      %li.active
        %a{'aria-expanded': "true", "data-toggle" => "tab", :href => "#tab_1"}
          -# %i.fa.fa-html5
          = "#{@partial.underscore_name}.html.erb"
          .kf-signal.html_signal
      %li
        %a{'aria-expanded': 'false', "data-toggle" => "tab", :href => "#tab_2"}
          -# %i.fa.fa-css3
          = "#{@partial.underscore_name}.scss"
          .kf-signal.scss_signal
      %li
        %a{'aria-expanded': 'false', "data-toggle" => "tab", :href => "#tab_3"}
          -# %i.fa.fa-js
          = "#{@partial.name}.js"
          .kf-signal.js_signal
      %li.pull-right
        %a#btn-assets-editor{ title: t('keppler.actions.assets')}
          %i.fa.fa-folder
      %li.pull-right
        %a{onclick: "controlsPartial.savePartial(#{@partial.id})", title: t('keppler.actions.save')}
          %i.fa.fa-save
      %li.pull-right
        = link_to admin_frontend_partials_path do
          %i.fa.fa-list
          %span.hidden-xs
            = t('keppler.actions.partial_list')
    .tab-content
      #tab_1.tab-pane.active
        %div.html.code-container
          %textarea#code-html{name: "code"}
            = @partial.html_code
      #tab_2.tab-pane
        %div.css.code-container
          %textarea#code-css{:name => "code"}
            = @partial.scss_code
      #tab_3.tab-pane
        %div.js.code-container
          %textarea#code-js{:name => "code"}
            = @partial.js_code
= render "keppler_frontend/admin/partials/editor_assets"

:javascript
  $(document).bind('keydown', function(e) {
    if(e.ctrlKey && (e.which == 83)) {
      e.preventDefault();
      save()
    }
  });

  function save() {
    if ( tab === `#{@partial.underscore_name}.html.erb`) {
      codePartialHTML.savePartial(id);
    } else if (tab === `#{@partial.underscore_name}.scss`) {
      codePartialCSS.savePartial(id);
    } else if (tab === `#{@partial.name}.js`) {
      codePartialJs.savePartial(id);
    }
  }
  codePartialHTML.codeMirrorHtml();
  codePartialCSS.codeMirrorCSS();
  codePartialJs.codeMirrorJs();

  var tab = `#{@partial.underscore_name}.html.erb`;
  var id = `#{@partial.id}`;
  var ready = { css: false, js: false, action: false }

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    tab = $(this)[0].innerText
    if ( tab === `#{@partial.underscore_name}.scss` && ready.css === false ) {
      codePartialCSS.codeMirrorCSS();
      ready.css = true;
    } else if( tab === `#{@partial.name}.js` && ready.js === false ) {
      codePartialJs.codeMirrorJs();
      ready.js = true;
    }
  })
