%tr{ id: "row-#{branding.id}" }
	- if can? :destroy_multiple, Branding
		%td.center.item-check
			= link_to '', admin_branding_path(branding), remote: true, class: 'show-row'
			%input{ type:'checkbox', class: 'filled-in', id: "checkbox-#{branding.id}", 'checklist-model'=>'check', 'checklist-value'=>"#{branding.id}", 'ng-click'=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{branding.id}" }

	%td.center
		= link_to '', admin_branding_path(branding, search: @query), remote: true, class: 'show-row'
		%span
			= image_tag branding.banner, style: 'height: 50px'
	%td.center
		= link_to '', admin_branding_path(branding, search: @query), remote: true, class: 'show-row'
		%span
			= branding.headline_text
	%td.center
		= link_to '', admin_branding_path(branding, search: @query), remote: true, class: 'show-row'
		%span
			= branding.headline_image
	%td.center
		= link_to '', admin_branding_path(branding, search: @query), remote: true, class: 'show-row'
		%span
			= branding.headline_type
	%td.center
		= link_to '', admin_branding_path(branding, search: @query), remote: true, class: 'show-row'
		%span
			= branding.style_type
	%td.center
		= link_to '', admin_branding_path(branding, search: @query), remote: true, class: 'show-row'
		%span
			= branding.title
	%td.center.btn-w5
		= link_to admin_branding_path(branding), class: 'btn-floating waves-effect btn-flat', title: 'Show' do
			= material_icon.md_24.remove_red_eye.css_class('md-dark')
	- if can? :update, Branding
		%td.center.btn-w5
			= link_to edit_admin_branding_path(branding), class: 'btn-floating btn-flat tooltipped', title: 'Edit' do
				= material_icon.md_18.create.css_class('md-dark')
	- if can? :clone, Branding
		%td.center.btn-w5
			= link_to admin_branding_clone_path(branding), class: 'btn-floating waves-effect btn-flat', title: 'Clone' do
				= material_icon.md_24.content_copy.css_class('md-dark')
	- if can? :delete, Branding
		%td.center.btn-w5{style:'padding-right: 20px'}
			= link_to admin_branding_path(branding), class: 'btn-floating btn-flat tooltipped', title: 'Delete', method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
				= material_icon.md_18.delete.css_class('md-dark')
