= title(t('keppler.titles.show', model: "Brandings"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Branding
				= link_to admin_branding_path(@branding), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Branding
				= link_to edit_admin_branding_path(@branding), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to admin_brandings_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%center.color-title= @branding.title.to_s.humanize
				%center= image_tag @branding.banner, style: "max-width:100%;height: 200px;"
				%table.bordered
					%tbody
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
							%td
								.display-value.fs-body-1.tc-black-2= @branding.id.to_s.humanize
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.headline_text")
							%td
								.display-value.fs-body-1.tc-black-2= @branding.headline_text.blank? ? '----------' : @branding.headline_text
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.headline_image")
							%td
								.display-value.fs-body-1.tc-black-2= @branding.headline_image.blank? ? '----------' : @branding.headline_image
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.headline_type")
							%td
								.display-value.fs-body-1.tc-black-2= @branding.headline_type.blank? ? '----------' : @branding.headline_type
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.style_type")
							%td
								.display-value.fs-body-1.tc-black-2= @branding.style_type.blank? ? '----------' : @branding.style_type
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.title")
							%td
								.display-value.fs-body-1.tc-black-2= @branding.title.blank? ? '----------' : @branding.title
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.description")
							%td
								.display-value.fs-body-1.tc-black-2= @branding.description.blank? ? '----------' : @branding.description
