= title "Categories | #{@category.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, KepplerBlog::Post
				= link_to category_path(@category), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, KepplerBlog::Post
				= link_to edit_category_path(@category), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to categories_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%ul.list
					%li.list-row
						.display-label= model.human_attribute_name(:id)
						.display-value.fs-body-1.tc-black-2= @category.id.to_s.humanize
					%li.list-row
						.display-label= model.human_attribute_name(:name)
						.display-value.fs-body-1.tc-black-2= @category.name.to_s.humanize
					%li.list-row
						.display-label= model.human_attribute_name(:permalink)
						.display-value.fs-body-1.tc-black-2= @category.permalink.to_s.humanize
					- unless @category.subcategories.empty?
						%li.list-row
							.display-label= t('activerecord.attributes.keppler_blog/category.subcategories')
							.display-value.subcategory
								- @category.subcategories.each do |subcategory|
									%span.subcategory= subcategory.name
