.listing-show-header
	.actions
		- if can? :update, Marketing
			= link_to edit_admin_marketing_path(@marketing), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("keppler.models.singularize.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%center.color-title= @marketing.name.to_s.humanize
		%center.color-title= @marketing.title.to_s.humanize
		%center= image_tag @marketing.banner
		%table.bordered
			%tbody
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
					%td
						.display-value.fs-body-1.tc-black-2= @marketing.id
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.name")
					%td
						.display-value.fs-body-1.tc-black-2= @marketing.name.blank? ? '----------' : @marketing.name
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.headline_text")
					%td
						.display-value.fs-body-1.tc-black-2= @marketing.headline_text.blank? ? '----------' : @marketing.headline_text
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.headline_image")
					%td
						.display-value.fs-body-1.tc-black-2= @marketing.headline_image.blank? ? '----------' : @marketing.headline_image
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.headline_type")
					%td
						.display-value.fs-body-1.tc-black-2= @marketing.headline_type.blank? ? '----------' : @marketing.headline_type
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.style_type")
					%td
						.display-value.fs-body-1.tc-black-2= @marketing.style_type.blank? ? '----------' : @marketing.style_type
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.title")
					%td
						.display-value.fs-body-1.tc-black-2= @marketing.title.blank? ? '----------' : @marketing.title
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.description")
					%td
						.display-value.fs-body-1.tc-black-2= @marketing.description.blank? ? '----------' : @marketing.description
		%table.bordered
			%tbody
				%td
					%center
						= link_to t('keppler.actions.back_history'), admin_marketings_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
