= title(t('keppler.titles.show', model: "Marketings"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Marketing
				= link_to admin_marketing_path(@marketing), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Marketing
				= link_to edit_admin_marketing_path(@marketing), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to admin_marketings_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%center.color-title= @marketing.name.to_s.humanize
				%center.color-title= @marketing.title.to_s.humanize
				%center= image_tag @marketing.banner, style: "max-width:100%;height: 200px;"
				%table.bordered
					%tbody
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
							%td
								.display-value.fs-body-1.tc-black-2= @marketing.id.to_s.humanize
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.name")
							%td
								.display-value.fs-body-1.tc-black-2= @marketing.name.blank? ? '----------' : @marketing.name
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.headline_text")
							%td
								.display-value.fs-body-1.tc-black-2= @marketing.headline_text.blank? ? '----------' : @marketing.headline_text
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.headline_image")
							%td
								.display-value.fs-body-1.tc-black-2= @marketing.headline_image.blank? ? '----------' : @marketing.headline_image
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.headline_type")
							%td
								.display-value.fs-body-1.tc-black-2= @marketing.headline_type.blank? ? '----------' : @marketing.headline_type
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.style_type")
							%td
								.display-value.fs-body-1.tc-black-2= @marketing.style_type.blank? ? '----------' : @marketing.style_type
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.title")
							%td
								.display-value.fs-body-1.tc-black-2= @marketing.title.blank? ? '----------' : @marketing.title
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.description")
							%td
								.display-value.fs-body-1.tc-black-2= @marketing.description.blank? ? '----------' : @marketing.description
