.box.box-solid
  .box-header.with-border
    %h3.box-title
      = t('keppler-contact-us.index.folders')
    .box-tools
      %button.btn.btn-box-tool{ type: 'button', 'data-widget': 'collapse' }
        %i.fa.fa-minus
  .box-body.no-padding
    %ul.nav.nav-pills.nav-stacked
      - @folders.each do |ctrl|
        %li{ class: ('active' if controller_path.include?(ctrl[:name])) }
          = link_to "/admin/contact_us/#{ctrl[:name]}" do
            %i{ class: "icon-#{ctrl[:icon]}"}
            = t("keppler-contact-us.modules.keppler_contact_us/admin/#{ctrl[:name]}")
            %span.label.pull-right{ class: (controller_path.include?(ctrl[:name]) ? 'label-keppler' : 'label-default') }= module_name.unread_count