.box.box-solid 
  .box-header.with-border 
    %h3.box-title= t('keppler-contact-us.index.labels')
    .box-tools
      %button.btn.btn-box-tool{ type: 'button', 'data-widget': 'collapse' }
        %i.fa.fa-minus
  .box-body.no-padding
    %ul.nav.nav-pills.nav-stacked
      - @labels.each do |label|
        %li{ class: ('active' if controller_path.include?(label[:name])) }
          = link_to "/admin/contact_us/#{controller_name}/#{label[:name]}" do
            %i{ class: "icon-#{label[:icon]}"}
            = t("keppler-contact-us.labels.#{label[:name]}")
            -# %span.label.pull-right{ class: (controller_path.include?(label[:name]) ? 'label-keppler' : 'label-default') }= module_name.unread_count