.front
	.front-logo
		= image_tag "app/keppler-front.png", class: "front-logo img-responsive"
	.front-social
		%ul
			%li
				=	link_to "https://twitter.com/Inyxtech", target:"_blank" do
					= icon 'twitter'
			%li
				=	link_to "https://www.facebook.com/Inyxtech", target:"_blank" do
					= icon 'facebook'
			%li
				=	link_to "https://instagram.com/inyxtech/", target:"_blank" do
					= icon 'instagram'
			%li
				=	link_to "https://github.com/inyxtech/Keppler-CMS", target:"_blank" do
					= icon 'github'