.listing-show-header
	.actions
		- if can? :update, Photo
			= link_to edit_admin_gallery_photo_path(@gallery_photo, @photo), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("keppler.models.singularize.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%center= image_tag @photo.photo
		%table.bordered
			%tbody
				%tr
					%th.display-label= t("activerecord.attributes.id")
					%td.display-value.fs-body-1.tc-black-2= @photo.id
				%tr
					%th.display-label= t("activerecord.attributes.gallery_id")
					%td.display-value.fs-body-1.tc-black-2= @photo.gallery_id.blank? ? '----------' : @photo.gallery_id
		%table.bordered
			%tbody
				%td
					%center
						= link_to t('keppler.actions.back_history'), admin_gallery_photos_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
