- objects.each do |dog|
  %tr{ id: "row-#{dog.id}" }
    %td.item-check{ style: 'width: 10%' }
      - if can?(KepplerCapsules::Dog).destroy_multiple?
        .checkbox
          %label{ for: "checkbox-#{dog.id}" }
            %input{ type:"checkbox", id: "checkbox-#{dog.id}", 'checklist-model' => 'check', 'checklist-value' => "#{dog.id}", '@click' => "listDelete(#{dog.id})"}
            %span.cr
              %i.cr-icon.glyphicon.glyphicon-ok
    - @capsule.capsule_fields.take(3).each do |field|
      %td
        = link_to admin_capsules_dog_path(dog), class: 'show-row' do
          %span
            - if dog[field.name_field]
              = truncate(dog[field.name_field].to_s, length: 20, omission: '...')
            - else
              ="-----"
    %td{ style: 'width: 15px;padding-right:15px;' }
      %a.action-btn.pull-right{:id => "menu-#{dog.id}", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{"aria-labelledby" => "menu-#{dog.id}" }
        - if can?(KepplerCapsules::Dog).index?
          %li
            = link_to admin_capsules_dog_path(dog), class: 'new-menu', title: t('keppler.actions.show') do
              %i.icon-eye
              = t('keppler.actions.show')
        - if can?(KepplerCapsules::Dog).update?
          %li
            = link_to edit_admin_capsules_dog_path(dog), class: 'new-menu', title: t('keppler.actions.edit') do
              %i.icon-pencil
              = t('keppler.actions.edit')
        - if can?(KepplerCapsules::Dog).clone?
          %li
            = link_to admin_capsules_dog_clone_path(dog), class: 'new-menu', title: t('keppler.actions.clone') do
              %i.icon-docs
              = t('keppler.actions.clone')
        - if can?(KepplerCapsules::Dog).destroy?
          %li
            = link_to admin_capsules_dog_path(dog), class: 'new-menu', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
              %i.icon-trash
              = t('keppler.actions.delete')
