%aside.control-sidebar.control-sidebar-light#views-editor
  %a.aside-close#close-views-editor
    .label.bg-gray
      X
  %ul.nav.nav-tabs
    %li.active
      %a{'aria-expanded': "true", "data-toggle" => "tab", :href => "#editor_views_tab_1"}
        %i.fa.fa-desktop
    %li
      %a{'aria-expanded': "true", "data-toggle" => "tab", :href => "#editor_views_tab_2"}
        %i.fa.fa-code
  .tab-content.container-files.bg-gray
    #editor_views_tab_1.tab-pane.active
      - @views.each do |view|
        .box.box-solid
          .box-header.with-border{title: "#{view.name}"}
            .row
              .col-lg-6
                %h4.box-title
                  %i.fa.fa-desktop
                  = truncate(view.name, length: 30, omission: '...')
              .col-lg-3
                %span.box-title
                  %a.btn.btn-default.pull-right{onclick: "copy('#{view.id}')"}
                    %input.hidden{id: "#{view.id}", value: "#{view.path}"}
                    %i.fa.fa-save
              .col-lg-2
                %span.box-title
                  = link_to view.route, class: 'btn btn-default pull-right' do
                    %i.fa.fa-reply
    #editor_views_tab_2.tab-pane
      - @functions.each do |function|
        .box.slice-box.collapsed-box
          .box-header.with-border
            %h3.box-title
              %i.fa.fa-code
              = function.name
            .box-tools.pull-right
              %a.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
                %i.fa.fa-plus
          .box-body
            %p
              = function.description
            %hr
            %strong Parámetros:
            %br
            = function.parse_parameters
            %hr
            .col-lg-3
              %span.box-title
                %a.btn.btn-default.pull-right{onclick: "copy('#{function.id}')"}
                  %input.hidden{id: "#{function.id}", value: "#{function.name}(#{function.parse_parameters})"}
                  %i.fa.fa-save
            .col-lg-2
              %span.box-title
                = link_to admin_frontend_function_path(function.id), class: 'btn btn-default pull-right' do
                  %i.fa.fa-reply
.control-sidebar-bg

:javascript
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (ev) {
    $(document).bind('keydown',function(e) {
      if(e.ctrlKey && (e.which == 83)) {
        e.preventDefault();
        var tab = e.target.innerText;
        if (tab==='') {
          var tab = `#{@view.name}.html.erb`;
        }
        var id = `#{@view.id}`
        if ( tab === `#{@view.name}.html.erb`) {
          codeHTML.save(id);
        } else if (tab === `#{@view.name}.scss`) {
          codeCSS.save(id);
        } else if (tab === `#{@view.name}.js`) {
          codeJs.save(id);
        } else if (tab === 'Action') {
          codeAction.save(id);
        }
      }
    });
  })
