= simple_form_for [:admin, :frontend, @view] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_frontend_views_path, "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{action_name.underscore}")
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .row
                    .col-xs-3
                      = f.input :name
                    .col-xs-3
                      - if action_name.eql?('new')
                        = f.input :url, input_html: {value: '/'}
                      - else
                        = f.input :url
                    .col-xs-2
                      = f.input :method, collection: [:GET, :POST, :PATCH, :PUT, :DELETE], prompt: false
                    .col-xs-2
                      - if ['new', 'create'].include?(action_name)
                        = f.input :format_result, collection: [:HTML, :JS, :Action], prompt: false
                      - else
                        = f.input :format_result, collection: [:HTML, :JS, :Action], prompt: false, disabled: true
                    .col-xs-2
                      = f.input :active, as: :keppler_boolean
                    .col-xs-12
                      = f.input :position, as: :hidden
                    .col-xs-12
                      = f.input :deleted_at, as: :hidden
          .box-footer
            - if ['new', 'create'].include?(action_name)
              .pull-right
                = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
      - if action_name.eql?('edit') || action_name.eql?('update')
        .col-lg-12
          .box.slice-box.p-15
            .box-header.with-border
              %h3.box-title= t("keppler_frontend.form.callbacks")
              .box-body
                %table.table.table-bordered
                %tbody
                  .form-padding
                    .row
                      .col-xs-12
                        = f.simple_fields_for :view_callbacks do |view_callback|
                          - if view_callback.object.name
                            = render 'view_callback_fields_edit', f: view_callback
                          - else
                            = render 'view_callback_fields', f: view_callback
                        .links
                          = link_to_add_association "<button class='btn btn-default'> + #{t('keppler_frontend.actions.add_callback')}</button>".html_safe, f, :view_callbacks
                        %br
                        %br
              .box-footer
                .pull-right
                  = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
