.tab-content
  %h6.actions
    - if can?(KepplerFrontend::View).update?
      = link_to edit_admin_frontend_view_path(@view), title: t("keppler.actions.edit"), class: 'pull-left' do
        %i.icon-pencil
        %span= t('keppler.actions.edit')
    %a#close-index-show.pull-right
      %i.icon-close
  %h3.control-sidebar-heading
    = t("keppler.modules.#{controller_path.underscore}")
  %ul.timeline
    - @view.as_json(only: ["name", "url", "method", "active", "format_result", "position", "deleted_at"]).each do |attribute, value|
      -unless attribute.eql?('position') || attribute.eql?('deleted_at')
        %li.list-row
          .timeline-item
            %h6.timeline-header.no-border
              %small
                %strong.display-value= t("activerecord.attributes.#{attribute}")
                - if @attachments.include?(attribute)
                  .display-label= image_tag value.url if value.url
                - else
                  %p.display-label= value.blank? ? '-----------' : value

:coffee
  $('#close-index-show').click ->
    $('#index-show').css 'right', -$('#index-show').outerWidth()
