- objects.each do |view|
  %tr{ id: "row-#{view.id}" }
    %td.item-check{ style: 'width: 10%' }
      - if can?(KepplerFrontend::View).destroy_multiple?
        .checkbox
          %label{ for: "checkbox-#{view.id}" }
            %input{ type: 'checkbox', id: "checkbox-#{view.id}", 'checklist-model' => 'check', 'checklist-value' => "#{view.id}", '@click' => "listDelete(#{view.id})"}
            %span.cr
              %i.cr-icon.glyphicon.glyphicon-ok

    %td
      = link_to admin_frontend_view_editor_path(view), class: 'new-menu', title: t('keppler.actions.edit') do
        %span
          .label{class: "bg-#{view.color}"}
            = view.method
    %td
      = link_to admin_frontend_view_editor_path(view), class: 'new-menu', title: t('keppler.actions.edit') do
        %span
          = view.name
    %td
      = link_to admin_frontend_view_editor_path(view), class: 'new-menu', title: t('keppler.actions.edit') do
        %span
          = view.url
    %td.hidden-xs.hidden-sm
      = link_to admin_frontend_view_editor_path(view), class: 'new-menu', title: t('keppler.actions.edit') do
        %span
          .label{class: "bg-#{view.active ? 'green' : 'gray'}"}
            = view.active.to_s.capitalize
    %td.hidden-xs.hidden-sm
      = link_to admin_frontend_view_editor_path(view), class: 'new-menu', title: t('keppler.actions.edit') do
        %span
          = view.format_result
    %td.hidden-xs.hidden-sm
      = link_to admin_frontend_view_editor_path(view), class: 'new-menu', title: t('keppler.actions.edit') do
        %span
          = view.path
    %td{ style: 'width: 15px;padding-right:15px;' }
      %a.action-btn.pull-right{:id => "menu-#{view.id}", 'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown' }
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{ 'aria-labelledby': "menu-#{view.id}" }
        - if can?(KepplerFrontend::View).index?
          %li
            = link_to admin_frontend_view_path(view), class: 'new-menu', title: t('keppler.actions.show') do
              %i.icon-eye
              = t('keppler.actions.show')
        - if can?(KepplerFrontend::View).update?
          %li
            = link_to edit_admin_frontend_view_path(view), class: 'new-menu', title: t('keppler.actions.edit') do
              %i.icon-pencil
              = t('keppler.actions.edit')
        - if can?(KepplerFrontend::View).editor?
          %li
            = link_to admin_frontend_view_editor_path(view), class: 'new-menu', title: t('keppler.actions.editor') do
              %i.icon-screen-desktop
              = t('keppler.actions.editor')
        - if can?(KepplerFrontend::View).destroy?
          %li
            = link_to admin_frontend_view_path(view), class: 'new-menu', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
              %i.icon-trash
              = t('keppler.actions.delete')
