.container
  %section.content-header.index-header
    %h1{ style: 'display: inline-block' }
      = t("keppler_frontend.modules.#{controller_path.underscore}")
  .row
    .col-lg-5
    .col-lg-7
      .box.slice-box
        .box-body.no-padding
          %table.table
            %thead
              - if @views.size.zero?
                %tr
                  %th{style: 'text-align: center;'}
                    %h6= t('keppler.messages.not_found_records', model:  t("keppler_frontend.models.pluralize.views"))
              - else
                %tr
                  %th
                  %th.hidden-xs= t('activerecord.attributes.name')
                  %th.hidden-xs= t('activerecord.attributes.type')
                  %th
            %tbody.objects-container
              - @views.each do |view|
                %tr
                  %td
                    %i.bx.bx-file
                  %td
                    = link_to "#", remote: true, class: 'show-row' do
                      %span
                        = view.split('.').first
                  %td
                    = link_to "#", remote: true, class: 'show-row' do
                      %span
                        = view.split('.').last.capitalize