#index-container{ controller: '<%= MODULE_NAME.pluralize %>' }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1
            = t("keppler.models.pluralize.<%= MODULE_NAME.pluralize %>").humanize
          = entries(@total, @objects)
        %section.content-actions
          .toolbar
            .toolbar-item
              = link_to reload_admin_<%= ROCKET_NAME.remove('keppler_') %>_<%= MODULE_NAME.pluralize %>_path, class: 'tool-btn', remote: true, title: t('keppler.actions.reload_page') do
                %i.icon-reload
            - if can?(model).download?
              %li.toolbar-item.dropdown
                %a.dropdown-toggle{ 'data-toggle': 'dropdown', href: '#', title: t('keppler.actions.download_records') }
                  %i.icon-cloud-download
                %ul.dropdown-menu
                  %li= link_to t('keppler.actions.download.csv'), admin_<%= ROCKET_NAME.remove('keppler_') %>_<%= MODULE_NAME.pluralize %>_path(format: :csv), class: 'tool-btn'
                  %li= link_to t('keppler.actions.download.xls'), admin_<%= ROCKET_NAME.remove('keppler_') %>_<%= MODULE_NAME.pluralize %>_path(format: :xls), class: 'tool-btn'
            - if can?(model).upload?
              .toolbar-item
                = link_to '#', class: 'tool-btn', title: t('keppler.actions.upload_records'), id: 'upload' do
                  %i.icon-cloud-upload
            .toolbar-item
              %a.tool-btn{ 'data-confirm': t('keppler.messages.data_confirm'), 'data-method': 'delete', 'v-bind:href': 'link', rel: 'nofollow', ':class': '{disabled: !checks}' }
                %i.icon-trash
          - if can?(model).create?
            .add
              = link_to new_admin_<%= ROCKET_NAME.remove('keppler_') %>_<%= MODULE_NAME.singularize %>_path, class: 'btn-add' do
                +
                = t('keppler.actions.add')
          .hide
            = form_tag admin_<%= ROCKET_NAME.remove('keppler_') %>_<%= MODULE_NAME.singularize %>_upload_path(@objects), id: 'upload-form', multipart: true, method: :post do
              = file_field_tag :file, id: 'upload-file'

        .box.slice-box
          .box-body.no-padding
            %table.table
              %thead
                - if @objects.size.zero?
                  %tr
                    %th.not-records.center
                      %h6= t('keppler.messages.not_found_records', model: t('keppler.models.pluralize.<%= MODULE_NAME.pluralize %>'))

                - else
                  %tr
                    %th
                      - if can?(model).destroy_multiple?
                        .item-check
                          .checkbox
                            %label{ for: 'checkbox-all' }
                              %input{ type: 'checkbox', id: 'checkbox-all', '@click': 'selectAll()' }
                              %span.cr
                                %i.cr-icon.glyphicon.glyphicon-ok
                    - @attributes.each do |attribute|
                      %th
                        = sort_link(@q, attribute) do
                          = t("activerecord.attributes.#{attribute.to_s}")
                    %th
                    %th

              %tbody.objects-container{ 'data-update-url': sort_admin_<%= ROCKET_NAME.remove('keppler_') %>_<%= MODULE_NAME.pluralize  %>_path }
                = render 'admin/layouts/listing_preloader'
                = render 'listing', objects: @objects, query: @query, attributes: @attributes

        %center.paginator-module
          = paginate @objects, window: 1
  .listing-show
    = render 'description', activities: @activities
