.listing-show-header
	.actions
		- if can? :update, <%= singular_table_name.camelcase %>
			= link_to edit_admin_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("keppler.models.singularize.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		<%- attributes_names.each do |attribute| -%>
			<%- if @names.include?(attribute) -%>
		%center.color-title= @<%= singular_table_name %>.<%= attribute %>.to_s.humanize
			<%- end -%>
		<%- end -%>
		<%- attributes_names.each do |attribute| -%>
			<%- if @attachments.include?(attribute) -%>
		%center= image_tag @<%= singular_table_name %>.<%= attribute %>
			<%- end -%>
		<%- end -%>
		%table.bordered
			%tbody
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
					%td
						.display-value.fs-body-1.tc-black-2= @<%= singular_table_name %>.id.to_s.humanize
		<%- attributes_names.each do |attribute| -%>
			<%- unless @attachments.include?(attribute) -%>
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.<%= attribute %>")
					%td
						.display-value.fs-body-1.tc-black-2= @<%= singular_table_name %>.<%= attribute %>.blank? ? '----------' : @<%= singular_table_name %>.<%= attribute%>.to_s.humanize
			<%- end -%>
		<%- end -%>
		%table.bordered
			%tbody
				%td
					%center
						= link_to t('keppler.actions.back_history'), admin_<%= plural_table_name %>_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
