.tab-content
  %h6.actions
    - if can?(<%= singular_table_name.camelcase %>).update?
      = link_to edit_admin_<%= singular_table_name %>_path(@<%= singular_table_name %>), title: t("keppler.actions.edit"), class: 'pull-left' do
        %i.icon-pencil
        %span= t('keppler.actions.edit')
    %a#close-index-show.pull-right
      %i.icon-close
  %h3.control-sidebar-heading
    = t("keppler.modules.#{controller_path.underscore}")
  %ul.timeline
    - @<%= singular_table_name %>.as_json(only: <%= attributes.map{|attr| attr.name} %>).each do |attribute, value|
      -unless attribute.eql?('position') || attribute.eql?('deleted_at')
        %li.list-row
          .timeline-item
            %h6.timeline-header.no-border
              %small
                %strong.display-value= t("activerecord.attributes.#{attribute}")
                - if @attachments.include?(attribute)
                  .display-label= image_tag value
                - else
                  %p.display-label= value
:coffee
  $('#close-index-show').click ->
    $('#index-show').css 'right', -$('#index-show').outerWidth()
