- objects.each do |<%= singular_table_name %>|
  %tr{ id: "row-#{<%= singular_table_name %>.id}" }
    %td.item-check{ style: 'width: 10%' }
      - if can?(<%= singular_table_name.camelcase %>).destroy_multiple?
        .checkbox
          %label{ for: "checkbox-#{<%= singular_table_name %>.id}" }
            %input{ type:"checkbox", id: "checkbox-#{<%= singular_table_name %>.id}", 'checklist-model' => 'check', 'checklist-value' => "#{<%= singular_table_name %>.id}", '@click' => "listDelete(#{<%= singular_table_name %>.id})"}
            %span.cr
              %i.cr-icon.glyphicon.glyphicon-ok
    <%- attributes.each do |attribute| -%>
      <%- if @attachments.include?(attribute.name) -%>
    %td
      = link_to admin_<%= singular_table_name %>_path(<%= singular_table_name %>, search: @query), remote: true, class: 'show-row' do
        %span
          = image_tag <%= singular_table_name %>.<%= attribute.name %>.url unless <%= singular_table_name %>.<%= attribute.name %>.url.blank?
      <%- end -%>
    <%- end -%>
    <%- attributes.each_with_index do |attribute, index| -%>
      <%- if index < 6 -%>
        <%- unless attribute.type.to_s.eql?('text') || attribute.name.eql?('position') || attribute.name.eql?('deleted_at') -%>
          <%- unless @attachments.include?(attribute.name) -%>
            <%- if index < 2 -%>
    %td.hidden-xs
      = link_to admin_<%= singular_table_name %>_path(<%= singular_table_name %>, search: @query), remote: true, class: 'show-row' do
        %span
          = <%= singular_table_name %>.<%= attribute.name %>
            <%- else -%>
    %td.hidden-xs.hidden-sm
      = link_to admin_<%= singular_table_name %>_path(<%= singular_table_name %>, search: @query), remote: true, class: 'show-row' do
        %span
          = <%= singular_table_name %>.<%= attribute.name %>
            <%- end -%>
          <%- end -%>
        <%- end -%>
      <%- end -%>
    <%- end -%>
    %td{ style: 'width: 15px;padding-right:15px;' }
      %a.action-btn.pull-right{:id => "menu-#{<%= singular_table_name %>.id}", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{"aria-labelledby" => "menu-#{<%= singular_table_name %>.id}" }
        - if can?(<%= singular_table_name.camelcase %>).index?
          %li
            = link_to admin_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'new-menu', title: t('keppler.actions.show') do
              %i.icon-eye
              = t('keppler.actions.show')
        - if can?(<%= singular_table_name.camelcase %>).update?
          %li
            = link_to edit_admin_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'new-menu', title: t('keppler.actions.edit') do
              %i.icon-pencil
              = t('keppler.actions.edit')
        - if can?(<%= singular_table_name.camelcase %>).clone?
          %li
            = link_to admin_<%= singular_table_name %>_clone_path(<%= singular_table_name %>), class: 'new-menu', title: t('keppler.actions.clone') do
              %i.icon-docs
              = t('keppler.actions.clone')
        - if can?(<%= singular_table_name.camelcase %>).destroy?
          %li
            = link_to admin_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'new-menu', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
              %i.icon-trash
              = t('keppler.actions.delete')

    %td{:style => 'width: 5%;'}
      %a.drop{:href=>"#"}
        %i.icon-cursor-move
