%tr{ id: "row-#{<%= singular_table_name %>.id}" }
	- if can? :destroy_multiple, <%= singular_table_name.camelcase %>
		%td.item-check{style:"width: 10%"}
			= link_to "", admin_<%= singular_table_name %>_path(<%= singular_table_name %>), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{<%= singular_table_name %>.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{<%= singular_table_name %>.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{<%= singular_table_name %>.id}" }

	<%- attributes.each do |attribute| -%>
		<%- unless attribute.type.to_s == "text" -%>
	%td{style:"width: 30%"}
		= link_to "", admin_<%= singular_table_name %>_path(<%= singular_table_name %>, search: @query), remote: true, class: "show-row"
		%span
			<%- if @attachments.include?(attribute.name) -%>
			= image_tag <%= singular_table_name %>.<%= attribute.name %>, style: 'height: 50px'
			<%- else -%>
			= <%= singular_table_name %>.<%= attribute.name %>.to_s.humanize
			<%- end -%>
		<%- end -%>
	<%- end -%>
	%td{style:"width: 5%"}
		= link_to admin_<%= singular_table_name %>_path(<%= singular_table_name %>), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.remove_red_eye.css_class("md-dark")
	- if can? :update, <%= singular_table_name.camelcase %>
		%td{style:"width: 5%"}
			= link_to edit_admin_<%= singular_table_name %>_path(<%= singular_table_name %>), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
				= material_icon.md_18.create.css_class("md-dark")
	- if can? :clone, <%= singular_table_name.camelcase %>
		%td{style:"width: 5%"}
			= link_to admin_<%= singular_table_name %>_clone_path(<%= singular_table_name %>), class: "btn-floating waves-effect btn-flat" do
				= material_icon.md_24.content_copy.css_class("md-dark")
	- if can? :delete, <%= singular_table_name.camelcase %>
		%td{style:"width: 5%"}
			= link_to admin_<%= singular_table_name %>_path(<%= singular_table_name %>), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
				= material_icon.md_18.delete.css_class("md-dark")
