.listing.col.l9.m12.s12
	- if can? :new, model
		= link_to new_admin_<%= singular_table_name %>_path, class: "btn-floating btn-large waves-effect waves-light btn-new hide-on-small-only", title: 'New' do
			= material_icon.md_24.add
	= entries(@total, @objects)
	= link_to admin_<%= plural_table_name %>_path(:format => :xls), class: "btn-tool-right btn-floating btn-flat tooltipped right", title: 'Save as .xls' do
		= material_icon.md_18.cloud_download.css_class("md-dark")
	= link_to "", class: "btn-tool-right btn-floating btn-flat tooltipped right", title: 'Import File', id: "<%= singular_table_name %>" do
		= material_icon.md_18.cloud_upload.css_class("md-dark")

	.hide
		= form_tag admin_<%= singular_table_name %>_import_path(@objects), id: "import_form_<%= singular_table_name %>", multipart: true, method: :post do
			= file_field_tag :file, id: "import_file_<%= singular_table_name %>"

	%table.bordered
		%tbody
			- unless @objects.blank?
				%tr{style:"background: #fff;"}
					- if can? :destroy_multiple, <%= singular_table_name.camelcase %>
						%th{style: 'padding-left: 20px'}
					<%- attributes.each do |attribute| -%>
						<%- if @attachments.include?(attribute.name) -%>
					%th.center= t("activerecord.attributes.<%= controller_name.singularize %>.<%= attribute.name %>")
						<%- end -%>
					<%- end -%>
					<%- attributes.each_with_index do |attribute, index| -%>
						<%- if index < 6 -%>
							<%- unless @attachments.include?(attribute.name) -%>
								<%- unless attribute.type.to_s == "text" -%>
					%th.center= t("activerecord.attributes.<%= controller_name.singularize %>.<%= attribute.name %>")
								<%- end -%>
							<%- end -%>
						<%- end -%>
					<%- end -%>
					- if can? :show, <%= singular_table_name.camelcase %>
						%th.center
					- if can? :update, <%= singular_table_name.camelcase %>
						%th.center
					- if can? :clone, <%= singular_table_name.camelcase %>
						%th.center
					- if can? :delete, <%= singular_table_name.camelcase %>
						%th.center

			- @objects.each do |<%= singular_table_name %>|
				= render 'listing', <%= singular_table_name %>: <%= singular_table_name %>
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.<%= plural_table_name %>"))
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

- if can? :new, model
	= link_to new_admin_<%= singular_table_name %>_path, class: "btn-index-add btn-floating btn-large waves-effect waves-light" do
		= material_icon.md_24.add.css_class("md-light")

:javascript
	$('#<%= singular_table_name %>').click(function() {
		$('#import_file_<%= singular_table_name %>').click()
		$('#import_file_<%= singular_table_name %>').change(function() {
			$('.waiting').css('display', 'block')
			$('#import_form_<%= singular_table_name %>').submit()
		})
	})
