.listing.col.l9.m12.s12
	- if can? :new, model
		= link_to new_admin_<%= singular_table_name %>_path, class: 'btn-floating btn-large waves-effect waves-light btn-new hide-on-small-only', title: 'New' do
			= material_icon.md_24.add
	= entries(@total, @objects)
	= link_to admin_<%= plural_table_name %>_path(:format => :xls), class: 'btn-tool-right btn-floating btn-flat tooltipped right', title: t('keppler.actions.download_records') do
		= material_icon.md_18.save.css_class('md-dark')
	%table.bordered
		- unless @objects.blank?
			%tbody
				%tr.white-hover{ width: 5 }
					- if can? :destroy_multiple, <%= singular_table_name.camelcase %>
						%th{style: 'padding-left: 20px'}
					<%- attributes.each do |attribute| -%>
						<%- if @attachments.include?(attribute.name) -%>
					%th.center= t("activerecord.attributes.<%= attribute.name %>")
						<%- end -%>
					<%- end -%>
					<%- attributes.each_with_index do |attribute, index| -%>
						<%- if index < 6 -%>
							<%- unless @attachments.include?(attribute.name) -%>
								<%- unless attribute.type.to_s == 'text' -%>
									<%- if index < 2 -%>
					%th.center= t("activerecord.attributes.<%= attribute.name %>")
									<%- else -%>
					%th.center.hide-on-small-and-down= t("activerecord.attributes.<%= attribute.name %>")
									<%- end -%>
								<%- end -%>
							<%- end -%>
						<%- end -%>
					<%- end -%>
					%th.center{ colspan: 2 }
			%tbody#draggable{ 'data-update-url' => "#{sort_admin_<%= plural_table_name %>_path}" }
				- @objects.each do |<%= singular_table_name %>|
					= render 'listing', <%= singular_table_name %>: <%= singular_table_name %>
		- else
			%tr
				%td.center{ colspan: '4' }
					%center
						= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.<%= plural_table_name %>"))
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

- if can? :new, model
	= link_to new_admin_<%= singular_table_name %>_path, class: "btn-index-add btn-floating btn-large waves-effect waves-light" do
		= material_icon.md_24.add.css_class('md-light')

:javascript
	$(document).ready(function(){
		$('.tooltipped').tooltip({delay: 50});
		$( '.action-btn' ).closeFAB();
		$('.action-btn.toolbar').closeToolbar();
		$( '.action-btn' ).hover(
			function() {
				$( this ).openFAB();
				$('.action-btn.toolbar').openToolbar();
			}, function() {
				$( this ).closeFAB();
				$('.action-btn.toolbar').closeToolbar();
			}
		);
	})
