.wrapper
  .wrapper-body.container
    .actions
      - if can? :delete, <%= singular_table_name.camelcase %>
        = link_to admin_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
          = material_icon.md_18.delete.css_class("md-dark")
      - if can? :update, <%= singular_table_name.camelcase %>
        = link_to edit_admin_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
          = material_icon.md_18.create.css_class("md-dark")
      = link_to admin_<%= plural_table_name %>_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        = material_icon.md_18.arrow_back.css_class("md-dark")
    .card
      .card-content
        %center
        <%- attributes_names.each do |attribute| -%>
          <%- if @names.include?(attribute) -%>
          .color-title= @<%= singular_table_name %>.<%= attribute %>
          <%- end -%>
        <%- end -%>
        <%- attributes_names.each do |attribute| -%>
          <%- if @attachments.include?(attribute) -%>
          = image_tag @<%= singular_table_name %>.<%= attribute %>
          <%- end -%>
        <%- end -%>
        %table.bordered
          %tbody
            %tr
              %th
                %th.display-label= t("activerecord.attributes.id")
              %td
                %td.display-value.fs-body-1.tc-black-2= @<%= singular_table_name %>.id
        <%- attributes_names.each do |attribute| -%>
          <%- unless @attachments.include?(attribute) -%>
            %tr
              %th
                %th.display-label= t("activerecord.attributes.<%= attribute %>")
              %td
                %td.display-value.fs-body-1.tc-black-2= @<%= singular_table_name %>.<%= attribute %>.blank? ? '----------' : @<%= singular_table_name %>.<%= attribute%>
          <%- end -%>
        <%- end -%>
