!!!
%html
	= render "layouts/admin/head"
	%body{ 'ng-controller'=>'MainCtrl', class: "#{@setting.apparence.theme_name}-theme" }
		#waiting 
			= preloader

		- if loggedin?
			= render 'layouts/admin/sidebar' 
			= render 'layouts/admin/navigation'
			= render 'layouts/admin/header'
			= render 'layouts/admin/messages'
			%main.row#admin{ role: 'main', "ng-click" => "sidebarClose()" }
				= yield
				= #console
		- else
			%main#devise{ style: @setting.apparence.image_background? ? "background-image: url(#{@setting.apparence.image_background})" : nil  }
				= yield	
		 

		
	

