.listing-show-header
	.actions
		- if can? :update, Web
			= link_to edit_admin_web_path(@web), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("keppler.models.singularize.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%center.color-title= @web.name.to_s.humanize
		%table.bordered
			%tbody
				%tr
					%th.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
					%td.display-value.fs-body-1.tc-black-2= @web.id
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.name")
					%td
						.display-value.fs-body-1.tc-black-2= @web.name.blank? ? '----------' : @web.name
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.description")
					%td
						.display-value.fs-body-1.tc-black-2= @web.description.blank? ? '----------' : @web.description
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.date")
					%td
						.display-value.fs-body-1.tc-black-2= @web.date.blank? ? '----------' : @web.date
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.pay")
					%td
						.display-value.fs-body-1.tc-black-2= @web.pay.blank? ? '----------' : @web.pay
		%table.bordered
			%tbody
				%td
					%center
						= link_to t('keppler.actions.back_history'), admin_webs_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
