= title(t('keppler.titles.show', model: "Webs"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Web
				= link_to admin_web_path(@web), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Web
				= link_to edit_admin_web_path(@web), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to admin_webs_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%center.color-title= @web.name.to_s.humanize
				%table.bordered
					%tbody
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
							%td
								.display-value.fs-body-1.tc-black-2= @web.id.to_s.humanize
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.headline")
							%td
								.display-value.fs-body-1.tc-black-2= @web.headline.blank? ? '----------' : @web.headline
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.name")
							%td
								.display-value.fs-body-1.tc-black-2= @web.name.blank? ? '----------' : @web.name
