// Title & Meta tags
= render "app/layouts/meta_tags"

// Stylesheets
= stylesheet_link_tag 'app/application', media: 'all', 'data-turbolinks-track' => true
%link{href:'https://fonts.googleapis.com/css?family=Patua+One', rel:'stylesheet', type:'text/css'}
%link{href: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css", rel: "stylesheet"}/

// Javascripts
= javascript_include_tag 'app/application', 'data-turbolinks-track' => true
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"}

// Google Analytics
= render 'app/layouts/google_analytics'

// Favicon
= favicon_link_tag @favicon

- scripts = @scripts.select{|x| x.url == request.env['PATH_INFO']}
- unless scripts.empty?
  - scripts.each do |script|
    = raw script.script
