.wrapper
	.wrapper-body.container
		.actions
			= link_to users_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs.row.card
			= simple_form_for @user do |f|
				.col.col12 
					= f.input :name, input_html: { class: "validate #{'invalid' if f.error(:name)}" }
					= f.input :email, input_html: { class: "validate #{'invalid' if f.error(:email)}" }
					= #f.input :role_ids, collection: Role.all
					= f.input :password, input_html: { class: "validate#{'invalid' if f.error(:password)}" }
					= f.input :password_confirmation, input_html: { class: "validate #{'invalid' if f.error(:password_confirmation)}" }
					= f.button :submit, "Guardar", class: "btn right"