= content_for(:title, "Keppler | #{@user.name}")
.wrapper
	.wrapper-body.container
		.actions
			.pull-right
				- if can? :update, User
					= link_to edit_user_path(@user), class: "tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
						= material_icon.md_24.create.css_class("md-dark") 
				- if can? :delete, User
					= link_to user_path(@user), class: "tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
						= material_icon.md_24.delete.css_class("md-dark")	
		.card			
			= show_body do
				%ul.list
					- @user.as_json(only: ["id", "name", "permalink", "email","created_at", "sign_in_count", "updated_at", "password"]).each do |attribute, value|
						%li.list-row
							.display-label= t("model.#{controller_name.singularize}.attributes.#{attribute}")
							.display-value.fs-body-1.tc-black-2= value