
.container
  .login-box
    .center
      .login-container
        .login-logo
          %a{ href: '#' }
            %span{style:"font-family: 'Patua One'"} Keppler
            Admin
            %br
            %small Ya puedes cambiar tu contraseña.
        .login-box-body
          = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
            %p.login-box-msg Recuerda agregar una contraseña suficientemente segura
            = f.hidden_field :reset_password_token
            .form-group.has-feedback
              = f.password_field :password, autofocus: true, autocomplete: 'off', class: "form-control validate #{'invalid' if resource.errors.messages[:password]}"
              %i.icon-lock.input-icon
            .form-group.has-feedback
              = f.password_field :password_confirmation, autocomplete: 'off', class: "form-control validate #{'invalid' if resource.errors.messages[:password_confirmation]}"
            .form-group.has-feedback
              .devise-errors.center-align
                - flash.each do |name, msg|
                  = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
            .has-feedback
              %center
                = f.submit 'Cambiar contraseña', class: 'btn-primary'
            .clearfix

  .login-footer
    = "#{t('keppler.powered')} <span>Slice Group</span>".html_safe
