.devise
  .authform.container     
    .devise-box.card
      .devise-box-header{class: "p+"}
        .title-app Keppler
      .devise-box-body{class: "p+"}
        = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
          %h5 Cambia tu contrase単a
          = f.hidden_field :reset_password_token
          .form-group.row
            .input-field.col.s12
              = f.password_field :password, autofocus: true, autocomplete: 'off', class: "validate"
              %label{for: "password"} Contrase単a
            .devise-errors
              = resource.errors.messages[:password][0]  
            .input-field.col.s12
              = f.password_field :password_confirmation, autocomplete: 'off', class: "validate"
              %label{for: "password"} Confirmar Contrase単a
            .devise-errors
              = resource.errors.messages[:password_confirmation][0]
          = lumx_flex_container("row") do  
            = lumx_flex_item(12, 2) do
              = f.submit 'Cambiar contrase単a', :class => 'pull-right btn' 
        .clearfix