<!DOCTYPE html>
<html>
<head>
  <title>Keppler frontend</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    "keppler_frontend/app/application", media: "all" %>
  <%= javascript_include_tag "keppler_frontend/app/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
