.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, TestModule
				= link_to admin_test_module_path(@test_module), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, TestModule
				= link_to edit_admin_test_module_path(@test_module), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to admin_test_modules_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%center
					.color-title= @test_module.name
					= image_tag @test_module.photo
				%table.bordered
					%tbody
						%tr
							%th
								%th.display-label= t("activerecord.attributes.id")
							%td
								%td.display-value.fs-body-1.tc-black-2= @test_module.id
						%tr
							%th
								%th.display-label= t("activerecord.attributes.name")
							%td
								%td.display-value.fs-body-1.tc-black-2= @test_module.name.blank? ? '----------' : @test_module.name
						%tr
							%th
								%th.display-label= t("activerecord.attributes.phone")
							%td
								%td.display-value.fs-body-1.tc-black-2= @test_module.phone.blank? ? '----------' : @test_module.phone
						%tr
							%th
								%th.display-label= t("activerecord.attributes.public")
							%td
								%td.display-value.fs-body-1.tc-black-2= @test_module.public.blank? ? '----------' : @test_module.public
						%tr
							%th
								%th.display-label= t("activerecord.attributes.age")
							%td
								%td.display-value.fs-body-1.tc-black-2= @test_module.age.blank? ? '----------' : @test_module.age
						%tr
							%th
								%th.display-label= t("activerecord.attributes.weight")
							%td
								%td.display-value.fs-body-1.tc-black-2= @test_module.weight.blank? ? '----------' : @test_module.weight
