%aside.control-sidebar.control-sidebar-light#views-editor
  %a.aside-close#close-views-editor
    .label.bg-gray
      X
  %ul.nav.nav-tabs
    %li.active
      %a{'aria-expanded': "true", "data-toggle" => "tab", :href => "#editor_views_tab_1"}
        %i.fa.fa-desktop
  .tab-content.container-files.bg-gray
    #editor_views_tab_1.tab-pane.active
      - @views.each do |view|
        .box.box-solid
          .box-header.with-border{title: "#{view.name}"}
            .row
              .col-lg-6
                %h4.box-title
                  %i.fa.fa-desktop
                  = truncate(view.name, length: 30, omission: '...')
              .col-lg-3
                %span.box-title
                  %a.btn.btn-default.pull-right{onclick: "copy('#{view.id}')"}
                    %input.hidden{id: "#{view.id}", value: "#{view.path}"}
                    %i.fa.fa-save
              .col-lg-2
                %span.box-title
                  = link_to view.route, class: 'btn btn-default pull-right' do
                    %i.fa.fa-reply
.control-sidebar-bg

:javascript
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (ev) {
    $(document).bind('keydown',function(e) {
      if(e.ctrlKey && (e.which == 83)) {
        e.preventDefault();
        var tab = e.target.innerText;
        if (tab==='') {
          var tab = `#{@callback_function.name}`;
        }
        var id = `#{@callback_function.id}`
        if ( tab === `#{@callback_function.name}`) {
          codeCallback.save(id);
        }
      }
    });
  })
