- objects.each do |callback_function|
  %tr{ id: "row-#{callback_function.id}" }
    %td.item-check{ style: 'width: 10%' }
      - if can?(KepplerFrontend::CallbackFunction).destroy_multiple?
        .checkbox
          %label{ for: "checkbox-#{callback_function.id}" }
            %input{ type: 'checkbox', id: "checkbox-#{callback_function.id}", 'checklist-model' => 'check', 'checklist-value' => "#{callback_function.id}", '@click' => "listDelete(#{callback_function.id})"}
            %span.cr
              %i.cr-icon.glyphicon.glyphicon-ok
    %td
      = link_to admin_frontend_callback_function_path(callback_function), class: 'new-menu', title: t('keppler.actions.show') do
        %span
          = callback_function.name
    %td.hidden-xs
      = link_to admin_frontend_callback_function_path(callback_function), class: 'new-menu', title: t('keppler.actions.show') do
        %span
          = callback_function.description
    %td{ style: 'width: 15px;padding-right:15px;' }
      %a.action-btn.pull-right{:id => "menu-#{callback_function.id}", 'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown' }
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{ 'aria-labelledby': "menu-#{callback_function.id}" }
        - if can?(KepplerFrontend::CallbackFunction).index?
          %li
            = link_to admin_frontend_callback_function_path(callback_function), class: 'new-menu', title: t('keppler.actions.show') do
              %i.icon-eye
              = t('keppler.actions.show')
        - if can?(KepplerFrontend::CallbackFunction).update?
          %li
            = link_to edit_admin_frontend_callback_function_path(callback_function), class: 'new-menu', title: t('keppler.actions.edit') do
              %i.icon-pencil
              = t('keppler.actions.edit')
        - if can?(KepplerFrontend::CallbackFunction).editor?
          %li
            = link_to admin_frontend_callback_function_editor_path(callback_function), class: 'new-menu', title: t('keppler.actions.editor') do
              %i.icon-screen-desktop
              = t('keppler.actions.editor')
        - if can?(KepplerFrontend::CallbackFunction).clone?
          %li
            = link_to admin_frontend_callback_function_clone_path(callback_function), class: 'new-menu', title: t('keppler.actions.clone') do
              %i.icon-docs
              = t('keppler.actions.clone')
        - if can?(KepplerFrontend::CallbackFunction).destroy?
          %li
            = link_to admin_frontend_callback_function_path(callback_function), class: 'new-menu', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
              %i.icon-trash
              = t('keppler.actions.delete')

    %td{ style: 'width: 5%;' }
