.container
  .nav-tabs-custom
    %ul.nav.nav-tabs
      %li.active
        %a{'aria-expanded': 'false', "data-toggle" => "tab", :href => "#tab_5"}
          = @callback_function.name
          .kf-signal.callback_signal
      %li.pull-right
        %a{onclick: "codeCallback.save(#{@callback_function.id})", title: t('keppler.actions.save')}
          %i.fa.fa-save
      %li.pull-right
        %a#btn-views-editor{title: t('keppler.actions.views')}
          %i.fa.fa-cog
      %li.pull-right
        = link_to admin_frontend_callback_functions_path do
          %i.fa.fa-list
          %span.hidden-xs
            = t('keppler.actions.callbacks_list')
    .tab-content
      #tab_5.tab-pane.active
        %div.action.code-container
          %textarea#code-callback{:name => "code"}
            = @callback_function.callback_code


  = render "editor_views"

  :javascript
    codeCallback.codeMirrorCallback();
    var tab = `#{@callback_function.name}`;
    var id = `#{@callback_function.id}`;
    var ready = { callback_function: false }

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      if( ready.callback_function === false ) {
        codeCallback.codeMirrorCallback();
        ready.callback_function = true;
      }

    })

    $(document).bind('keydown',function(e) {
      if(e.ctrlKey && (e.which == 83)) {
        e.preventDefault();
        codeCallback.save(id);
      }
    });
