.container
  .row
    .col-lg-2
      = link_to admin_frontend_callback_functions_path, "data-position" => "bottom", "data-tooltip" => t("keppler_frontend.actions.back") do
        .arrow-back.btn.btn-default
          %i.fa.fa-angle-left
          = t('keppler_frontend.actions.back')

  .show-section
    .row
      .col-lg-12
        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= t("keppler_frontend.modules.#{controller_path.underscore}")
            .box-tools.pull-right
              - if can?(KepplerFrontend::CallbackFunction).update?
                = link_to edit_admin_frontend_callback_function_path(@callback_function), class: "btn btn-box-tool", title: "#{t('keppler_frontend.actions.edit') }" do
                  %i.icon-pencil
              - if can?(KepplerFrontend::CallbackFunction).destroy?
                = link_to admin_frontend_callback_function_path(@callback_function), class: "btn btn-box-tool", title: "#{t('keppler_frontend.actions.delete')}", method: :delete, data: { confirm: t("keppler_frontend.messages.data_confirm") } do
                  %i.icon-trash
          .box-body.box-body-no-padding
            %table.table
              %tbody
                - @callback_function.as_json(only: ["name", "description", "position", "deleted_at"]).each do |attribute, value|
                  - unless attribute.eql?('position') || attribute.eql?('deleted_at')
                    %tr.list-row
                      %th.display-label= t("activerecord.attributes.#{attribute}")
                      %td.display-value.fs-body-1.tc-black-2
                        - if @attachments.include?(attribute)
                          = image_tag value.url unless value.url.blank?
                        - else
                          = value.blank? ? '-----------' : value
