// Favicon
= favicon_link_tag @setting.favicon || '/assets/admin/favicon.png'

%meta{ charset: 'utf-8' }
%meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
%meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
%meta{ name: 'theme-color', content: (@theme_color || @color) }

%meta{ property: 'og:type', content: (@post.blank? ? 'website' : 'article') }
%meta{ property: 'og:image', content: @meta_image }
%meta{ property: 'og:title', content: @meta_title }
%meta{ property: 'og:description', content: @meta_description }
%meta{ property: 'og:url', content: request.url }
%meta{ property: 'og:locale', content: @meta_locale }
%meta{ property: 'og:locale:alternate', content: @meta_locale_alternate }
- if defined?(KepplerBlog) && KepplerBlog.is_a?(Class)
  %meta{ property: 'fb:app_id', content: KepplerBlog.facebook_app_id }

%meta{ name: 'twitter:card', content: 'summary' }
%meta{ name: 'twitter:site', content: @meta_title }
%meta{ name: 'twitter:title', content: @meta_title }
%meta{ name: 'twitter:description', content: @meta_description }
%meta{ name: 'twitter:image:src', content: @meta_image }
%meta{ name: 'twitter:app:country', content: @country_code }
%meta{ name: "twitter:creator", content: (@post.user.name unless @post.blank?) }
-# %meta{ name: 'twitter:app:name:iphone/ipda/googleplay', content: 'name' }

= csrf_meta_tags

- if @meta
  %meta{ name: 'description', content: (content_for?(:description) ? yield(:description) : @meta.description) }
  %meta{ name: 'keywords', content: @meta.meta_tags }
  %title= content_for?(:title) ? yield(:title) : @meta.title
- else
  %meta{ name: 'description', content: (content_for?(:description) ? yield(:description) : @setting.description) }
  %meta{ name: 'keywords', content: 'keppler, diseño web, desarrollo web, desarrollo de software, ecommerce, development, cms, web develpment, web design, Punto Fijo, slice, slicegroup, Venezuela, keppler, keppler cms'}
  %title= content_for?(:title) ? yield(:title) : @setting.name

- @scripts.each do |script|
  = raw script.script
