<!DOCTYPE html>
<html id="keppler-html">
  <head>
    <%= set_head %>
  </head>
  <body id="keppler-editor">
    <keppler-header>
      <!-- Keppler Section -->
      <keppler-no-edit id="header-title">
        <h1 id="idmc" class="home-title"><%= "Index Template" %></h1>
      </keppler-no-edit>
    </keppler-header>
    <%= yield %>
    <keppler-footer>
      <!-- Keppler Section -->
      <keppler-no-edit id="text-no-edit-2">
        <p><%="jajajaja"%></p>
      </keppler-no-edit>
      <keppler-no-edit id="header-title-4">
        <h1 id="idmc" class="home-title"><%= "Index Template 3" %></h1>
      </keppler-no-edit>
    </keppler-footer>
  </body>
  <%= keppler_editor %>
</html>