<!DOCTYPE html>
<html>
<head>
  <title>Keppler luiz rocket nuevo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "keppler_luiz_rocket_nuevo/application", media: "all" %>
  <%= javascript_include_tag "keppler_luiz_rocket_nuevo/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
