= simple_form_for [:admin, @script] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_scripts_path, 'data-position' => 'bottom', 'data-tooltip' => t('keppler.actions.back') do
          .arrow-back.btn.btn-default
            %i.icon-arrow-left
            = t('keppler.actions.back')
    .row
      .col-xs-12
        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= controller_name.humanize
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .row
                    .col-xs-12
                      = f.input :name, required: true, autofocus: true
                    .col-xs-12
                      = f.input :script, required: true, autofocus: true
                  .row
                    .col-xs-12
                      = f.input :url, required: true, autofocus: true
                  .row
                    .col-xs-12
                      .pull-right
                        = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                        = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
