%tr{ id: "row-#{script.id}" }
	- if can? :destroy_multiple, Script
		%td.center.item-check{style:"width: 10%"}
			= link_to "", admin_script_path(script), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{script.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{script.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{script.id}" }

	%td.center
		= link_to "", admin_script_path(script, search: @query), remote: true, class: "show-row"
		%span
			= script.name
	%td.center.text-overflow{ style: 'max-width: 100px' }
		= link_to "", admin_script_path(script, search: @query), remote: true, class: "show-row"
		%span
			= script.script
	%td.center.text-overflow{ style: 'max-width: 100px' }
		= link_to "", admin_script_path(script, search: @query), remote: true, class: "show-row"
		%span
			= script.url
	- if can? :show, Script
		%td.center{ width: 5 }
			= link_to admin_script_path(script), class: "btn-floating waves-effect btn-flat", title: t("keppler.actions.show") do
				= material_icon.md_24.remove_red_eye.css_class("md-dark")
	- if can? :update, Script
		%td.center{ width: 5 }
			= link_to edit_admin_script_path(script), class: "right btn-floating btn-flat", title: t("keppler.actions.edit") do
				= material_icon.md_18.create.css_class("md-dark")
	- if can? :delete, Script
		%td.center{ width: 5 }
			= link_to admin_script_path(script), class: "btn-floating btn-flat right", title: t("keppler.actions.delete"), "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
				= material_icon.md_18.delete.css_class("md-dark")
