.container
	.row
		.col-lg-2
			.arrow-back.btn.btn-default
				= link_to admin_scripts_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
					%i.fa.fa-chevron-left
					Volver
					.clearfix
		.clearfix
  .row
    .listing.col-lg-12.col-xs-12
      %section.content-header.index-header
        %h1
          = t("keppler.modules.#{controller_path.underscore}")
        %ol.breadcrumb
          %li
            %a{:href => "#"}
              %i.fa.fa-dashboard
              = t("keppler.modules.#{action_name.underscore}")

      .box.slice-box
        .box-body.no-padding
          %table.table.table-striped
            %tbody
