#colors
  = f.simple_fields_for :appearance, html: { multipart: true } do |f|
    .col-md-7.col-lg-6
      .box.slice-box.hidden-xs
        .box-header.with-border
          %h3.box-title= t('keppler.customize.preview')
        / /.box-header
        .box-body.box-body-no-padding
          - if f.object.image_background?
            .appearance-img.devise-new-img{ style: "background-image:url(#{f.object.image_background_url})" }
              = render 'admin/settings/components/preview', f: f
          - else
            .appearance-img{ style: "background-image:url('/assets/admin/profile-menu.jpg')" }
              = render 'admin/settings/components/preview', f: f
    .col-md-5.col-lg-6
      .box.slice-box.p-15
        .box-header.with-border
          %h3.box-title= t('keppler.customize.admin-theme')

        .box-body
          .form-group
            .file-uploader
              .file-container{ style: "background-image: url(#{f.object.image_background_url})", class: ('already-uploaded' if f.object.image_background_url) }
                = f.input :image_background # , multiple: true
                %i.file-icon.icon-picture
                %h5.file-text= t 'keppler.actions.drop_files'
            %p= t 'appearance.main_color'
            %input.form-control.jscolor#colorpicker{ type: 'text', name: 'color', placeholder: 'Color', value: color }
          .pull-right
            = f.button :submit, t('keppler.actions.apply'), class: 'btn btn-primary change-color'
            - if @render.eql?('appearance')
              = link_to appearance_default_admin_settings_path(@render), class: 'btn btn-default', method: :put do
                = t('keppler.actions.appearance_defaut')
:javascript
  $(function() {
      $('#colorpicker').on('change', function(e) {
        color = e.currentTarget.style.backgroundColor
        $('.logo span').css('color', color)
        $('.keppler-background').css('background', color)
        $('.keppler-border-top-color').css('border-top-color', color)
        $('.keppler-border-left-color').css('border-left-color', color)
        $('.sidebar-toggle').css('background', color)
        $('.btn-primary').css('background', color)
        $('.slice-box').css('border-top-color', color)
        $('#span').css('color', color)
        $('.side-img-profile').css('background', color)
        $('.small-profile-img').css('background', color)
        $('.login-logo span').css('color', color)
        $('.login-footer span').css('color', color)
        $('.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a')
          .css({
            'color': color,
            'border-left-color': color
          })
      });
    });
