.nested-fields.row
  .col-lg-5
    = f.input :association_type, label: t('capsule.attributes.association_type'), collection: f.object.relationships.map { |v| [t("keppler_capsules.associations.#{v}"), v] }, include_blank: false
  .col-lg-3
    = f.input :capsule_name, label: t('capsule.attributes.capsule_name'), collection: f.object.capsules_valids.map(&:name), include_blank: false
  .col-lg-2
    = f.input :dependention_destroy, label: t('capsule.attributes.dependention_destroy'), include_blank: false, collection: f.object.dependentions.map { |v| [t("keppler_capsules.dependent.#{v[1]}"), v[0]] }
  .col-lg-1
    = link_to_remove_association "<button class='btn btn-default btn-delete-field'><i class='icon-trash'></i></button>".html_safe, f
    .clearfix
