- objects.each do |capsule|
  %tr{ id: "row-#{capsule.id}" }
    %td.item-check{ style: 'width: 10%' }
      - if can?(KepplerCapsules::Capsule).destroy_multiple?
        .checkbox
          %label{ for: "checkbox-#{capsule.id}" }
            %input{ type: 'checkbox', id: "checkbox-#{capsule.id}", 'checklist-model' => 'check', 'checklist-value' => "#{capsule.id}", '@click' => "listDelete(#{capsule.id})"}
            %span.cr
              %i.cr-icon.glyphicon.glyphicon-ok
    %td{ style: 'width: 80%' }
      = link_to edit_admin_capsules_capsule_path(capsule, search: @query), class: 'show-row' do
        %span
          = capsule.name
    %td{ style: 'width: 15px;padding-right:15px;' }
      %a.action-btn.pull-right{:id => "menu-#{capsule.id}", 'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown' }
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{ 'aria-labelledby': "menu-#{capsule.id}" }
        - if can?(KepplerCapsules::Capsule).update?
          %li
            = link_to edit_admin_capsules_capsule_path(capsule), class: 'new-menu', title: t('keppler.actions.edit') do
              %i.icon-pencil
              = t('keppler.actions.edit')
        - if can?(KepplerCapsules::Capsule).destroy?
          %li
            = link_to admin_capsules_capsule_path(capsule), class: 'new-menu', id:'delete_capsule', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
              %i.icon-trash
              = t('keppler.actions.delete')

    -# %td{ style: 'width: 5%;' }
    -#   %a.drop{ href: '#' }
    -#     %i.icon-cursor-move
