#index-container{ :controller => "capsules" }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1{ style: 'display: inline-block' }
            = t("keppler_capsules.modules.#{controller_path.underscore}")
          = entries(@total, @objects)
        %section.content-actions
          .toolbar
            .toolbar-item
              = link_to reload_admin_capsules_capsules_path, class: "tool-btn", remote: true do
                %i.icon-reload
            .toolbar-item
              %a.tool-btn{"data-confirm" => "¿Estás seguro?", "data-method" => "delete", "v-bind:href" => "link", :rel => "nofollow", ":class" => "{disabled: !checks}" }
                %i.icon-trash
          .hide
            = form_tag admin_capsules_capsule_upload_path(@objects), id: "upload_form_capsules", multipart: true, method: :post do
              = file_field_tag :file, id: "upload_file_capsule"
          - if can?(KepplerCapsules::Capsule).create?
            .add
              = link_to new_admin_capsules_capsule_path, class: "btn-add" do
                +
                = t('keppler.actions.add')


        .box.slice-box
          .box-body.no-padding

            %table.table
              %thead
                - if @objects.size.zero?
                  %tr
                    %th.not-records.center
                      %h6= t('keppler.messages.not_found_records', model:  t("keppler_capsules.models.pluralize.capsules"))
                - else
                  %tr
                    %th
                      - if can?(KepplerCapsules::Capsule).destroy_multiple?
                        .item-check
                          .checkbox
                            %label{ for: 'checkbox-all' }
                              %input{ type: 'checkbox', id: 'checkbox-all', ':disabled' => 'checkItems ? disabled : ""', '@click' => 'selectAll()' }
                              %span.cr
                                %i.cr-icon.glyphicon.glyphicon-ok
                    %th.hidden-xs
                      = sort_link(@q, :name) do
                        = t('activerecord.attributes.name')
                    %th
              %tbody.objects-container
                = render 'admin/layouts/listing_preloader'
                = render 'listing', objects: @objects
        %center#paginator-module
          = paginate @objects, window: 1
  %aside.control-sidebar
    = render "description"
