= simple_form_for @role, url: admin_role_create_permissions_path(role), method: :post do |f|
  %label
    - if !role.have_action?(module_name, action)
      .switch.pull-right
        %input{name: "role[module]", type: "hidden", value: module_name}
        %input{name: "role[action]", type: "hidden", value: action}
        %input{id: "switch-#{module_name}-#{action}-#{children}", type: "checkbox"}/
        %label.label-default{:for => "switch-#{module_name}-#{action}-#{children}", onclick: "sendPermission('#{module_name}', '#{action}', '#{children}')"}

    - else
      .switch.pull-right
        %input{name: "role[module]", type: "hidden", value: module_name}
        %input{name: "role[action]", type: "hidden", value: action}
        %input{id: "switch-#{module_name}-#{action}-#{children}", type: "checkbox",  checked: "checked"}/
        %label.label-default{:for => "switch-#{module_name}-#{action}-#{children}", onclick: "sendPermission('#{module_name}', '#{action}', '#{children}')"}

:javascript
  function sendPermission(module_name, action, children) {
    $('#switch-'+module_name+'-'+action+'-'+children).parent().parent().parent().submit()
  }
