%tr{ id: "row-#{category.id}" }
	- if can? :destroy_multiple, Category
		%td.item-check{style:"width: 10%"}
			= link_to "", admin_category_path(category), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{category.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{category.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{category.id}" }

	%td{style:"width: 30%"}
		= link_to "", admin_category_path(category, search: @query), remote: true, class: "show-row"
		%span
			= category.icon.to_s.humanize
	%td{style:"width: 30%"}
		= link_to "", admin_category_path(category, search: @query), remote: true, class: "show-row"
		%span
			= category.name.to_s.humanize
	%td{style:"width: 5%"}
		= link_to admin_category_path(category), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.remove_red_eye.css_class("md-dark")
	- if can? :update, Category
		%td{style:"width: 5%"}
			= link_to edit_admin_category_path(category), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
				= material_icon.md_18.create.css_class("md-dark")

	%td{style:'width: 5%'}
		= link_to admin_category_shops_path(category), class: 'btn-floating waves-effect btn-flat' do
			= material_icon.md_24.store.css_class('md-dark')
	- if can? :clone, Category
		%td{style:"width: 5%"}
			= link_to admin_category_clone_path(category), class: "btn-floating waves-effect btn-flat" do
				= material_icon.md_24.content_copy.css_class("md-dark")
	- if can? :delete, Category
		%td{style:"width: 5%"}
			= link_to admin_category_path(category), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
				= material_icon.md_18.delete.css_class("md-dark")
