.wrapper
	.wrapper-body.container
		.actions
			= link_to admin_proyects_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				.card-content
					= simple_form_for [:admin, @proyect] do |f|
						.row
							= f.input :banner, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
							= f.input :brand, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
							= f.input :headline
							= f.input :service_type, collection: ['Web', 'Google Adwords', 'Social Ads', 'Branding'], label: false, include_blank: "Tipo de Proyecto"
							= f.input :description, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'mini'} }
							= f.input :name
							= f.input :share, as: :checkbox_material

							.form-actions.right
								= f.button :submit, t("keppler.actions.save"), name: '_save'
								= f.button :submit, t("keppler.actions.save_and_add_another"), name: '_add_other'
