= title(t('keppler.titles.show', model: "Proyects"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Proyect
				= link_to admin_proyect_path(@proyect), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Proyect
				= link_to edit_admin_proyect_path(@proyect), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to admin_proyects_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%center.color-title= @proyect.name.to_s.humanize
				%center= image_tag @proyect.banner, style: "max-width:100%;height: 200px;"
				%table.bordered
					%tbody
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
							%td
								.display-value.fs-body-1.tc-black-2= @proyect.id.to_s.humanize
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.headline")
							%td
								.display-value.fs-body-1.tc-black-2= @proyect.headline.blank? ? '----------' : @proyect.headline
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.service_type")
							%td
								.display-value.fs-body-1.tc-black-2= @proyect.service_type.blank? ? '----------' : @proyect.service_type
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.description")
							%td
								.display-value.fs-body-1.tc-black-2= @proyect.description.blank? ? '----------' : @proyect.description
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.name")
							%td
								.display-value.fs-body-1.tc-black-2= @proyect.name.blank? ? '----------' : @proyect.name
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.share")
							%td
								.display-value.fs-body-1.tc-black-2= @proyect.share.blank? ? '----------' : @proyect.share
