.front
	.front-logo
		= image_tag "app/keppler-front.png", class: "front-logo img-responsive"
	.front-social
		%ul
			%li
				=	link_to "https://twitter.com/slicegroupxyz", target:"_blank" do
					= icon 'twitter'
			%li
				=	link_to "https://www.facebook.com/slicegroupxyz/", target:"_blank" do
					= icon 'facebook'
			%li
				=	link_to "https://www.instagram.com/slicegroupxyz/", target:"_blank" do
					= icon 'instagram'
			%li
				=	link_to "https://github.com/SliceDevelopers", target:"_blank" do
					= icon 'github'

%footer
	= render 'app/layouts/footer'
