.collection-item.avatar
	= material_icon.md_24.add.css_class("circle") 
	%b
		= activity.owner.name if activity.owner
	create user

	- if activity.trackable
		to 
		%b
			= activity.trackable.name
		at
		= activity.created_at
	- else
		at	
		= activity.created_at
		whitch has since been removed