#index-container{ controller: 'people' }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1{ style: 'display: inline-block' }
            = t("keppler.modules.#{controller_path.underscore}")
          = entries(@total, @objects)
          .toolbar
            - if can?(Person).download?
              .toolbar-item
                = link_to admin_people_path(format: :csv), class: 'tool-btn', title: t('keppler.actions.download_records') do
                  %i.icon-cloud-download
            - if can?(Person).upload?
              .toolbar-item
                = link_to '#', id: 'upload', class: 'tool-btn', title: t('keppler.actions.upload_records') do
                  %i.icon-cloud-upload
            .toolbar-item
              = link_to reload_admin_people_path, class: 'tool-btn', remote: true do
                %i.icon-reload
            - if can?(Person).destroy_multiple?
              .toolbar-item
                .checkbox
                  %label{ for: 'checkbox-all' }
                    %input{ type: 'checkbox', id: 'checkbox-all', ':disabled' => 'checkItems ? disabled : ""', '@click' => 'selectAll()' }
                    %span.cr
                      %i.cr-icon.glyphicon.glyphicon-ok
            .toolbar-item
              %a.tool-btn{'data-confirm' => '¿Estás seguro?', 'data-method' => 'delete', 'v-bind:href' => 'link', rel: 'nofollow', ':class' => '{disabled: !checks}' }
                %i.icon-trash
          .hide
            = form_tag admin_person_upload_path(@objects), id: 'upload_form', multipart: true, method: :post do
              = file_field_tag :file, id: 'upload_file'
          %ol.breadcrumb
            %li
              %a{ href: '#' }
                %i.icon-directions
                = t("keppler.modules.#{action_name.underscore}")
        .box.slice-box
          .box-body.no-padding
            %table.table
              %thead
                - if @objects.size.zero?
                  %tr
                    %th{style: 'text-align: center;'}
                      %h6= t('keppler.messages.not_found_records', model:  t('keppler.models.pluralize.people'))
                - else
                  %tr
                    %th
                    %th= t('activerecord.attributes.photo')
                    %th.hidden-xs= t('activerecord.attributes.name')
                    %th.hidden-xs.hidden-sm= t('activerecord.attributes.email')
                    %th.hidden-xs.hidden-sm= t('activerecord.attributes.phone')
                    %th.hidden-xs.hidden-sm= t('activerecord.attributes.age')
                    %th.center Menu
                    %th
              %tbody.objects-container{ 'data-update-url' => "#{sort_admin_people_path}" }
                = render 'admin/layouts/listing_preloader'
                = render 'listing', objects: @objects
        %center.paginator-module
          = paginate @objects, window: 1
  %aside.control-sidebar
    = render 'description'
  %aside.index-show.control-sidebar

  .mixed-btn
    - if can?(Person).create?
      = link_to '+', new_admin_person_path, class: 'btn-float'
