= simple_form_for [:admin, :<%= namespaced_path.split('_').drop(1).join('_') %>, @<%= singular_table_name %>] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_<%= namespaced_path.split('_').drop(1).join('_') %>_<%= plural_table_name %>_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{action_name.underscore}")
            .box-tools.pull-right
              %a.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  <%- attributes.each do |attribute| -%>
                  .col-xs-12
                    <%- if @attachments.include?(attribute.name) -%>
                    = f.input :<%= attribute.name %>, as: :keppler_file, label: false
                    <%- elsif attribute.reference? -%>
                    = f.association :<%= attribute.name %>, include_blank: false
                    <%- elsif attribute.type.to_s == 'text' -%>
                    = f.input :<%= attribute.name %>, input_html: { ckeditor: { toolbar: 'mini' } }
                    <%- elsif %[position deleted_at].include?(attribute.name.to_s) || attribute.type.to_s == 'timestamp' -%>
                    = f.input :<%= attribute.name %>, as: :hidden
                    <%- elsif attribute.type.to_s == 'date' -%>
                    = f.input :<%= attribute.name %>, as: :string, input_html: { class: 'datepicker' }
                    <%- elsif attribute.type.to_s == 'boolean' -%>
                    = f.input :<%= attribute.name %>, as: :keppler_boolean
                    <%- elsif %w[integer float decimal].include?(attribute.type.to_s) -%>
                    = f.input :<%= attribute.name %>, input_html: { min: 0 }
                    <%- elsif attribute.type.to_s == 'binary' -%>
                    = f.input :<%= attribute.name %>, as: :string
                    <%- elsif attribute.name.to_s == "position" || attribute.name.to_s == "deleted_at" -%>
                    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, as: :hidden
                    <%- else -%>
                    = f.input :<%= attribute.name %>
                    <%- end -%>
                  <%- end -%>
                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                      = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
