.wrapper
	.wrapper-body.container
		.actions
			- if can? :destroy, Scaffold
				= link_to admin_scaffold_path(@scaffold), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					-# = material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Scaffold
				= link_to edit_admin_scaffold_path(@scaffold), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					-# = material_icon.md_18.create.css_class("md-dark")
			= link_to admin_scaffolds_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				-# = material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%center.color-title= @scaffold.name.to_s.humanize
				%table.bordered
					%tbody
						%tr
							%th
								%th.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
							%td
								%td.display-value.fs-body-1.tc-black-2= @scaffold.id.to_s.humanize
						%tr
							%th
								%th.display-label= t("activerecord.attributes.#{controller_name.singularize}.name")
							%td
								%td.display-value.fs-body-1.tc-black-2= @scaffold.name.blank? ? '----------' : @scaffold.name
						%tr
							%th
								%th.display-label= t("activerecord.attributes.#{controller_name.singularize}.fields")
							%td
								%td.display-value.fs-body-1.tc-black-2= @scaffold.fields.blank? ? '----------' : @scaffold.fields
