%head
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  %link{ href:'https://fonts.googleapis.com/css?family=Patua+One', rel: 'stylesheet', type: 'text/css' }
  %title= content_for?(:title) ? yield(:title) : 'Keppler Admin'
  = stylesheet_link_tag 'admin/application', media: 'all'
  = javascript_include_tag 'admin/application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  = favicon_link_tag 'admin/favicon.png'
