%header.main-header
  %a.logo{:href => "/admin/dashboard"}
    %span.logo-mini
      %span K
    %span.logo-lg
      %span Keppler
      Admin
  %nav.navbar.navbar-static-top
    %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
    #search.col-lg-6
      .input-group
        %input.form-control.search-bar{:placeholder => "Search for...", :type => "text"}/
        %span.input-group-btn
          %button.btn.btn-defaul.search-button{:type => "button"}
            %span.glyphicon.glyphicon-search.search-icon


    .navbar-custom-menu
      %ul.nav.navbar-nav
        %li.dropdown.messages-menu
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-envelope
        %li.dropdown.user.user-menu
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            .small-profile-img{ :style => "background-image: url(#{current_user.avatar? ? current_user.avatar : 'https://thumbs.dreamstime.com/t/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846326.jpg'})" }
            %span.hidden-xs= current_user.name
          %ul.dropdown-menu
            %li.user-header{ style: @appearance.image_background? ? "background-image: url(#{@appearance.image_background})" : nil  }
              .img-circle.nav-profile-img{:alt => "User Image", :style => "background-image: url(#{current_user.avatar? ? current_user.avatar : 'https://thumbs.dreamstime.com/t/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846326.jpg'})"}
              %p
                = current_user.name
                %small
                  = "#{t('keppler.navigation.last_session')} #{current_user.updated_at.strftime("%d %b %Y")}"
            %li.user-footer
              .pull-left
                = link_to "Profile", "/admin/users/#{current_user.id}", class: "btn btn-default btn-flat"
              .pull-right
                = link_to t('devise.sign_out'), destroy_session_path(current_user), class: " btn btn-default btn-flat"
        - if action_name == 'index'
          %li
            %a{:href=>"#", "data-toggle" => "control-sidebar"}
              %i.fa.fa-history
:javascript
  function _classCallCheck(instance, Constructor) {
    if (!(instance instanceof Constructor)) {
      throw new TypeError("Cannot call a class as a function");
    }
  }

  var Post = function Post(title, link, author, img) {
    _classCallCheck(this, Post);

    this.title = title;
    this.link = link;
    this.author = author;
    this.img = img;
  };

  var app = new Vue({
    el: '#app',
    data: {
      search: '',
      postList: [new Post('Vue.js', 'https://vuejs.org/', 'Chris', 'https://vuejs.org//images/logo.png'), new Post('React.js', 'https://facebook.github.io/react/', 'Tim', 'https://daynin.github.io/clojurescript-presentation/img/react-logo.png'), new Post('Angular.js', 'https://angularjs.org/', 'Sam', 'https://angularjs.org/img/ng-logo.png'), new Post('Ember.js', 'http://emberjs.com/', 'Rachel', 'http://www.gravatar.com/avatar/0cf15665a9146ba852bf042b0652780a?s=200'), new Post('Meteor.js', 'https://www.meteor.com/', 'Chris', 'http://hacktivist.in/introduction-to-nodejs-mongodb-meteor/img/meteor.png'), new Post('Aurelia', 'http://aurelia.io/', 'Tim', 'https://cdn.auth0.com/blog/aurelia-logo.png'), new Post('Node.js', 'https://nodejs.org/en/', 'A. A. Ron', 'https://code-maven.com/img/node.png'), new Post('Pusher', 'https://pusher.com/', 'Alex', 'https://avatars1.githubusercontent.com/u/739550?v=3&s=400'), new Post('Feathers.js', 'http://feathersjs.com/', 'Chuck', 'https://cdn.worldvectorlogo.com/logos/feathersjs.svg')]
    },
    computed: {
      filteredList: function filteredList() {
        var _this = this;

        return this.postList.filter(function (post) {
          return post.title.toLowerCase().includes(_this.search.toLowerCase());
        });
      }
    }
  });
