%header.main-header
  / Logo
  = link_to '/admin/dashboard', class: 'logo' do
    / mini logo for sidebar mini 50x50 pixels
    %span.logo-mini
      %span K
    / logo for regular state and mobile devices
    %span.logo-lg
      %span Keppler
      Admin
  / Header Navbar: style can be found in header.less
  %nav.navbar.navbar-static-top
    / Sidebar toggle button
    %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
    /%h3
    /  = t("keppler.modules.#{controller_path.underscore}")
    / Navbar Right Menu
    .navbar-custom-menu
      %ul.nav.navbar-nav
        / Messages: style can be found in dropdown.less
        %li.dropdown.messages-menu
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.fa.fa-envelope-o
            -# %span.label.label-danger 4
          %ul.dropdown-menu
            %li.header You have 4 messages
            %li
              / inner menu: contains the actual data
              %ul.menu
                %li
                  / start message
                  %a{:href => "#"}
                    .pull-left
                      %img.img-circle{:alt => "User Image", :src => "https://thumbs.dreamstime.com/t/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846326.jpg"}/
                    %h4
                      Support Team
                      %small
                        %i.fa.fa-clock-o>
                        5 mins
                    %p Why not buy a new awesome theme?
                / end message
                %li
                  %a{:href => "#"}
                    .pull-left
                      %img.img-circle{:alt => "User Image", :src => "https://thumbs.dreamstime.com/t/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846326.jpg"}/
                    %h4
                      AdminLTE Design Team
                      %small
                        %i.fa.fa-clock-o>
                        2 hours
                    %p Why not buy a new awesome theme?
                %li
                  %a{:href => "#"}
                    .pull-left
                      %img.img-circle{:alt => "User Image", :src => "https://thumbs.dreamstime.com/t/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846326.jpg"}/
                    %h4
                      Developers
                      %small
                        %i.fa.fa-clock-o>
                        Today
                    %p Why not buy a new awesome theme?
                %li
                  %a{:href => "#"}
                    .pull-left
                      %img.img-circle{:alt => "User Image", :src => "https://thumbs.dreamstime.com/t/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846326.jpg"}/
                    %h4
                      Sales Department
                      %small
                        %i.fa.fa-clock-o>
                        Yesterday
                    %p Why not buy a new awesome theme?
                %li
                  %a{:href => "#"}
                    .pull-left
                      %img.img-circle{:alt => "User Image", :src => "https://thumbs.dreamstime.com/t/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846326.jpg"}/
                    %h4
                      Reviewers
                      %small
                        %i.fa.fa-clock-o>
                        2 days
                    %p Why not buy a new awesome theme?
            %li.footer
              %a{:href => "#"} See All Messages
            %li.footer
              %a{:href => "#"} View all tasks
        / User Account: style can be found in dropdown.less
        %li.dropdown.user.user-menu
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %img.user-image{:alt => "User Image", :src => "https://thumbs.dreamstime.com/t/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846326.jpg"}/
            %span.hidden-xs= current_user.name
          %ul.dropdown-menu
            / User image
            %li.user-header{ style: @appearance.image_background? ? "background-image: url(#{@appearance.image_background})" : nil  }
              %img.img-circle{:alt => "User Image", :src => "https://thumbs.dreamstime.com/t/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846326.jpg"}/
              %p
                = current_user.name
                %small
                  = "#{t('keppler.navigation.last_session')} #{current_user.updated_at.strftime("%d %b %Y")}"
            %li.user-footer
              .pull-left
                %a.btn.btn-default.btn-flat{:href => "#"} Profile
              .pull-right
                = link_to t('devise.sign_out'), destroy_session_path(current_user), class: " btn btn-default btn-flat"
        - if action_name == 'index'
          %li
            %a{:href=>"#", "data-toggle" => "control-sidebar"}
              %i.fa.fa-history
