%aside.main-sidebar
  / sidebar: style can be found in sidebar.less
  %section.sidebar{:style => ""}
    / Sidebar user panel
    .user-panel{ style: @appearance.image_background? ? "background-image: url(#{@appearance.image_background})" : nil  }
      .pull-left.image
        -# = link_to "http://gravatar.com", target: "_blank" do
        -#   = image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=60", class: "img-circle"
        .img-circle.side-img-profile{:alt => "User Image", :style => "background-image: url(#{current_user.avatar? ? current_user.avatar : 'https://thumbs.dreamstime.com/t/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846326.jpg'})"}
      .pull-left.info
        %p= current_user.name
        %small= current_user.rol.humanize
    / /.search form
    / sidebar menu: : style can be found in sidebar.less
    %ul.sidebar-menu.tree{"data-widget" => "tree"}
      %li.header MAIN NAVIGATION
      %li
        / = link_to dashboard_path do i.fa.fa-dashboard /!span= t('dashboard.sidebar')
      - KepplerConfiguration.visible_models.each do |menu|
        - menu.each do |key, value|
          - unless menu[key]["submenu"] #ontetab sidebar link
            - if menu[key]["model"] #links with cancancan validate
              - if can?(:index, menu[key]["model"].constantize)
                %li.treeview
                  = link_to menu[key]['url_path'], class: "collapsible-header #{'current' if menu[key]['current'].include?(controller_path)}", :'data-no-turbolink'=> true do
                    %i{ :class => "icon-#{menu[key]["icon"]}"}
                    %span= t("keppler.sidebar-menu.#{menu[key]['name'].parameterize}")
              - else #links without cancancan validate
                %li.treeview
                  = link_to menu[key]['url_path'], class: "collapsible-header #{'current' if menu[key]['current'].include?(controller_path)}", :'data-no-turbolink'=> true do
                    %i.fa{ :class => "fa-#{menu[key]["icon"]}"}
                    %span= t("keppler.sidebar-menu.#{menu[key]['name'].parameterize}")
          - else #tree sidebar links
            - if menu[key]["model"] && can?(:index, menu[key]["model"].constantize)
              %li
                %a{ :href => "#", class: "#{'active current' if menu[key]['current'].include?(controller_path)}"}
                  %i{ :class => "icon-#{menu[key]['icon']}" }
                  %span= t("keppler.sidebar-menu.#{menu[key]['name'].parameterize}")
                  %span.pull-right-container
                    %i.fa.fa-angle-left.pull-right

                %ul.treeview-menu
                  - menu[key]["submenu"].each do |submenu|
                    - submenu.each do |name, val|
                      %li
                        - if settings_path?
                          = link_to t("keppler.sidebar-menu.#{menu[key]['name'].parameterize}-submenu.#{submenu[name]['name'].parameterize}"), submenu[name]['url_path'], class: "#{'current' if submenu[name]['current'].include?(@render)}", :'data-no-turbolink'=>true, :class => (submenu[name]['url_path'].eql?("/admin/settings/email_setting") ? 'cut-text' : '')
                        - else
                          = link_to t("keppler.sidebar-menu.#{menu[key]['name'].parameterize}-submenu.#{submenu[name]['name'].parameterize}"), submenu[name]['url_path'], class: "#{'current' if submenu[name]['current'].include?(controller_path)}", :'data-no-turbolink'=> true, :class => (submenu[name]['url_path'].eql?("/admin/settings/email_setting") ? 'cut-text' : '')

  #sidebar-footer
    .pull-left
      = image_tag 'admin/slice_white.png', height: 30
    .pull-right{:style => 'padding-top: 5px;'}
      %span v 2.0.0

  / /.sidebar
/ Content Wrapper. Contains page content
:sass
  #sidebar-footer
    width: 100%
    padding: 10px
    position: relative
    bottom: 0px

    a, span
      color: #fff !important
      font-family: Patua One
  ::-webkit-scrollbar
    display: none

  .sidebar-menu.tree
    i
      color: #a0a0a0
      font-size: 16px
      padding-right: 10px
