%aside.main-sidebar
  %section.sidebar.sidebar-collapse
    %ul.sidebar-menu.tree
      // Dynamic items
      - @sidebar_menu.each do |item|
        %li.sidebar-item
          %a.sidebar-link{ :href => item.submenu? ? "#" : item.url_path, class: ('active menu-open' if item.current?(controller_path)) }
            %i{ class: "bx bx-#{item.icon}" }
            %span= t("keppler.sidebar-menu.#{item.name.parameterize}")
          - if item.submenu?
            %ul.treeview-menu{ class: (item.current?(controller_path) ? 'menu-open' : 'closed') }
              - item.submenu.each do |subitem|
                %li{ class: ('active' if subitem.current?(controller_path)) }
                  %a.treeview-menu-link{ :href => subitem.url_path }
                    = t("keppler.sidebar-menu.#{item.name.parameterize}-submenu.#{subitem.name.parameterize}")


      // Static items
      - if can?(Setting).index?
        %li.sidebar-item{ class: ('active menu-open' if 'admin/settings'.eql?(controller_path)) }
          %a.sidebar-link
            %i.bx.bx-cog
            %span= t('keppler.sidebar-menu.setting')
          %ul.treeview-menu
            - @settings_options.each do |action|
              %li{ class: ('active' if action.eql?(params[:config])) }
                = link_to "/admin/settings/#{action}" do
                  = t("keppler.sidebar-menu.setting-submenu.#{action}")

      %li.sidebar-item.info-keppler
        %a.sidebar-link{ href: '#' }
          %i.bx.bx-error-circle
          %span= t('keppler.sidebar-menu.about')


:javascript
  $('.info-keppler').click(function (ev) {
    ev.preventDefault();
    swal({
      html: '<h1 class="modal-h1">Keppler <span>Admin</span></h1><div class="modal-info">' +
        '<span> v 2.1.19 </span>' +
        "<span>#{t('keppler.release_date')}: 25/10/2018</span>" +
        '<span>Ruby on Rails v 5.2.1</span>' +
        '<ul class= "modal-social">' +
        '<li><a href= "https://www.facebook.com/slicegroupxyz/" target= "_blank"><i class= "icon-social-facebook"></i></a></li>' +
        '<li><a href= "https://twitter.com/slicegroupxyz" target= "_blank"><i class= "icon-social-twitter"></i></a></li>' +
        '<li><a href= "https://www.instagram.com/slicegroupxyz/" target= "_blank"><i class= "icon-social-instagram"></i></a></li>' +
        '<li><a href= "https://github.com/SliceDevelopers" target= "_blank"><i class= "icon-social-github"></i></a></li>' +
        '</ul>' +
        "<span class= 'modal-powered'>#{t('keppler.powered')} <a href= 'http://slicegroup.xyz/' target= '_blank'>Slice Group</a></span>" +
        '</div>',
      showCloseButton: true,
      showConfirmButton: false
    })
  })
