!!!
%html
  = render 'admin/layouts/head'
  %body.sidebar-mini.skin-blue{style: "height: auto; min-height: 100%;" }

    - if loggedin?
      .wrapper{style:"height: auto; min-height: 100%;"}
        = render 'admin/layouts/navigation'
        = render 'admin/layouts/sidebar'

        .content-wrapper{ style: "min-height: 901px;" }
          = yield

      #spinner
        = preloader

      = render 'admin/layouts/footer'
    - else
      %main.devise{ style: @appearance.image_background? ? "background-image: url(#{@appearance.image_background})" : nil  }
        = yield
  :javascript
    var app = new Vue({
      el: "#index-container",
      data: {
        users: [],
        deleteList:[],
        controller: "#{controller_name}",
        action: "#{action_name}"
      },
      mounted: function(){
        var that;
        that = this;

        $.ajax({
          url: `/admin/${that.controller}.json`,
          success: function(res){
            that.users = res;
            console.log("It's ready!!");
          }
        });
      },
      computed:{
        checks: function(){
          return this.deleteList.length > 0
        },
        link: function(){
          return "/admin/" + this.controller + "/destroy_multiple?multiple_ids=[" + this.deleteList + "]"
        }
      },
      methods: {
        listDelete: function(user_id){
          var that = this;
          if(that.deleteList.includes(user_id)){
            removeA(that.deleteList, user_id)
          }else{
            that.deleteList.push(user_id)
          }
          console.log(that.deleteList);
        },
        // deleteThem: function(){
        //   var that = this;
        //   //$.ajax({
        //   //  method: 'DELETE',
        //   //  url: "/admin/users?multiple_ids=[" + that.deleteList + "]",
        //   //  success: function(res){
        //   //    that.$el.$remove()
        //   //  }
        //   //})
        // }
      }
    });
:sass
  .wrapper
    .content-wrapper
      padding-top: 60px
      min-height: 100vh !important
      thead
        border-bottom: 3px solid #ff5300
:scss
  #spinner {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000bd;
    z-index: 999999;
    center{
      width: 120px;
      height: 120px;
      position: absolute;
      top: 40%;
      left: 44%;
    }
    .spinner {
      position: absolute;
      -webkit-animation: rotator 1.4s linear infinite;
              animation: rotator 1.4s linear infinite;
    }
    @-webkit-keyframes rotator {
      0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
      }
    }
    @keyframes rotator {
      0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
      }
    }
    .path {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
      -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
              animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    }
    @-webkit-keyframes colors {
      0% {
        stroke: #4285F4;
      }
      25% {
        stroke: #DE3E35;
      }
      50% {
        stroke: #F7C223;
      }
      75% {
        stroke: #1B9A59;
      }
      100% {
        stroke: #4285F4;
      }
    }
    @keyframes colors {
      0% {
        stroke: #4285F4;
      }
      25% {
        stroke: #DE3E35;
      }
      50% {
        stroke: #F7C223;
      }
      75% {
        stroke: #1B9A59;
      }
      100% {
        stroke: #4285F4;
      }
    }
    @-webkit-keyframes dash {
      0% {
        stroke-dashoffset: 187;
      }
      50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
      }
      100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
                transform: rotate(450deg);
      }
    }
    @keyframes dash {
      0% {
        stroke-dashoffset: 187;
      }
      50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
      }
      100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
                transform: rotate(450deg);
      }
    }
  }
