= simple_form_for [:admin, @user] do |f|
  .container

    .row
      .col-xs-12
        = link_to admin_users_path, 'data-position' => 'bottom', 'data-tooltip' => t('keppler.actions.back') do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')
    .row
      .col-md-4
        .box.slice-box
          .box-header.with-border
            %h3.box-title Avatar
            - unless @user.avatar.blank?
              .pull-right
                = link_to admin_user_delete_avatar_path(@user), remote: true do
                  %i.icon-trash
          .box-body.box-profile
            .upload-image
              .files.form-group.trigger{ class: "#{'files-absolute' unless @user.avatar.blank?}" }
                #icon-file
                  +
                = f.file_field :avatar, class: 'photo_upload'
              %center#image
                = image_tag "#{@user.avatar.blank? ? 'admin/user.png' : @user.avatar}", class: "#{'hidden' if @user.avatar.blank?} image_to_upload"



      .col-md-8
        .box.slice-box
          .box-header.with-border
            %h3.box-title= @user.name || 'User'


          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .row
                    .col-lg-6
                      = f.input :name, label: t('simple_form.labels.defaults.name'), placeholder: 'Name', input_html: {class: 'form-control'}, required: true
                    .col-lg-6
                      = f.input :email, label: t('simple_form.labels.defaults.email'), placeholder: 'Email', input_html: {class: 'form-control'}, required: true
                  .row
                    .col-xs-12
                      - unless @user.role_ids.include?(1)
                        .form-group
                          %label.control-label.string.required{ for: 'user_name' }
                            %abbr{ title: 'required' } *
                            = t('simple_form.labels.defaults.select_role')
                          %select#user_role_ids.form-control.select.required.form-control{'aria-required' => 'true', name: 'user[role_ids]', required: 'required'}
                            - @roles.each do |role|
                              %option{ value: role.last }= role.first

                  .row
                    .col-lg-6
                      = f.input :password, label: t('simple_form.labels.defaults.password'), placeholder: 'Password', input_html: {class: 'form-control'}, required: true
                    .col-lg-6
                      = f.input :password_confirmation, label: t('simple_form.labels.defaults.password_confirmation'), placeholder: 'Password Confirmation', input_html: {class: 'form-control'}, required: true

                  .row
                    .col-lg-12
                      .pull-right
                        = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                        = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
