= simple_form_for [:admin, @user] do |f|
	.container

		.row
			.col-lg-2
				.arrow-back.btn.btn-default
					= link_to admin_users_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
						%i.fa.fa-chevron-left
							Volver
						.clearfix
			.clearfix
		.row
			.col-lg-3
				.box.slice-box
					.box-body.box-profile
						%center#image
							-# - if @user
							-# 	= render "admin/users/avatar", image: Cache.last.image
							-# - else
							.form-group.outline.files.trigger{style: "height: 195px"}
								%i.material-icons.files-icon#icon-file add
								= f.input :avatar, label: false
						%h3.profile-username.text-center Selecciona o arrastra una imagen hasta aquí


			.col-lg-9
				.box.slice-box
					.box-header.with-border
						%h3.box-title User


					.box-body
						%table.table.table-bordered
							%tbody
								.form-padding
									.row
										.col-lg-6
											= f.input :name, label: false, placeholder: "Name", input_html: {class: "form-control"}, :required => true

										.col-lg-6
											= f.input :email, label: false, placeholder: "Email", input_html: {class: "form-control"}, :required => true
									.row
										.col-lg-12
											= f.input :role_ids, label: false, collection: @roles, include_blank: t("keppler.actions.select_rol"), input_html: { class: "form-control" }, :required => true
									.row
										.col-lg-6
											= f.input :password, label: false, placeholder: "Password", input_html: {class: "form-control"}, :required => true
										.col-lg-6
											= f.input :password_confirmation, label: false, placeholder: "Password Confirmation", input_html: {class: "form-control"}, :required => true

									.row
										.col-lg-12
											.pull-right
												= f.button :submit, t("keppler.actions.save"), name: "_save", class: "btn-primary"
												= f.button :submit, t("keppler.actions.save_and_add_another"), name: "_add_other"
