= simple_form_for [:admin, @user] do |f|
	.container
		.row
			.col-lg-2
				.arrow-back.btn.btn-default
					= link_to admin_users_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
						%i.fa.fa-chevron-left
						Volver
						.clearfix
			.clearfix
		.row
			.col-lg-3
				.box.slice-box
					.box-body.box-profile
						%center
							.form-group.files#trigger
								%i.material-icons.files-icon add

								= f.input :avatar, label: false
						-# %img.profile-user-img.img-responsive.img-circle#trigger{:alt => "User profile picture", :src => "https://thumbs.dreamstime.com/t/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846326.jpg"}/
						%h3.profile-username.text-center Selecciona o arrastra una imagen hasta aquí

			.col-lg-9
				.box.slice-box
					.box-header.with-border
						%h3.box-title User


					.box-body
						%table.table.table-bordered
							%tbody
								.form-padding
									.row
										.col-lg-6
											= f.input :name, label: false, placeholder: "Name", input_html: {class: "form-control"}, :required => true

										.col-lg-6
											= f.input :email, label: false, placeholder: "Email", input_html: {class: "form-control"}, :required => true
									.row
										.col-lg-12
											= f.input :role_ids, label: false, collection: @roles, include_blank: t("keppler.actions.select_rol"), input_html: { class: "form-control" }, :required => true
									.row
										.col-lg-6
											= f.input :password, label: false, placeholder: "Password", input_html: {class: "form-control"}, :required => true
										.col-lg-6
											= f.input :password_confirmation, label: false, placeholder: "Password Confirmation", input_html: {class: "form-control"}, :required => true
										-# .row
										-# 	.col-lg-12
										-# 		.col-md-12
										-# 			.form-group.files
										-# 				%label Upload Your File
										-# 				%i.material-icons.files-icon#file add
										-# 				-# %input#user_file{type: "file", name: "user[avatar]"}
										-# 				= f.input :avatar, label: false

									.row
										.col-lg-12
											.pull-right
												= f.button :submit, t("keppler.actions.save"), name: "_save", class: "btn-primary"
												= f.button :submit, t("keppler.actions.save_and_add_another"), name: "_add_other"


:javascript
	op1 = $('option').first()
	op1.attr('disabled', 'disabled')

	$('#trigger').click(function() {
		$('#user_avatar').click()
		$('#user_avatar').change(function() {
			$('.simple_form').first().submit()
		})
	})

	$('#user_file').change(function() {
		$('#file').html('check')
	})

	new Vue({

	})
:scss
	.add {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		// background: red;
		border: 2px dashed #555;
		border-radius: 50%;
		cursor: pointer;
		transition: all ease .3s;
		margin-bottom: 20px;
		margin-top: 10px;

		&:hover {
			background: #eee;
			transition: all ease .3s;
		}

		i {
			font-size: 30px;
			padding: 30px 20px;
		}
	}
