.tab-content
  %h6.actions
    - if can?(User).update?
      = link_to edit_admin_user_path(@user), title: t("keppler.actions.edit"), class: 'pull-left' do
        %i.icon-pencil
        %span= t('keppler.actions.edit')
    %a#close-index-show.pull-right
      %i.icon-close
  %p.control-sidebar-heading
    %i.icon-user
    %b= "#{@user.name}"
    %small= "(#{@user.rol.humanize})"
  = image_tag @user.avatar.url if @user.avatar.url
  %ul.timeline
    - @user.as_json(only: ["id", "name", "permalink", "email", "created_at", "sign_in_count", "updated_at", "password"]).each do |attribute, value|
      %li.list-row
        .timeline-item
          %h6.timeline-header.no-border
            %small
              %strong.display-value= t("activerecord.attributes.#{attribute}")
              %p.display-label= value
:coffee
  $('#close-index-show').click ->
    $('#index-show').css 'right', -$('#index-show').outerWidth()
