%tr{ id: "row-#{user.id}" }
  - if can? :destroy_multiple, User
    %td.item-check{style:"width: 10%"}
      - if user.id.eql?(current_user.id)
        = link_to admin_user_path(current_user), class: "btn-floating btn-flat", style: 'margin-right: 13px' do
          %i.material-icons.light-green-text{ title: 'Sesión iniciada' } account_circle
      - else
        = link_to "", admin_user_path(user), remote: true, class: "show-row"
        .pretty.p-default.p-thick.p-pulse
          %input{ type:"checkbox", class: "filled-in", id: "checkbox-#{user.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{user.id}", "ng-click"=>"selectByCheck(#{@objects.size})", "@click" => "listDelete(#{user.id})"}
          .state.p-danger-o
            %label{ for: "checkbox-#{user.id}" }
  %td.hide-on-small-and-down
    = link_to "", admin_user_path(user, search: @query), remote: true, class: "show-row"
    %span= user.name
  %td
    = link_to "", admin_user_path(user, search: @query), remote: true, class: "show-row"
    %span= user.email
  %td.hide-on-small-and-down
    = link_to "", admin_user_path(user, search: @query), remote: true, class: "show-row"
    %span= user.rol.humanize
  %td{:style => "float: right;padding-right: 30px;"}
    %a.coll{"data-toggle"=>"collapse", "aria-expanded"=>"false", "aria-controls"=>"menu-#{user.id}", :href => "#menu-#{user.id}"}
      -# %span.caret
      %i.material-icons menu
    .custom-collapse.collapse{id: "menu-#{user.id}"}
      .panel-body
        - if can? :show, User

          = link_to admin_user_path(user), class: 'new-menu', title: 'Show' do
            %i.material-icons remove_red_eye
        - if can? :update, User

          = link_to edit_admin_user_path(user), class: 'new-menu', title: 'Edit' do
            %i.material-icons create
        - if can? :clone, User

          = link_to admin_user_clone_path(user), class: 'new-menu', title: 'Clone' do
            %i.material-icons clone
        - if can? :delete, User

          = link_to admin_user_path(user), class: 'new-menu', title: 'Delete', method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
            %i.material-icons delete
