%tr{ id: "row-#{user.id}" }
  - if can? :destroy_multiple, User
    %td.center.item-check{style:"width: 10%"}
      - if user.id.eql?(current_user.id)
        = link_to admin_user_path(current_user), class: "btn-floating btn-flat", style: 'margin-right: 13px' do
          %i.material-icons.light-green-text{ title: 'Sesión iniciada' } account_circle
      - else
        = link_to "", admin_user_path(user), remote: true, class: "show-row"
        .pretty.p-default.p-thick.p-pulse
          %input{ type:"checkbox", class: "filled-in", id: "checkbox-#{user.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{user.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
          .state.p-danger-o
            %label{ for: "checkbox-#{user.id}" }
  %td.center.hide-on-small-and-down{style:"width: 30%"}
    = link_to "", admin_user_path(user, search: @query), remote: true, class: "show-row"
    %span= user.name
  %td.center{style:"width: 35%"}
    = link_to "", admin_user_path(user, search: @query), remote: true, class: "show-row"
    %span= user.email
  %td.center.hide-on-small-and-down{style:"width: 20%"}
    = link_to "", admin_user_path(user, search: @query), remote: true, class: "show-row"
    %span= user.rol.humanize
  %td.center{ style:"width: 35%" }
    %a.dropdown-toggle{"data-toggle"=>"collapse", "aria-expanded"=>"false", "aria-controls"=>"menu-#{user.id}", :href => "#menu-#{user.id}"}
      -# %span.caret
      %i.fa.fa-bars
    .custom-collapse.collapse{id: "menu-#{user.id}"}
      .btn-group
        - if can? :show, User
          
          = link_to admin_user_path(user), class: 'new-menu', title: 'Show' do
            %i.fa.fa-eye
        - if can? :update, User
          
          = link_to edit_admin_user_path(user), class: 'new-menu', title: 'Edit' do
            %i.fa.fa-pencil
        - if can? :clone, User
          
          = link_to admin_user_clone_path(user), class: 'new-menu', title: 'Clone' do
            %i.fa.fa-clone
        - if can? :delete, User
          
          = link_to admin_user_path(user), class: 'new-menu', title: 'Delete', method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
            %i.fa.fa-trash-o



:javascript
  $(document).ready(function(){
    


    $('.collapse').on('show.bs.collapse', function () {
      $('.collapse.in').collapse('hide');
    });
    
    
  });
