%tr{ id: "row-#{user.id}" }
  - if can? :destroy_multiple, User
    %td.item-check{style:"width: 10%"}
      - if user.id.eql?(current_user.id)
        = link_to admin_user_path(current_user), class: "btn-floating btn-flat", style: 'margin-right: 13px' do
          %i.material-icons.light-green-text{ title: 'Sesión iniciada' } account_circle
      - else
        = link_to "", admin_user_path(user), remote: true, class: "show-row"
        .pretty.p-default.p-curve.p-thick.p-smooth
          %input{ type:"checkbox", class: "filled-in", id: "checkbox-#{user.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{user.id}", "ng-click"=>"selectByCheck(#{@objects.size})", "@click" => "listDelete(#{user.id})"}
          .state.p-danger-o
            %label{ for: "checkbox-#{user.id}" }
  %td.hide-on-small-and-down
    = link_to "", admin_user_path(user, search: @query), remote: true, class: "show-row"
    %span= user.name
  %td
    = link_to "", admin_user_path(user, search: @query), remote: true, class: "show-row"
    %span= user.email
  %td.hide-on-small-and-down
    = link_to "", admin_user_path(user, search: @query), remote: true, class: "show-row"
    %span= user.rol.humanize
  %td{:style => "float: right;padding-right: 30px;"}
    %a.drop{:id => "menu-#{user.id}", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
      %i.material-icons menu
    %ul.actions.dropdown-menu{"aria-labelledby" => "menu-#{user.id}"}
      - if can? :show, User
        %li
          = link_to admin_user_path(user), class: 'new-menu', title: t('keppler.actions.show') do
            %i.material-icons remove_red_eye
            = t('keppler.actions.show')
      - if can? :update, User
        %li
          = link_to admin_user_path(user), class: 'new-menu', title: t('keppler.actions.edit') do
            %i.material-icons create
      - if can? :delete, User
        %li
          = link_to admin_user_path(user), class: 'new-menu', title: t('keppler.actions.delete') do
            %i.material-icons delete
            = t('keppler.actions.delete')
