.listing.col.l9.m12.s12
	= link_to new_admin_user_path, class: "btn-add btn-floating btn-large waves-effect waves-light btn-new hide-on-small-only" do
		= material_icon.md_24.person_add
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.user"))
			- else
				%tr.white-hover
					%td
					%th.center Name
					%th.center.hide-on-small-and-down Email
					%th.center.hide-on-small-and-down Role
					- if can? :show, User
						%th
					- if can? :update, User
						%th
					- if can? :delete, User
						%th
			- @objects.each do |user|
				= render 'listing', user: user
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

= link_to new_admin_user_path, class: "btn-add btn-index-add btn-floating btn-large waves-effect waves-light" do
	= material_icon.md_24.add.css_class("md-light")
