#index-container{ controller: 'users' }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1
            = t("keppler.modules.#{controller_path.underscore}")
          = entries(@total, @objects)
        %section.content-actions
          %div
            = simple_form_for Role.last, url: filter_by_role_path, method: :post, remote: true do
              .select-filter
                %select.form-control#filter_by_role{ name: 'role', onchange: '$(this).parent().submit()' }
                  %option{ name: 'role', value: 'all' } Todos
                  - @roles.each do |role|
                    %option{ name: 'role', value: role.first.downcase }= role.first
          .toolbar
            .toolbar-item
              = link_to reload_admin_users_path, class: 'tool-btn', remote: true do
                %i.icon-reload
            - if can?(User).download?
              .toolbar-item
                = link_to admin_users_path(format: :xls), class: 'tool-btn', title: t('keppler.actions.download_records') do
                  %i.icon-cloud-download
            .toolbar-item
              %a.tool-btn{ 'data-confirm' => t('keppler.messages.data_confirm'), 'data-method' => 'delete', 'v-bind:href' => 'link', rel: 'nofollow', ':class' => '{ disabled: !checks }' }
                %i.icon-trash
          - if can?(User).create?
            .add
              = link_to new_admin_user_path, class: 'btn-add' do
                +
                = t('keppler.actions.add')
        .box.slice-box
          .box-body.no-padding
            %table.table
              %thead
                - if @objects.size.zero?
                  %tr
                    %th.not-records.center
                      %h6= t('keppler.messages.not_found_records', model: t('keppler.models.pluralize.user'))
                - else
                  %tr
                    %th
                      - if can?(User).destroy_multiple?
                        .item-check
                          .checkbox
                            %label{ for: 'checkbox-all' }
                              %input{ type: 'checkbox', id: 'checkbox-all', '@click' => 'selectAll()' }
                              %span.cr
                                %i.cr-icon.glyphicon.glyphicon-ok
                    %th
                    %th.visible-lg.visible-md
                      = sort_link(@q, :name) do
                        = t('activerecord.attributes.name')
                    %th
                      = sort_link(@q, :email) do
                        = t('activerecord.attributes.email')
                    %th.visible-lg.visible-md= t('activerecord.attributes.role')
                    %th
              %tbody.objects-container
                = render 'admin/layouts/listing_preloader'
                = render 'listing', objects: @users.reverse, size: @objects.size
        %center.paginator-module
          = paginate @objects, window: 1
  .listing-show.hidden-xs
    = render 'description', activities: @activities

:javascript
  $('#role-1').fadeOut()
