-# .wrapper
-# 	.wrapper-body.container
-# 		.actions
-# 			- unless @user.id.eql?(current_user.id)
-# 				- if can? :delete, User
-# 					= link_to admin_user_path(@user), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
-# 						-# -# = material_icon.md_18.delete.css_class("md-dark")
-# 			- if can? :update, User
-# 				= link_to edit_admin_user_path(@user), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
-# 					-# -# = material_icon.md_18.create.css_class("md-dark")
-# 			= link_to admin_users_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
-# 				-# -# = material_icon.md_18.arrow_back.css_class("md-dark")
-# 		.card
-# 			.card-content
-# 				%center.color-title= @user.name
-# 				%center.color-subtitle= @user.rol.humanize
-# 				%table.list
-# 					%tbody
-# 						- @user.as_json(only: ["id", "name", "permalink", "email", "created_at", "sign_in_count", "updated_at", "password"], methods: [:rol]).each do |attribute, value|
-# 							%tr.list-row
-# 								%th.display-label= t("activerecord.attributes.user.#{attribute}")
-# 								%td.display-value.fs-body-1.tc-black-2= value.to_s.humanize
.container
	.row
		.col-lg-2
			.arrow-back.btn.btn-default
				= link_to admin_users_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
					%i.fa.fa-chevron-left
					Volver
					.clearfix
	.show-section
		.row
			.col-lg-3
				.box.slice-box
					.box-body.box-profile
						-# %img.profile-user-img.img-responsive.img-circle{:alt => "User profile picture", :src => "#{@user.avatar}"}/
						.profile-user-img.img-responsive.bg-profile{:style => "background-image: url(#{@user.avatar? ? @user.avatar : 'https://thumbs.dreamstime.com/t/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846326.jpg'})"}
						%h3.profile-username.text-center= @user.name
						%p.text-muted.text-center= @user.rol.humanize
			.col-lg-9
				.box.slice-box
					.box-header.with-border
						%h3.box-title Users
						.box-tools.pull-right
							= link_to edit_admin_user_path(@user), class: "btn btn-box-tool", title: "#{t('keppler.actions.edit') }" do
								%i.material-icons create
							- unless current_user == @user
								= link_to admin_user_path(@user), class: "btn btn-box-tool", title: "#{t('keppler.actions.delete')}", method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
									%i.material-icons delete

					/ /.box-header
					.box-body.box-body-no-padding
						%table.table.table-striped
							%tbody
								- @user.as_json(only: ["id", "name", "permalink", "email", "created_at", "sign_in_count", "updated_at", "password"], methods: [:rol]).each do |attribute, value|
									%tr.list-row
										%th.display-label= t("activerecord.attributes.user.#{attribute}")
										%td.display-value.fs-body-1.tc-black-2= value.to_s.humanize
