- objects.each do |parameter|
  %tr{ id: "row-#{parameter.id}" }
    %td.item-check{ style: 'width: 10%' }
      - if can?(KepplerFrontend::Parameter).destroy_multiple?
        .checkbox
          %label{ for: "checkbox-#{parameter.id}" }
            %input{ type: 'checkbox', id: "checkbox-#{parameter.id}", 'checklist-model' => 'check', 'checklist-value' => "#{parameter.id}", '@click' => "listDelete(#{parameter.id})"}
            %span.cr
              %i.cr-icon.glyphicon.glyphicon-ok
    %td.hidden-xs
      = link_to admin_frontend_parameter_path(parameter, search: @query), remote: true, class: 'show-row' do
        %span
          = parameter.name
    %td{ style: 'width: 15px;padding-right:15px;' }
      %a.action-btn.pull-right{:id => "menu-#{parameter.id}", 'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown' }
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{ 'aria-labelledby': "menu-#{parameter.id}" }
        - if can?(KepplerFrontend::Parameter).index?
          %li
            = link_to admin_frontend_parameter_path(parameter), class: 'new-menu', title: t('keppler.actions.show') do
              %i.icon-eye
              = t('keppler.actions.show')
        - if can?(KepplerFrontend::Parameter).update?
          %li
            = link_to edit_admin_frontend_parameter_path(parameter), class: 'new-menu', title: t('keppler.actions.edit') do
              %i.icon-pencil
              = t('keppler.actions.edit')
        - if can?(KepplerFrontend::Parameter).clone?
          %li
            = link_to admin_frontend_parameter_clone_path(parameter), class: 'new-menu', title: t('keppler.actions.clone') do
              %i.icon-docs
              = t('keppler.actions.clone')
        - if can?(KepplerFrontend::Parameter).destroy?
          %li
            = link_to admin_frontend_parameter_path(parameter), class: 'new-menu', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
              %i.icon-trash
              = t('keppler.actions.delete')

    %td{ style: 'width: 5%;' }
      %a.drop{ href: '#' }
        %i.icon-cursor-move
