= f.simple_fields_for :google_analytic do |f|
	= f.input :ga_account_id
	
	%ul.collection.with-header#properties
		%li.collection-header
			%h5.align-center Properties
		= f.simple_fields_for :properties do |property|
			= render "property_fields", f: property
		.links.center-align{ style: "padding: 10px;" }
			= link_to_add_association 'Add Propperty', f, :properties, class: "white-text btn"
		

:javascript
	$('#properties').on('cocoon:before-insert', function(e, insertedItem) {
		item = $(insertedItem[0])
		$(item).find(".modal-trigger").attr("href", "#"+e.timeStamp)
		$(item).find(".modal-trigger").leanModal();
		$(item).find(".modal").attr("id", e.timeStamp)
		$(item).find(".modal").openModal({
			dismissible: true,
			complete: function() { 
				$('body').css("overflow-y", "auto");
				if($(item).find("#field_name").val() != 0)
					$(item).find("#label_name").html($(item).find("#field_name").val());

				if($(item).find("#field_tracking_id").val() != 0)
					$(item).find("#label_tracking_id").html("- "+$(item).find("#field_tracking_id").val());
			}
		});
	});


	