= f.simple_fields_for :social_account do |f|
	= f.input :facebook
	= f.input :twitter
	= f.input :instagram
	= f.input :google_plus
	= f.input :tripadvisor
	= f.input :pinterest
	= f.input :flickr
	= f.input :behance
	= f.input :dribbble
	= f.input :tumblr
	= f.input :github
	= f.input :skype
	= f.input :linkedin
	= f.input :soundcloud
	= f.input :youtube
	= f.input :vimeo
