= simple_form_for [:admin, :languages, @language] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_languages_languages_path, "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= t("keppler.actions.#{action_name.underscore}")
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .row
                    .col-xs-12
                      = f.input :name, collection: @names.first.map { |k, v| [v["name"], k] }, include_blank: 'Selecciona un lenguaje'
                    .col-xs-12
                      = f.input :position, as: :hidden
                    .col-xs-12
                      = f.input :deleted_at, as: :hidden

        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= t("keppler_capsules.form.fields")
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .row
                    .col-xs-12
                      = f.simple_fields_for :fields do |field|
                        - if field.object.key
                          = render 'field_fields_edit', f: field
                        - else
                          = render 'field_fields', f: field
                      .links
                        = link_to_add_association "<button class='btn btn-default'> + Añadir atributo </button>".html_safe, f, :fields
                    .col-xs-12
                      .pull-right
                        = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
