- objects.each do |language|
  %tr{ id: "row-#{language.id}" }
    %td.item-check{ style: "width:10%;" }
      - if can?(KepplerLanguages::Language).destroy_multiple?
        .checkbox
          %label{ for: "checkbox-#{language.id}" }
            %input{ type: 'checkbox', id: "checkbox-#{language.id}", 'checklist-model' => 'check', 'checklist-value' => "#{language.id}", '@click' => "listDelete(#{language.id})"}
            %span.cr
              %i.cr-icon.glyphicon.glyphicon-ok
    %td.hidden-xs
      = link_to edit_admin_languages_language_path(language), class: 'new-menu', title: t('keppler.actions.show') do
        %span
          = @names[0][language.name.to_sym]['name']
          (#{language.name})
    %td.hidden-xs
      %span.lang-switch
        = render 'switch', language: language
    %td{ style: 'width: 15px;padding-right:15px;' }
      %a.action-btn.pull-right{:id => "menu-#{language.id}", 'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown' }
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{ 'aria-labelledby': "menu-#{language.id}" }
        - if can?(KepplerLanguages::Language).update?
          %li
            = link_to edit_admin_languages_language_path(language), class: 'new-menu', title: t('keppler.actions.edit') do
              %i.icon-pencil
              = t('keppler.actions.edit')
        - if can?(KepplerLanguages::Language).destroy?
          %li
            = link_to admin_languages_language_path(language), class: 'new-menu', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
              %i.icon-trash
              = t('keppler.actions.delete')

    %td{ style: 'width: 5%;' }
      %a.drop{ href: '#' }
        %i.icon-cursor-move
