#index-container{ :controller => "languages" }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1{ style: 'display: inline-block' }
            = t("keppler_language.modules.language")
          = entries(@total, @objects)
        %section.content-actions
          .toolbar
            .toolbar-item
              = link_to reload_admin_languages_languages_path, class: "tool-btn", remote: true do
                %i.icon-reload
            .toolbar-item
              %a.tool-btn{"data-confirm" => "¿Estás seguro?", "data-method" => "delete", "v-bind:href" => "link", :rel => "nofollow", ":class" => "{disabled: !checks}" }
                %i.icon-trash
          .hide
            = form_tag admin_languages_language_upload_path(@objects), id: "upload_form_languages", multipart: true, method: :post do
              = file_field_tag :file, id: "upload_file_language"
          - if can?(KepplerLanguages::Language).create?
            .add
              = link_to new_admin_languages_language_path, class: 'btn-add' do
                +
                = t('keppler.actions.add')

        .box.slice-box
          .box-body.no-padding

            %table.table
              %thead
                - if @objects.size.zero?
                  %tr
                    %th.not-records.center
                      %h6= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.languages"))
                - else
                  %tr
                    %th
                      - if can?(KepplerLanguages::Language).destroy_multiple?
                        .item-check
                          .checkbox
                            %label{ for: 'checkbox-all' }
                              %input{ type: 'checkbox', id: 'checkbox-all', '@click' => 'selectAll()' }
                              %span.cr
                                %i.cr-icon.glyphicon.glyphicon-ok
                    %th.hidden-xs
                      = sort_link(@q, :name) do
                        = t('activerecord.attributes.name')
                    %th.hidden-xs
                      = sort_link(@q, :active) do
                        = t('activerecord.attributes.active')
                    %th
                    %th
              %tbody.objects-container
                = render 'admin/layouts/listing_preloader'
                = render 'listing', objects: @objects
        %center#paginator-module
          = paginate @objects, window: 1
  %aside.control-sidebar
    = render "description"

:javascript
  $(document).ready(function(){
    $('#language').click(function() {
      $('#upload_file_language').click()
      $('#upload_file_language').change(function() {
        $('.waiting').css('display', 'block')
        $('#upload_form_language').submit()
      })
    });
    renderImg();
  });

  function sendPermission(id) {
    $("#edit_language_"+id).submit()
  }
