!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :sass
  %body
    %center
      %h1= "Contacto "
    %p
      %strong Nombre:
      = @client.name
    %p
      %strong Email:
      = @client.email
    - if @client.subject
      %p
        %strong Asunto:
        = @client.subject
    - if @client.content
      %p
        %strong Mensaje:
        = @client.content
