= simple_form_for [:admin, :<%= namespaced_path.split('_').drop(1).join('_') %>, @<%= singular_table_name %>] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_<%= namespaced_path.split('_').drop(1).join('_') %>_<%= plural_table_name %>_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t("keppler.modules.#{action_name.underscore}")
            .box-tools.pull-right
              %a.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  - @capsule.capsule_fields.each do |field|
                    .col-xs-12
                      - if @attachments.include?(field.name_field)
                        = f.input field.name_field.to_sym, as: :keppler_file, label: false
                      - elsif field.format_field.eql?('text')
                        = f.input field.name_field.to_sym, label: t("capsule.attributes.#{field.name_field}"), input_html: { ckeditor: { toolbar: 'mini' } }
                      - elsif field.format_field.eql?('date')
                        = f.input field.name_field.to_sym, label: t("capsule.attributes.#{field.name_field}"), as: :string, input_html: { class: 'datepicker' }
                      - elsif field.format_field.eql?('boolean')
                        = f.input field.name_field.to_sym, label: t("capsule.attributes.#{field.name_field}"), as: :keppler_boolean
                      - elsif ['integer', 'float', 'decimal'].include?(field.format_field)
                        = f.input field.name_field.to_sym, label: t("capsule.attributes.#{field.name_field}"), input_html: { min: 0 }
                      - else
                        = f.input field.name_field.to_sym, label: t("capsule.attributes.#{field.name_field}")
                  .col-xs-12
                    = f.input :position, as: :hidden
                  .col-xs-12
                    = f.input :deleted_at, as: :hidden
                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                      = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
