#index-container{ :controller => "<%= plural_table_name %>" }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1
            = "<%= plural_table_name %>".capitalize
          = entries(@total, @objects)
        %section.content-actions
          .toolbar
            .toolbar-item
              = link_to reload_admin_<%= namespaced_path.split('_').drop(1).join('_') %>_<%= plural_table_name %>_path, class: "tool-btn", remote: true do
                %i.icon-reload
            - if can?(<%= namespaced_path.split('_').map(&:capitalize).join('') %>::<%= singular_table_name.camelcase %>).download?
              .toolbar-item
                = link_to admin_<%= namespaced_path.split('_').drop(1).join('_') %>_<%= singular_table_name %>_download_path(<%= namespaced_path.split('_').map(&:capitalize).join('') %>::<%= singular_table_name.camelcase %>, :format => :xls), class: "tool-btn", title: t('keppler.actions.download_records') do
                  %i.icon-cloud-download
            - if can?(<%= namespaced_path.split('_').map(&:capitalize).join('') %>::<%= singular_table_name.camelcase %>).upload?
              .toolbar-item
                = link_to "", class: "tool-btn", title: t('keppler.actions.upload_records'), id: "<%= singular_table_name %>" do
                  %i.icon-cloud-upload
            - if can?(<%= namespaced_path.split('_').map(&:capitalize).join('') %>::<%= singular_table_name.camelcase %>).destroy_multiple?
              .toolbar-item
                .checkbox
                  %label{ for: 'checkbox-all' }
                    %input{ type: 'checkbox', id: 'checkbox-all', ':disabled' => 'checkItems ? disabled : ""', '@click' => 'selectAll()' }
                    %span.cr
                      %i.cr-icon.glyphicon.glyphicon-ok
            .toolbar-item
              %a.tool-btn{"data-confirm" => "¿Estás seguro?", "data-method" => "delete", "v-bind:href" => "link", :rel => "nofollow", ":class" => "{disabled: !checks}" }
                %i.icon-trash
          - if can?(<%= namespaced_path.split('_').map(&:capitalize).join('') %>::<%= singular_table_name.camelcase %>).create?
            .add
              = link_to new_admin_<%= namespaced_path.split('_').drop(1).join('_') %>_<%= singular_table_name %>_path, class: 'btn-add' do
                + Agregar
          .hide
            = form_tag admin_<%= namespaced_path.split('_').drop(1).join('_') %>_<%= singular_table_name %>_upload_path(@objects), id: "upload_form_<%= plural_table_name %>", multipart: true, method: :post do
              = file_field_tag :file, id: "upload_file_<%= singular_table_name %>"

        .box.slice-box
          .box-body.no-padding

            %table.table
              %thead
                - if @objects.size.zero?
                  %tr
                    %th.not-records.center
                      %h6= t('keppler.messages.not_found_records', model: "<%= plural_table_name %>" )
                - else
                  %tr
                    %th
                    - @capsule.capsule_fields.take(3).each do |field|
                      %th.hidden-xs= t("capsule.attributes.#{field.name_field}")
                    %th.center Menu
                    %th
              %tbody#objects-container
                = render 'admin/layouts/listing_preloader'
                = render 'listing', objects: @objects
        %center#paginator-module
          = paginate @objects, window: 1
  %aside.control-sidebar
    = render "description"
  %aside#index-show.control-sidebar

:javascript
  $(document).ready(function(){
    $('#<%= singular_table_name %>').click(function() {
      $('#upload_file_<%= singular_table_name %>').click()
      $('#upload_file_<%= singular_table_name %>').change(function() {
        $('.waiting').css('display', 'block')
        $('#upload_form_<%= singular_table_name %>').submit()
      })
    });

    renderImg();
  });
