.listing-show-header
	.actions
		- if can? :update, GoogleAdword
			= link_to edit_admin_google_adword_path(@google_adword), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.trending_up.css_class("md-light")
		= t("keppler.models.singularize.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%table.list.bordered
			%tr.list-row
				%th.display-label= t("activerecord.attributes.url")
				%td.display-value= @google_adword.url
			%tr.list-row
				%th.display-label= t("activerecord.attributes.campaign_name")
				%td.display-value= @google_adword.campaign_name
			%tr.list-row
				%th.display-label= t("activerecord.attributes.description")
				%td.display-value= @google_adword.description
			%tr.list-row
				%th.display-label= t("activerecord.attributes.script")
				%td.display-value= @google_adword.script

			%tr.list-row
				= link_to t('keppler.actions.back_history'), admin_google_adwords_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
