#index-container{ :controller => "google_adwords" }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1{ style: 'display: inline-block' }
            = t("keppler.modules.#{controller_path.underscore}")
          = entries(@total, @objects)
          .toolbar
            .mailbox-controls
              .btn-group.pull-right
                %a.btn.btn-default.btn-sm{ type: 'button', 'data-confirm' => '¿Estás seguro?', 'data-method' => 'delete', 'v-bind:href' => 'link', rel: 'nofollow', 'v-show' => 'checks' }
                  %i.icon-trash
                .checkbox.btn.btn-default.btn-sm
                  %label{ for: 'checkbox-all' }
                    %input{ type: 'checkbox', id: 'checkbox-all', ':disabled' => 'checkItems ? disabled : ""', '@click' => 'selectAll()' }
                    %span.cr
                      %i.cr-icon.glyphicon.glyphicon-ok
                = link_to reload_admin_google_adwords_path, class: 'btn btn-default btn-sm', remote: true do
                  %i.icon-reload
          %ol.breadcrumb
            %li
              %a{ href: '#' }
                %i.icon-directions
                = t("keppler.modules.#{action_name.underscore}")

        .box.slice-box
          .box-body.no-padding
            %table.table.table-striped
              %thead
                - if @objects.size.zero?
                  %tr
                    %th{style: 'text-align: center;'}
                      %h6= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.google_adwords"))
                - else
                  %tr
                    %th
                    %th= t("activerecord.attributes.url")
                    %th= t("activerecord.attributes.campaign_name")
                    %th= t("activerecord.attributes.description")
                    %th= t("activerecord.attributes.script")
                    %th
              %tbody#objects-container
                = render 'admin/layouts/listing_preloader'
                = render 'listing', objects: @objects
  .listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
    = render "description"
  %aside#index-show.control-sidebar

  .mixed-btn
    = link_to new_admin_google_adword_path, class: "btn-float" do
      %i.material-icons add
