#index-container{ :controller => "google_adwords" }
  .container
    .row
      .listing.col-lg-12.col-xs-12
        %section.content-header.index-header
          %h1{ style: 'display: inline-block' }
            = t("keppler.modules.#{controller_path.underscore}")
          = entries(@total, @objects)
          .toolbar
            .toolbar-item
              = link_to admin_google_adwords_path(:format => :xls), class: "tool-btn", title: t('keppler.actions.download_records') do
                %i.icon-cloud-download
            .toolbar-item
              = link_to "", class: "tool-btn", title: t('keppler.actions.upload_records'), id: "google_adword" do
                %i.icon-cloud-upload
            .toolbar-item
              = link_to reload_admin_google_adwords_path, class: "tool-btn", remote: true do
                %i.icon-reload
            .toolbar-item
              .checkbox
                %label{ for: 'checkbox-all' }
                  %input{ type: 'checkbox', id: 'checkbox-all', ':disabled' => 'checkItems ? disabled : ""', '@click' => 'selectAll()' }
                  %span.cr
                    %i.cr-icon.glyphicon.glyphicon-ok
            .toolbar-item
              %a.tool-btn{"data-confirm" => "¿Estás seguro?", "data-method" => "delete", "v-bind:href" => "link", :rel => "nofollow", ":class" => "{disabled: !checks}" }
                %i.icon-trash
          .hide
            = form_tag admin_google_adword_import_path(@objects), id: "import_form_google_adword", multipart: true, method: :post do
              = file_field_tag :file, id: "import_file_google_adword"
          %ol.breadcrumb
            %li
              %a{ href: '#' }
                %i.icon-directions
                = t("keppler.modules.#{action_name.underscore}")

        .box.slice-box
          .box-body.no-padding
            %table.table.table-striped
              %thead
                - if @objects.size.zero?
                  %tr
                    %th{style: 'text-align: center;'}
                      %h6= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.google_adwords"))
                - else
                  %tr
                    %th
                    %th= t("activerecord.attributes.url")
                    %th= t("activerecord.attributes.campaign_name")
                    %th= t("activerecord.attributes.description")
                    %th= t("activerecord.attributes.script")
                    %th
              %tbody#objects-container
                = render 'admin/layouts/listing_preloader'
                = render 'listing', objects: @objects
  .listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
    = render "description"
  %aside#index-show.control-sidebar

  .mixed-btn
    = link_to new_admin_google_adword_path, class: "btn-float" do
      %i +


:javascript
  $(document).ready(function(){
    $('#google_adword').click(function(e) {
      e.preventDefault()
      $('#import_file_google_adword').click()
      $('#import_file_google_adword').change(function() {
        $('.waiting').css('display', 'block')
        $('#import_form_google_adword').submit()
      })
    });
  });
