.container
	.row
		.col-lg-2
			.arrow-back.btn.btn-default
				= link_to admin_google_adwords_path, class: "", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
					%i.fa.fa-chevron-left
					Volver
					.clearfix
	.show-section
		.row
			.col-xs-12
				.box.slice-box
					.box-header.with-border
						%h3.box-title= controller_name.humanize
						.box-tools.pull-right
							= link_to edit_admin_google_adword_path(@google_adword), class: "btn btn-box-tool", title: "#{t('keppler.actions.edit') }" do
								%i.material-icons create
							= link_to admin_google_adword_path(@google_adword), class: "btn btn-box-tool", title: "#{t('keppler.actions.delete')}", method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
								%i.material-icons delete

					/ /.box-header
					.box-body.box-body-no-padding
						%table.table.table-striped
							%tbody
								- @google_adword.as_json(only: @google_adword.attribute_names, methods: [:rol]).each do |attribute, value|
									%tr.list-row
										%th.display-label= t("activerecord.attributes.#{attribute}")
										%td.display-value.fs-body-1.tc-black-2= value
