.col-sm-6.col-xs-12
  #formulario
    %span.sfreg.color-blanco.texto-2_5 PRIMERO ASESORATE
    %br
    %p.sfreg.color-blanco.texto-4.mb-3 Nosotros te ayudamos, es gratis
    .formulario
      = simple_form_for @message, :url => "/admin/messages", :method => :post do |f|
        = f.input :name, input_html: { class: "campo", id: "nombre"}, label: false, placeholder: "Nombre y Apellido"
        = f.input :email, input_html: { class: "campo", id: "email"}, label: false, placeholder: "E-mail"
        = f.input :subject, input_html: { class: "campo", id: "telefono"}, label: false, placeholder: "Asunto"
        = f.input :content, input_html: { class: "campo", id: "compania"}, label: false, placeholder: "Mensaje"
        .pull-right{style: "margin-left: 10px"}
          %input.btn.btn-violeta.pull-right.sfreg.texto-2{:type => "submit", :value => "Enviar"}/
        .pull-right
          = raw recaptcha_tags :display => ":theme => 'custom', lang: 'es'"
