%nav#menu.menu
  / menu
  .container
    %p#tu-dominio
      = link_to search_path do
        %span.link-menu{:href => "search.html", :target => "_top"} Encuentra tu dominio
    .row

      #menu-agencia.col-sm-6
        = link_to about_path, class: "link-menu" do
          Nuestra Agencia
        %br
        = link_to success_path, class: "link-menu" do
          Proyectos con éxito
        %br
        = link_to web_design_path, class: "link-menu" do
          Diseño de Páginas Web
        %br
        = link_to digital_marketing_path, class: "link-menu" do
          Mercadeo Digital
        %br
        = link_to services_path, class: "link-menu" do
          Servicios
        %br
        = link_to "/blog", class: "link-menu" do
          Notas para la Comunidad
        %br
        %a.link-menu{"data-original-title" => "", "data-target" => "#contact", "data-toggle" => "modal"} Contactos
        -# %a.link-menu{"data-original-title" => "", "data-target" => "#contact", "data-toggle" => "modal"} Contactos
        %br
        #menu-redes
          %a.link-menu{:href => "#{@social.instagram}", :target => "_blank"} INSTAGRAM
          %a.link-menu{:href => "#{@social.facebook}", :target => "_blank"} FACEBOOK
          %a.link-menu{:href => "#{@social.google_plus}", :target => "_blank"} GOOGLE+
      / /.menu de navegación
      / DATOS
      #datos.col-sm-6
        #datos1.mt-8
          %p.color-blanco.sfpro.texto-2_5 Sede Cartagena
          (57 5) 643 0188
          %br/
          +57 301 324 5468
          %br/
          %a{:href => "mailto:contacto@grupobrieva.com"} contacto@grupobrieva.com
          %br/
          %address Manga, Cl. 20 #25-82
          %a#ver-mapa{:href => ""} Ver cómo llegar en el mapa
        #datos2.mt-8
          %p.color-blanco.sfpro.texto-2_5 Sede Medellín
          +57 301 795 7845
          %br/
          %a{:href => "mailto:antonio@grupobrieva.com"} antonio@grupobrieva.com
          %br/
          %address Centro comercial Río Sur
          %a#ver-mapa{:href => ""} Ver cómo llegar en el mapa
      / /.datos
.visible-xs{:style => "height: 5rem"}
