// Title & Meta tags
= render 'layouts/keppler_frontend/app/layouts/meta_tags'

// Stylesheets
= stylesheet_link_tag 'keppler_frontend/app/application', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Patua+One'
= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css'

// Javascripts
= javascript_include_tag 'keppler_frontend/app/application', 'data-turbolinks-track' => true
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js'

// Google Analytics
= render 'layouts/keppler_frontend/app/layouts/google_analytics'
