.nav-tabs-custom
  %ul.nav.nav-tabs
    %li.active
      %a{'aria-expanded': 'false', "data-toggle" => "tab", :href => "#tab_5"}
        Action
        .kf-signal.action_signal
    %li.pull-right
      %a{onclick: "controls.saveOnlyAction(#{@view.id})", title: t('keppler.actions.save')}
        %i.fa.fa-save
    %li.pull-right
      %a#btn-views-editor{title: t('keppler.actions.views')}
        %i.fa.fa-cog
  .tab-content
    #tab_5.tab-pane.active
      %div.action.code-container
        %textarea#code-action{:name => "code"}
          = @view.output_action

= render "editor_views"

:javascript
  codeAction.codeMirrorAction();
  var tab = `#{@view.name}.html.erb`;
  var id = `#{@view.id}`;
  var ready = { action: false }

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    if( ready.action === false ) {
      codeAction.codeMirrorAction();
      ready.action = true;
    }

  })

  $(document).bind('keydown',function(e) {
    if(e.ctrlKey && (e.which == 83)) {
      e.preventDefault();
      codeAction.save(id);
    }
  });
