= simple_form_for [:admin, @customize] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_customizes_path, 'data-position' => 'bottom', 'data-tooltip' => t('keppler.actions.back') do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title Template

          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .row
                    .col-lg-12
                      .container
                        .row
                          .col-md-12
                            .form-group.files
                              %input{ type: 'hidden', name: 'customize[file]' }
                              = f.input :file, label: false

                  .row
                    .col-lg-12
                      .pull-right
                        = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                        = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
