%tr{ id: "row-#{customize.id}" }
  %td.item-check{ style: 'width: 5%' }
    - if can?(Customize).destroy?
      - if !customize.id.eql?(1) && !customize.installed
        = link_to admin_customize_path(customize), method: :delete do
          %i.icon-trash.icon-delete{ onclick: "$('.spinner').css('display', 'block')" }
  %td
    %span.pull-left
      = customize.name
  %td.center
    %span
      - if customize.file?
        = render 'admin/customizes/switch_template', customize: customize
      - else
        = render 'admin/customizes/switch_default_template', customize: customize
