= title(t('keppler.titles.show', model: "Customizes"))
.wrapper
  .wrapper-body.container
    .actions
      - if can? :destroy, Customize
        = link_to admin_customize_path(@customize), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
          %i.icon-trash
      = link_to admin_customizes_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        -# -# = material_icon.md_18.arrow_back.css_class("md-dark")
    .card
      .card-content
        %table.list.bordered
          %tr.list-row
            %th.display-label= t("activerecord.attributes.id")
            %td.display-value.fs-body-1.tc-black-2= @customize.id.to_s.humanize
          %tr.list-row
            %th.display-label= t("activerecord.attributes.file")
            %td.display-value.fs-body-1.tc-black-2= @customize.file.to_s.humanize
