!!!
%html{:lang => "es"}
  %head
    = render 'app/layouts/head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grupo Brieva - Briefing
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{:content => "Grandes Creativos que sabemos Hacer Marcas Exitosas", :name => "description"}/
    %meta{:content => "slicegroup.xyz", :name => "author"}/
    %link{:href => "assets/img/favicon.ico", :rel => "shortcut icon"}/
    / CORE CSS
    -# %link{:href => "assets/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    -# %link{:href => "assets/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/slick.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/slick-theme.css", :rel => "stylesheet", :type => "text/css"}/
    -# %link{:href => "assets/css/animate.css", :rel => "stylesheet", :type => "text/css"}/
    -# %link{:href => "assets/css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    = go_to_top
    %header#header-briefing
      %section.container{:style => "position: relative; min-height: 50vh; height: auto;"}
        #cont-logotipo
          #logotipo
            / MARCA
            #marca
              = link_to root_path do
                %img{:src => "assets/img/logo_peq.png"}/
            / BURGER BUTTON
            #burger-button
              #bars
                %span.top
                %span.middle
                %span.bottom
          / /.logotipo
          #hora.hidden-xs
            #icono-hora
              %img{:src => "assets/img/icono_sol.png"}/
            #texto-hora
              %span 3.39 PM. Abierto ahora


        = navbar


        #header-briefing-texto.mt-10.mb-7
          %p.sfpro.color-azul.texto-2_5
            Aquí inicia nuestra
            %span.color-verde conversación
          %p.sfreg.texto-5
            Escríbenos y pronto nos comunicaremos de vuelta. Antes de todo es
            %span.color-rojo mejor asesorarse.

    %section#briefing-formulario.formulari-brie
      .container
        .formulario.mb-10
          = simple_form_for [:admin, @briefing], class: "formulario mb-10"  do |f|
            .row.cont-mediano
              .col-sm-6.col-xs-12
                %input{type: "hidden", name: "[briefing][services_type]", "v-bind:value" => "services"}
                = f.input :name, input_html: { class: "campo", id: "nombre"}, label: false, placeholder: "Nombre y Apellido*"
              .col-sm-6.col-xs-12
                = f.input :email, input_html: { class: "campo", id: "email"}, label: false, placeholder: "E-mail*"
              .col-sm-6.col-xs-12
                = f.input :phone, input_html: { class: "campo", id: "telefono"}, label: false, placeholder: "Teléfono*"
              .col-sm-6.col-xs-12
                = f.input :company, input_html: { class: "campo", id: "compania"}, label: false, placeholder: "Compañía / Negocio"

            %p.sfpro.color-azul.texto-2_5{style: "margin: 10px 0px 20px 10px;"} ¿Que tipo de proyecto quieres empezar con nosotros? Escoge una o más opciones
            .mb-3{:style => "position: relative;"}
              .briefing-carrusel
                .item{"v-on:click" => "addService('Diseño de Páginas web y cuanto vale')"}
                  %i.fa.fa-circle-o.fa-lg.pull-right{"aria-hidden" => "true"}
                  %i.fa.fa-check-circle-o.fa-lg.pull-right.item-hidden{"aria-hidden" => "true"}
                  %p.sfreg.texto-2.mt-2 Servicio
                  %p.sfpro.texto-2_5 Diseño de Páginas web y cuanto vale
                .item{"v-on:click" => "addService('Diseño de logotipo y publicidad para mi empresa')"}
                  %i.fa.fa-circle-o.fa-lg.pull-right{"aria-hidden" => "true"}
                  %i.fa.fa-check-circle-o.fa-lg.pull-right.item-hidden{"aria-hidden" => "true"}
                  %p.sfreg.texto-2.mt-2 Servicio
                  %p.sfpro.texto-2_5 Diseño de logotipo y publicidad para mi empresa
                .item{"v-on:click" => "addService('Generar contenidos y campañas en redes sociales')"}
                  %i.fa.fa-circle-o.fa-lg.pull-right{"aria-hidden" => "true"}
                  %i.fa.fa-check-circle-o.fa-lg.pull-right.item-hidden{"aria-hidden" => "true"}
                  %p.sfreg.texto-2.mt-2 Servicio
                  %p.sfpro.texto-2_5 Generar contenidos y campañas en redes sociales
                .item{"v-on:click" => "addService('Mejorar las redes sociales de mi negocio')"}
                  %i.fa.fa-circle-o.fa-lg.pull-right{"aria-hidden" => "true"}
                  %i.fa.fa-check-circle-o.fa-lg.pull-right.item-hidden{"aria-hidden" => "true"}
                  %p.sfreg.texto-2.mt-2 Asesoría
                  %p.sfpro.texto-2_5 Mejorar las redes sociales de mi negocio
                .item{"v-on:click" => "addService('Fotografía profesional para mi empresa')"}
                  %i.fa.fa-circle-o.fa-lg.pull-right{"aria-hidden" => "true"}
                  %i.fa.fa-check-circle-o.fa-lg.pull-right.item-hidden{"aria-hidden" => "true"}
                  %p.sfreg.texto-2.mt-2 Servicio
                  %p.sfpro.texto-2_5 Fotografía profesional para mi empresa
                .item{"v-on:click" => "addService('Mercadeo digital avanzado para su página web')"}
                  %i.fa.fa-circle-o.fa-lg.pull-right{"aria-hidden" => "true"}
                  %i.fa.fa-check-circle-o.fa-lg.pull-right.item-hidden{"aria-hidden" => "true"}
                  %p.sfreg.texto-2.mt-2 Asesoría
                  %p.sfpro.texto-2_5 Mercadeo digital avanzado para su página web
                .item{"v-on:click" => "addService('Diseño de brochure y piezas para mi empresa')"}
                  %i.fa.fa-circle-o.fa-lg.pull-right{"aria-hidden" => "true"}
                  %i.fa.fa-check-circle-o.fa-lg.pull-right.item-hidden{"aria-hidden" => "true"}
                  %p.sfreg.texto-2.mt-2 Servicio
                  %p.sfpro.texto-2_5 Diseño de brochure y piezas para mi empresa
                .item{"v-on:click" => "addService('Soy creativo y quiero trabajar con ustedes')"}
                  %i.fa.fa-circle-o.fa-lg.pull-right{"aria-hidden" => "true"}
                  %i.fa.fa-check-circle-o.fa-lg.pull-right.item-hidden{"aria-hidden" => "true"}
                  %p.sfreg.texto-2.mt-2 Asesoría
                  %p.sfpro.texto-2_5 Soy creativo y quiero trabajar con ustedes
              %i#flecha-izq.fa.fa-chevron-left{"aria-hidden" => "true"}
              %i#flecha-der.fa.fa-chevron-right{"aria-hidden" => "true"}
            .row.cont-mediano
              .col-sm-6.col-xs-12
                = f.input :other, input_html: { class: "campo", id: "otro"}, label: false, placeholder: "Otro"
                -# %input#otro.campo{:name => "otro", :placeholder => "Otro", :type => "text"}/
              .col-sm-12.col-xs-12
                = f.text_area :about, input_html: { id: "comentarios" }, label: false, placeholder: "Cuentenos más acerca de su proyecto", :rows => "4"
              %input.btn.btn-azul.pull-right.sfreg.texto-2{:type => "submit", :value => "Enviar"}/
            / /.row cont-mediano
          / /.formulario
        / /.container
      / /.search
    %section#contactos-briefing.contactos-briefing
      .container
        .row
          .col-sm-6.col-xs-12.contactos-search-cont
            .card.color-blanco
              %p.sfreg.texto-1_7 ¿ABURRIDO DE LOS FORMULARIOS DE CONTACTO?
              %p.texto-4.sfpro Tarjeta de contacto
              .contactos-menu-redes
                %a{:href => "https://www.instagram.com/grupobrieva/", :target => "_blank"} INSTAGRAM
                %a{:href => "https://www.facebook.com/grupobrieva", :target => "_blank"} FACEBOOK
                %a{:href => "https://plus.google.com/+juancarlosbrievadesigners", :target => "_blank"} GOOGLE+
              / /.contactos-menu-redes
              %br/
              %p.sfpro.texto-2_5.mb-1 Télefonos
              %span.sfreg.texto-2_5
                (57 5) 643 0188
                %br>/
                +57 301 324 5468
                %br>/
                contacto@grupobrieva.com
              %p.sfpro.texto-2_5.mt-3.mb-1 Dirección Cartagena
              %address.sfreg.texto-2_5
                Manga, Cl. 20 #25-82
                %br>/
                Cartagena, Colombia
              %a.mapa{:href => "#"} Ver como llegar en el mapa
              %p.sfpro.texto-2_5.mt-3.mb-1 Dirección Medellín
              %address.sfreg.texto-2_5
                Centro comercial Río Sur
                %br>/
                Medellín, Colombia
              %a.mapa{:href => "#"} Ver como llegar en el mapa
          / /.contactos-services-cont
        / /.row
      / /.container
    / /.contactos-briefing
    /
      ************************
      FOOTER
      ************************
    %footer
      .container
        .footer-cont
          %img{:alt => "...", :src => "assets/img/icono.png"}/
          %p
            Agencia de Publicidad Digital / Diseño Gráfico y Diseño de páginas web. Teléfono (5) 643 0188 - +57 301 324 5468 - contacto@grupobrieva
            %br/
            = succeed "\u{a0}\u{a0}\u{a0}\u{a0}" do
              %a{:href => "legal.html"} Cookies y Politica de privacidad
            = succeed "\u{a0}\u{a0}\u{a0}" do
              %a{:href => "http://www.grupobrieva.com/"} Diseñado por Grupo Brieva
            %a{:href => "http://slicegroup.xyz/"} Desarrollado por Slice group
        / /.footer-cont
      / /.container
    / FOOTER
    /
      *******************
      Core JS
      *********************
    %script{:src => "assets/js/jquery-3.2.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/js/bootstrap.js", :type => "text/javascript"}
    %script{:src => "assets/js/slick.js", :type => "text/javascript"}
    %script{:src => "assets/js/slick-custom.js", :type => "text/javascript"}
    %script{:src => "assets/js/wow.js", :type => "text/javascript"}
    %script{:src => "assets/js/brieva.js", :type => "text/javascript"}
    / <script type="text/javascript" src="assets/js/npm.js"></script>

:javascript
  new Vue({
    el: '#briefing-formulario',
    data: {
      services: []
    },
    methods: {
      addService(service) {
        if (!this.services.includes(service)) {
          this.services.push(service)
        } else {
          this.services.shift(service)
        }
      }
    }
  })
