!!!
%html{:lang => "es"}
  %head
    = render 'app/layouts/head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grupo Brieva
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{:content => "Grandes Creativos que sabemos Hacer Marcas Exitosas", :name => "description"}/
    %meta{:content => "slicegroup.xyz", :name => "author"}/
    %link{:href => "assets/img/favicon.ico", :rel => "shortcut icon"}/
    / CORE CSS
    -# %link{:href => "assets/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/slick.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/slick-theme.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/animate.css", :rel => "stylesheet", :type => "text/css"}/
    -# %link{:href => "assets/css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %body

    = go_to_top

    %header#header.header-home
      %section.container{:style => "position: relative;"}
        #cont-logotipo
          #logotipo
            #marca
              = link_to root_path do
                %img{:src => "assets/img/logo_peq.png"}/

            #burger-button
              #bars
                %span.top
                %span.middle
                %span.bottom

          #hora.hidden-xs
            #icono-hora
              %img{:src => "assets/img/icono_sol.png"}/
            #texto-hora
              %span 3.39 PM. Abierto ahora

        = navbar
        #cont-texto
          %p Somos una Agencia de Publicidad Digital
          %p#grande
            Grandes Creativos
            %br/
            que sabemos
            %br/
            Hacer Marcas Exitosas
          %div{:style => "height: 40px"}
          .botones
            = link_to briefing_path do
              .btn.btn-azul.btn-lg{:href => "briefing.html", :target => "_top"} Empecemos a trabajar
            = link_to success_path do
              .btn.btn-transparente.btn-lg{:href => "success.html", :target => "_top"} Ver Proyectos Realizados

      %video.hidden-xs{:autoplay => "true", :loop => "true", :poster => "assets/img/video.jpg"}
        %source{:src => "/assets/videos/video.webm", :type => "video/webm"}
        %source{:src => "/assets/videos/video.webm", :type => "video/webm"}
          Tu navegador no soporta video con HTML5

    %section.container{:style => "position: relative; height: 50px;"}
      %a.mover1
        #cont-flecha
          %img#flecha.center-block{:src => "assets/img/flecha.png"}/
    %section#cta1.cta.container
      .cta-cont
        .cta-texto
          %p.negrita-2rem
            %span.color-rojo Nos apasiona crear marcas exitosas, arte digital y muchas campañas.
            %span.color-verde Todo con un propósito.
          %p.regular-5rem
            Diseñamos
            %span.color-azul piezas digitales
            promocionales y campañas de mercadeo digital por una mejor
            %span.color-verde experiencia del usuario
            con las marcas y empresas.

    = services
    %section.cta.container
      .cta-cont
        .cta-texto
          %p.regular-4rem
            Un
            %span.color-rojo Grupo
            de creativos con ideas
            %span.color-verde gigantes
          %p.regular-2rem Con diseño funcional, estrategia y experiencia diseñamos y desarrollamos campañas de mercadeo digital, páginas web inteligentes y concepto visual de marca #branding
          %br/
          %br/
          = link_to success_path do
            .link-azul-rojo{:target => "_top"} Ver Proyectos de Éxito
    %section#logo-clientes
      .container.hidden-xs
        .row
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/cocacola.png"}/
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/bonsai.png"}/
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/sangyoong.png"}/
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/delipostres.png"}/
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/nao.png"}/
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/lazarp.png"}/
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/hotlcaribe.png"}/
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/arismendy.png"}/
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/evoca.png"}/
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/riosur.png"}/
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/barugrande.png"}/
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/mujeres.png"}/
          .col-md-3.col-sm-4.logo-cliente
            %img.img-responsive.center-block{:src => "assets/img/clinton.png"}/
        / /.row
      / Carrusel de Clientes
      .clientes-branding.mt-8.mb-2.visible-xs
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/cocacola.png"}/
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/bonsai.png"}/
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/sangyoong.png"}/
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/delipostres.png"}/
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/nao.png"}/
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/lazarp.png"}/
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/hotlcaribe.png"}/
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/arismendy.png"}/
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/evoca.png"}/
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/riosur.png"}/
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/barugrande.png"}/
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/mujeres.png"}/
        .logo-cliente
          %img.img-responsive.center-block{:src => "assets/img/clinton.png"}/
      / /.Carrusel de Clientes
    / /.logo-clientes
    %section#cta3
      .container{:style => "position: relative;"}
        .cta3-contenedor
          .col-md-6.col-sm-7.col-xs-12
            %p.cta3-titulo Creamos productos enfocados en la experiencia del usuario
            %p.cta3-texto
              Diseñamos con pasión.
              %br/
              Analizamos el comportamiento del público objetivo con respecto a tu marca, sus intereses y búsquedas para luego comunicar a través del diseño digital.
            %p
            = link_to about_path do
              Más acerca de nosotros
        / /.cta3-contenedor
        .tarjeta.hidden-xs
          .tarjeta-img
            %p PROYECTOS REALIZADOS
            %img.img-responsive{:alt => "Imagen diseñador", :src => "assets/img/img-exito.jpg"}/
            .tarjeta-img-texto
              %span.tarjeta-img-texto-titulo
                Hacemos
                %br>
                Marcas
                %br>
                Exitosas
              %br
              %br
              %span.tarjeta-img-texto-contenido Diseñamos páginas web y productos digitales que inspiran a mejorar el diseño de imagen corporativa de tu negocio

    %section#exito
      #exito-carrusel
        - @proyect.each do |proyect|
          #exito-carrusel-slide1{style: "background: url(#{proyect.banner}) center no-repeat; background-size: cover; background-attachment: fixed;"}
            .container
              .row
                .col-sm-6.hidden-xs
                .col-sm-6.exito-carrusel-cont-texto
                  %p.exito-carrusel-titulo1= proyect.headline.upcase
                  .exito-carrusel-titulo2
                    %span.previo
                      %i.glyphicon.glyphicon-chevron-left
                    %span= proyect.name
                    %span.siguiente
                      %i.glyphicon.glyphicon-chevron-right
                  %p.exito-carrusel-texto
                    = proyect.description
                  %br
                  %br
                  = link_to success_path do
                    .btn.exito-carrusel-link{:href => "success.html", :target => "_top"} Ver todas las historias de éxito
                  = link_to success_detail_path(proyect) do
                    .btn.exito-carrusel-boton Ver Más

        -# #exito-carrusel-slide2
        -#   .container
        -#     .row
        -#       .col-sm-6
        -#       .col-sm-6.exito-carrusel-cont-texto
        -#         %p.exito-carrusel-titulo1 Lorem ipsum dolor sit amet!
        -#         .exito-carrusel-titulo2
        -#           %span.previo
        -#             %i.glyphicon.glyphicon-chevron-left
        -#           %span Delipostres
        -#           %span.siguiente
        -#             %i.glyphicon.glyphicon-chevron-right
        -#         %p.exito-carrusel-texto
        -#           “Consectetur adipisicing elit
        -#           %br>/
        -#           deleniti unde doloremque
        -#           %br>/
        -#           tempora maxime
        -#         %br/
        -#         %br/
        -#         %a.btn.exito-carrusel-link{:href => "success.html"} Ver todas las historias de éxito
        -#         %a.btn.exito-carrusel-boton{:href => "success_ej.html"} Ver Más

    %section#contactos
      .contactos-img1.hidden-xs
      .contactos-img2
        .contactos-im2-tarjeta
          %span.contactos-img2-label TELÉFONOS / PERFILES Y REDES
          %h3 Tarjeta de contacto
          .contactos-img2-carrusel
            #slide1
              %address.contactos-img2-direccion Sede Cartagena
              %p.contactos-img2-label DIRECCIÓN
              %address.contactos-img2-direccion Manga, Cl. 20 #25-82
              %a.contactos-img2-mapa{:href => "#"} Ver ubicación en mapa
              %br
              %br
              %p.contactos-img2-label TELÉFONOS
              %span.contactos-img2-telefono
                (57 5) 643 0188
                %br>
                +57 301 324 5468
                %br

            #slide2
              %address.contactos-img2-direccion Sede Medellín
              %p.contactos-img2-label DIRECCIÓN
              %address.contactos-img2-direccion Centro comercial Río Sur
              %a.contactos-img2-mapa{:href => "#"} Ver ubicación en mapa
              %br
              %br
              %p.contactos-img2-label TELÉFONO
              %span.contactos-img2-telefono
                +57 301 795 7845
                %br
                %br

          .contactos-menu-redes
            %span.contactos-img2-label SOCIAL
            %br/
            %a{:href => "https://www.instagram.com/grupobrieva/", :target => "_blank"} INSTAGRAM
            %a{:href => "https://www.facebook.com/grupobrieva", :target => "_blank"} FACEBOOK
            %a{:href => "https://plus.google.com/+juancarlosbrievadesigners", :target => "_blank"} GOOGLE+
            %a{:href => "https://www.youtube.com/channel/UC_oGhL9WuCYSEAVVOweHV7Q", :target => "_blank"} YOUTUBE
          / /.contactos-menu-redes
        / /.contactos-im2-tarjeta
        %img.img-responsive{:alt => "...", :src => "assets/img/bg-contactos2.jpg"}/
    / /.contactos
    /
      ************************
      FOOTER
      ************************
    %footer
      .container
        .footer-cont
          %img{:alt => "...", :src => "assets/img/icono.png"}/
          %p
            Agencia de Publicidad Digital / Diseño Gráfico y Diseño de páginas web. Teléfono (5) 643 0188 - +57 301 324 5468 - contacto@grupobrieva
            %br/
            = succeed "\u{a0}\u{a0}\u{a0}\u{a0}" do
              %a{:href => "legal.html"} Cookies y Politica de privacidad
            = succeed "\u{a0}\u{a0}\u{a0}" do
              %a{:href => "http://www.grupobrieva.com/"} Diseñado por Grupo Brieva
            %a{:href => "http://slicegroup.xyz/"} Desarrollado por Slice group

    #contact.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "contactLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .panel.panel-primary
          .panel-heading
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#contactLabel.panel-title
              %span.glyphicon.glyphicon-info-sign
              Any questions? Feel free to contact us.
          %form{"accept-charset" => "utf-8", :action => "#", :method => "post"}
            .modal-body
              .row
                .col-lg-6.col-md-6.col-sm-6{:style => "padding-bottom: 10px;"}
                  %input.form-control{:autofocus => "", :name => "firstname", :placeholder => "Firstname", :required => "", :type => "text"}/
                .col-lg-6.col-md-6.col-sm-6{:style => "padding-bottom: 10px;"}
                  %input.form-control{:name => "lastname", :placeholder => "Lastname", :required => "", :type => "text"}/
              .row
                .col-lg-12.col-md-12.col-sm-12{:style => "padding-bottom: 10px;"}
                  %input.form-control{:name => "email", :placeholder => "E-mail", :required => "", :type => "text"}/
              .row
                .col-lg-12.col-md-12.col-sm-12{:style => "padding-bottom: 10px;"}
                  %input.form-control{:name => "subject", :placeholder => "Subject", :required => "", :type => "text"}/
              .row
                .col-lg-12.col-md-12.col-sm-12
                  %textarea.form-control{:name => "comment", :placeholder => "Message...", :required => "", :rows => "6", :style => "resize:vertical;"}
            .panel-footer{:style => "margin-bottom:-14px;"}
              %input.btn.btn-success{:type => "submit", :value => "Send"}/
              / <span class="glyphicon glyphicon-ok"></span>
              %input.btn.btn-danger{:type => "reset", :value => "Clear"}/
              / <span class="glyphicon glyphicon-remove"></span>
              %button.btn.btn-default.btn-close{"data-dismiss" => "modal", :style => "float: right;", :type => "button"} Close
    
    %script{:src => "assets/js/jquery-3.2.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/js/bootstrap.js", :type => "text/javascript"}
    %script{:src => "assets/js/slick.js", :type => "text/javascript"}
    %script{:src => "assets/js/slick-custom.js", :type => "text/javascript"}
    %script{:src => "assets/js/brieva.js", :type => "text/javascript"}
    %script{:src => "assets/js/wow.js", :type => "text/javascript"}
    / <script type="text/javascript" src="assets/js/npm.js"></script>

:scss
  @media (min-width: 1025px) and (max-width: 1280px) {
    html {
      font-size: 18px !important;
    }
    #cont-texto {
      margin-top: 14%;
    }
  }
