!!!
%html{:lang => "es"}
  %head
    = render 'app/layouts/head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grupo Brieva - Casos de éxito
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{:content => "Grandes Creativos que sabemos Hacer Marcas Exitosas", :name => "description"}/
    %meta{:content => "slicegroup.xyz", :name => "author"}/
    %link{:href => "assets/img/favicon.ico", :rel => "shortcut icon"}/
    / CORE CSS
    -# %link{:href => "assets/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    -# %link{:href => "assets/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}/
    -# %link{:href => "assets/css/slick.css", :rel => "stylesheet", :type => "text/css"}/
    -# %link{:href => "assets/css/slick-theme.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/animate.css", :rel => "stylesheet", :type => "text/css"}/
    -# %link{:href => "assets/css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    = go_to_top

    %header#header-exito
      %section.container{:style => "position: relative; min-height: 50vh; height: auto;"}
        #cont-logotipo
          #logotipo

            #marca
              = link_to root_path do
                %img{:src => "assets/img/logo_peq.png"}/

            #burger-button
              #bars
                %span.top
                %span.middle
                %span.bottom

          #hora.hidden-xs
            #icono-hora
              %img{:src => "assets/img/icono_sol.png"}/
            #texto-hora
              %span 3.39 PM. Abierto ahora

        = navbar

        #header-exito-texto.mt-14.mb-7
          %p.sfpro.color-verde.texto-2_5 Diseñamos con un proposito. Diseñamos para Humanos
          %br
          %p.sfreg.texto-5
            Gracias a nuestras
            = succeed "," do
              %span.color-azul ideas
            %span.color-rojo calidad
            y
            %span.color-verde responsabilidad
            hemos logrado desarrollar proyectos que alcanzan y cumplen objetivos exitosos. Ejemplos

    %section#exitos-galeria
      .container
        %ul.nav.nav-pills{style: "margin-bottom: 10rem"}
          %li
            %a.filter-button.link-azul-gris{"data-filter" => "all", :href => "javascript:void(0);"} Ver todos
          %li
            %a.filter-button.link-azul-gris{"data-filter" => "web", :href => "javascript:void(0);"} Ver páginas web exitosas
          %li
            %a.filter-button.link-azul-gris{"data-filter" => "redes", :href => "javascript:void(0);"} Ver campañas de redes sociales
          %li
            %a.filter-button.link-azul-gris{"data-filter" => "google", :href => "javascript:void(0);"} Ver campañas de Google Adwords
          %li
            %a.filter-button.link-azul-gris{"data-filter" => "branding-sec", :href => "javascript:void(0);"} Ver proyectos de Branding

        .portfolio-p
          #web
            = render "app/front/success_proyects/web", web: @web

          #social
            = render "app/front/success_proyects/social", social: @social

          #google
            = render "app/front/success_proyects/google", google: @google

          #branding
            = render "app/front/success_proyects/branding", branding: @branding

          .text-center#show-more
            %a.link-azul-gris.all Ver más proyectos con éxito

            %a.link-azul-gris.web.hidden.hidden-xs{"v-on:click" => "showMoreWebs(4)", "v-if" => "showWebs < #{@web.count}"} Ver más proyectos web
            %a.link-azul-gris.web.hidden.visible-xs{"v-on:click" => "showMoreWebs(2)", "v-if" => "showWebs < #{@web.count}"} Ver más proyectos web

            %a.link-azul-gris.redes.hidden.hidden-xs{"v-on:click" => "showMoreSocial(4)", "v-if" => "showSocial < #{@social.count}"} Ver más proyectos de redes sociales
            %a.link-azul-gris.redes.hidden.visible-xs{"v-on:click" => "showMoreSocial(2)", "v-if" => "showSocial < #{@social.count}"} Ver más proyectos de redes sociales

            %a.link-azul-gris.google.hidden.hidden-xs{"v-on:click" => "showMoreGoogle(4)", "v-if" => "showGoogle < #{@google.count}"} Ver más proyectos de Google AdWords
            %a.link-azul-gris.google.hidden.visible-xs{"v-on:click" => "showMoreGoogle(2)", "v-if" => "showGoogle < #{@google.count}"} Ver más proyectos Google AdWords

            %a.link-azul-gris.branding-sec.hidden.hidden-xs{"v-on:click" => "showMoreBranding(4)", "v-if" => "showBranding < #{@branding.count}"} Ver más proyectos de branding
            %a.link-azul-gris.branding-sec.hidden.visible-xs{"v-on:click" => "showMoreBranding(2)", "v-if" => "showBranding < #{@branding.count}"} Ver más proyectos de branding

    %section.separador.hidden-xs{:style => "height: 30rem; background-color: white; width: 100%;"}

    %section#casos-cta.casos-cta
      .container
        .row
          .col-sm-6.col-xs-12

            %a{:href => "https://www.instagram.com/grupobrieva/", :target => "_blank"}
              .proyecto.wow.animated.fadeInUp
                %img.img-responsive.img-fondo{:alt => "Foto caso de exito", :src => "assets/img/proyecto-ote.jpg"}/
                .cont
                  .texto.mt-2
                    %p.texto-2_5.sfreg.color-blanco Proyecto en progreso
                    %p.texto-5.sfpro.color-blanco OTE - Operación Técnica de Eventos Colombia.
                  %div
                    %img.pull-right{:alt => "...", :src => "assets/img/logo-proyecto-ote.png", :style => "width: 12rem; height: auto;"}/

          .col-sm-6.col-xs-12

            %a{:href => "https://www.instagram.com/grupobrieva/", :target => "_blank"}
              .proyecto.wow.animated.fadeInUp
                %img.img-responsive.img-fondo{:alt => "Foto caso de exito", :src => "assets/img/proyecto-capmike.jpg"}/
                .cont
                  .texto.mt-2
                    %p.texto-2_5.sfreg.color-blanco Proyecto en progreso
                    %p.texto-5.sfpro.color-blanco
                      The Captain Mike.
                      %br>/
                      Global Sailing Boats Service.
                  %div
                    %img.pull-right{:alt => "...", :src => "assets/img/logo-proyecto-capmike.png", :style => "width: 7.5rem; height: auto;"}

    %section#contactos.contactos-services
      .container
        .row
          .col-sm-6.col-xs-12.contactos-services-cont
            .wip.color-blanco
              %p.texto-4.sfpro Proyectos en desarrollo #wip
              %p.texto-2_5.sfreg
                Sígue nuestra actividad y revisa en nuestro
                %a{:href => "https://www.instagram.com/grupobrieva/", :target => "_blank"} portafolio de instagram
                que proyecto estamos diseñando.
              %br/
              #aboutus-rrss.center-block.text-center
                %i.fa.fa-facebook{"aria-hidden" => "true"}
                %i.fa.fa-instagram{"aria-hidden" => "true"}

          = render "app/front/partials/contact"

    %footer
      .container
        .footer-cont
          %img{:alt => "...", :src => "assets/img/icono.png"}/
          %p
            Agencia de Publicidad Digital / Diseño Gráfico y Diseño de páginas web. Teléfono (5) 643 0188 - +57 301 324 5468 - contacto@grupobrieva
            %br/
            = succeed "\u{a0}\u{a0}\u{a0}\u{a0}" do
              %a{:href => "legal.html"} Cookies y Politica de privacidad
            = succeed "\u{a0}\u{a0}\u{a0}" do
              %a{:href => "http://www.grupobrieva.com/"} Diseñado por Grupo Brieva
            %a{:href => "http://slicegroup.xyz/"} Desarrollado por Slice group
        / /.footer-cont
      / /.container
    / FOOTER
    /
      *******************
      Core JS
      *********************
    %script{:src => "assets/js/jquery-3.2.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/js/bootstrap.js", :type => "text/javascript"}
    %script{:src => "assets/js/slick.js", :type => "text/javascript"}
    %script{:src => "assets/js/slick-custom.js", :type => "text/javascript"}
    %script{:src => "assets/js/brieva.js", :type => "text/javascript"}
    %script{:src => "assets/js/wow.js", :type => "text/javascript"}
    / <script type="text/javascript" src="assets/js/npm.js"></script>

:scss
  .hidden {
    display: none;
  }

:javascript
  new Vue({
    el: '#exitos-galeria',
    data: {
      showWebs: 4,
      showWebsXs: 2,
      showSocial: 4,
      showSocialXs: 2,
      showGoogle: 4,
      showGoogleXs: 2,
      showBranding: 4,
      showBrandingXs: 2,
    },
    methods: {
      showMoreWebs(val) {
        this.showWebs += val
        this.showWebsXs += val
      },
      showMoreSocial(val) {
        this.showSocial += val
        this.showSocialXs += val
      },
      showMoreGoogle(val) {
        this.showGoogle += val
        this.showGoogleXs += val
      },
      showMoreBranding(val) {
        this.showBranding += val
        this.showBrandingXs += val
      },
    }
  })
