!!!
%html{:lang => "es"}
  %head
    = render 'app/layouts/head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grupo Brieva - Diseño Web
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{:content => "Grandes Creativos que sabemos Hacer Marcas Exitosas", :name => "description"}/
    %meta{:content => "slicegroup.xyz", :name => "author"}/
    %link{:href => "assets/img/favicon.ico", :rel => "shortcut icon"}/
    / CORE CSS
    %link{:href => "assets/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/slick.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/slick-theme.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/animate.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    = go_to_top
    %header#header-services
      %section.container{:style => "position: relative; min-height: 50vh; height: auto;"}
        #cont-logotipo
          #logotipo
            / MARCA
            #marca
              = link_to root_path do
                %img{:src => "assets/img/logo_peq.png"}/
            / BURGER BUTTON
            #burger-button
              #bars
                %span.top
                %span.middle
                %span.bottom
          / /.logotipo
          #hora.hidden-xs
            #icono-hora
              %img{:src => "assets/img/icono_sol.png"}/
            #texto-hora
              %span 3.39 PM. Abierto ahora
          / /.hora
        = navbar

        #header-service-texto.mt-14.mb-14
          %p.sfpro.color-verde.texto-2_5 Diseño de paginas web inteligentes UI / UX
          %br/
          %p.sfreg.texto-5 Cada proyecto web lo desarrollamos con una estrategia de mercadeo digital para que tus clientes encuentren tu página fácil en internet y el mensaje sea claro
          %p.sfpro.texto-3.color-plomo Diseñamos páginas web que crean una experiencia en el usuario
        / /.header-service-texto
        %a.mover1
          #cont-flecha-services
            %img#flecha.center-block{:src => "assets/img/flecha.png"}/
      / /.container
    / /.HEADER
    %section#cta1.webdesing2
      .degradado
        .container
          .row
            - if @webs.count <= 3
              - @webs.each do |web|
                .col-sm-4.col-xs-12
                  %p.color-rojo.sfreg.texto-1_7= web.headline.upcase
                  %div{:style => "border-right: 1px solid #999; height: 140px"}
                    %p.color-blanco.sfpro.texto-4.mb-1{style: "width: 300px !important"}
                      = web.name
            - else
              .row#webs
                - @webs.each do |web|
                  .col-sm-4.col-xs-12
                    %p.color-rojo.sfreg.texto-1_7= web.headline.upcase
                    %div{:style => "border-right: 1px solid #999; height: 140px"}
                      %p.color-blanco.sfpro.texto-4.mb-1{style: "width: 300px !important"}
                        = web.name

    %section#cta-web
      .container.mt-17.mb-17
        %p.sfreg.texto-5.mb-2
          %span.color-amarillo Diseñamos con el objetivo de crear
          %span.color-azul conexiones
          %br/
          %span.color-amarillo entre marcas, productos y
          %span.color-verde humanos
        =link_to success_path do
          .link-rojo-azul Ver todos los proyectos web realizados

    = render "app/front/partials/last_proyects"

    %section#contactos.contactos-services
      .container
        .row
          .col-sm-6.col-xs-12.contactos-services-cont
            .wip.color-blanco
              %p.texto-4.sfpro
                Proyectos
                %br>/
                en desarrollo
                %br>/
                \#wip
              %p.texto-2_5.sfreg
                Sígue nuestra actividad y revisa en nuestro
                %a{:href => "https://www.instagram.com/grupobrieva/", :target => "_blank"} portafolio de instagram
                que proyecto estamos diseñando.
              %br/
              #aboutus-rrss.center-block.text-center
                %i.fa.fa-facebook{"aria-hidden" => "true"}
                %i.fa.fa-instagram{"aria-hidden" => "true"}
          = render "app/front/partials/contact"

    %footer
      .container
        .footer-cont
          %img{:alt => "...", :src => "assets/img/icono.png"}/
          %p
            Agencia de Publicidad Digital / Diseño Gráfico y Diseño de páginas web. Teléfono (5) 643 0188 - +57 301 324 5468 - contacto@grupobrieva
            %br/
            = succeed "\u{a0}\u{a0}\u{a0}\u{a0}" do
              %a{:href => "legal.html"} Cookies y Politica de privacidad
            = succeed "\u{a0}\u{a0}\u{a0}" do
              %a{:href => "http://www.grupobrieva.com/"} Diseñado por Grupo Brieva
            %a{:href => "http://slicegroup.xyz/"} Desarrollado por Slice group

    %script{:src => "assets/js/jquery-3.2.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/js/bootstrap.js", :type => "text/javascript"}
    %script{:src => "assets/js/slick.js", :type => "text/javascript"}
    %script{:src => "assets/js/slick-custom.js", :type => "text/javascript"}
    %script{:src => "assets/js/brieva.js", :type => "text/javascript"}
    %script{:src => "assets/js/wow.js", :type => "text/javascript"}
    / <script type="text/javascript" src="assets/js/npm.js"></script>
